@*Aini add file 16032025*@
@model System.Data.DataTable
@using System.Data;
@using MVC_SYSTEM.Class;
@{
    GetLadang GetLadang = new GetLadang();
    GetCalculateTotal GetCalculateTotal = new GetCalculateTotal();
    GetWilayah GetWilayah = new GetWilayah();
    ViewBag.Title = "Audit Trail";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

}

<!-- Styles for Wait Messages -->
@*<link href="~/Asset/Content/font-awesome.min.css" rel="stylesheet" />*@
<link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet">
<div id="UpdateProgress1" style="display:none;">
    <div class="progressTest">
        <label>
            @GlobalResAuditTrail.WaitMsg
        </label>
    </div>
</div>

@using (Html.BeginForm("AuditTrail2", "AuditTrail", FormMethod.Post, new { id = "AuditTrail" }))
{
    @Html.AntiForgeryToken()
    <section class="content-wrapper main-content clear-fix">
        <div id="Disposition" class="well" style="margin-top:7px;">

            <div class="modal-body">
                <div class="audittrailinfo">
                    <h4><b>Laporan Audit Trail User</b></h4>
                </div><br />
                <hr />
                <div class="table-responsive">
                    <table class="record_table table table-bordered table-hover dataTables-manage" id="tbl_model" width="100%">
                        <thead>
                            <tr>
                                <th width="5%" class="text-center">
                                </th>
                                <th class="text-center">
                                    <b>User</b>
                                </th>
                                <th class="text-center">
                                    <b>Activity</b>
                                </th>
                                <th class="text-center">
                                    <b>Date</b>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <br />
            <div class="modal-footer">
                <a style="text-align:right" href="@Url.Action("Index", "AuditTrail")" class="btn btn-warning">@GlobalResEstateDetail.btnBack</a>
            </div>

        </div>
    </section>
}
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        function destroyDataTable() {
            if ($.fn.DataTable.isDataTable("#tbl_model")) {
                $('#tbl_model').DataTable().destroy();
            }
        }
        datatableAudit();
        function datatableAudit() {
            destroyDataTable();
            $.ajax({
                url: '@Url.Action("UserAuditTrail", "AuditTrail")',
                method: 'post',
                dataType: 'json',
                success: function (getdata) {
                    console.log(getdata);

                    $("#tbl_model").DataTable({
                        data: getdata,
                        columns: [
                            { "data": "username" },
                            { "data": "username" },
                            { "data": "activity" },
                            { "data": "date" }
                        ],
                        columnDefs: [
                            {
                                targets: 0,
                                render: function (data, type, row, meta) {
                                    return meta.row + meta.settings._iDisplayStart + 1;
                                }
                            }
                        ]
                    });
                }
            });

            $('#modalTable').modal('show');
        };
    });
</script>
<script src="~/Asset/Scripts/jquery.stickytableheaders2.js" type="text/javascript"></script>
<script>
    $("table").stickyTableHeaders();
</script>