@model MVC_SYSTEM.ViewingModels.PagedList<MVC_SYSTEM.ModelsEstate.tbl_BuruhKontrak>
@using MVC_SYSTEM.Class;
@{
    ViewBag.Title = "Maklumat Buruh Kontrak";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "Get",
        UpdateTargetId = "BuruhKontraktorDetails",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "UpdateProgress1"
    };
}

<script src="~/Asset/Scripts/jquery.unobtrusive-ajax.min.js"></script>

@section scripts{
    @Scripts.Render("~/Asset/Scripts/AjaxModal.js")
}

<sction class="content-wrapper main-content clear-fix">
    <div class="well bottom" style="padding-bottom:16px;">
        @using (Ajax.BeginForm("_BuruhKontraktor", "DataEntry", null, options, new { @id = "BuruhKontraktorSearchDetails" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-sm-2">
                    <label for="NamaSyarikat">@GlobalResApproval.lblSyarikatName</label>
                    @Html.DropDownList("SyarikatIDList", null, htmlAttributes: new { @class = "form-control" })
                </div>

                <div class="col-sm-3">
                    <label for="NamaWilayah">@GlobalResApproval.lblWilayahName</label>
                    @Html.DropDownList("WilayahIDList", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-3">
                    <label for="NamaLadang">@GlobalResApproval.lblLadangName</label>
                    @Html.DropDownList("LadangIDList", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-2" style="padding-top:25px;">
                    <input class="btn btn-primary btn-block" type="submit" name="Lihat" id="Lihat" value="Lihat" onclick="return DisplayProgressMessage(this);" />
                </div>
            </div>
        }
        </div>

    <div class="well" style="margin-top:7px;">
        <div class="modal-body">
            <div class="panel panel-primary">
                <div class="panel-heading">@GlobalResCorp.titleContractLabor</div>
                <div class="panel-body">
                    <div id="BuruhKontraktorDetails">
                        @Html.Action("_BuruhKontraktor")
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer col-md-12">
            <a data-modal1='' href=@Url.Action("_BuruhKontraktorCreate", "DataEntry") class="btn btn-success" role="button" onclick="return DisplayProgressMessage(this);">@GlobalResCorp.btnAdd</a>
            <a href=@Url.Action("Index", "DataEntry") class="btn btn-warning" role="button" onclick="return DisplayProgressMessage(this);">@GlobalResCorp.btnBack</a>
        </div>
    </div>
</sction>
<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<div id='myModal1' class='modal fade in'>
    <div class="modal-dialog modal-lg" style="width: 70%">
        <div class="modal-content">
            <div id='myModalContent1'></div>
        </div>
    </div>
</div>

<script>
    function resetSearch1() {
        document.getElementById("txtfilter").value = "";
        document.getElementById('btnCari').click();
    }
</script>

<script>
     $("#SyarikatIDList").change(function () {
        var SyarikatIDList = {};
        var disableoption = "";
        SyarikatIDList.url = "@Url.Action("GetWilayah2", "DataEntry")";
        SyarikatIDList.type = "POST";
        SyarikatIDList.data = JSON.stringify({ SyarikatID: $("#SyarikatIDList").val() });
        SyarikatIDList.datatype = "json";
        SyarikatIDList.contentType = "application/json";
        SyarikatIDList.success = function (wilayahlist) {
            $("#WilayahIDList").empty();

            $("#LadangIDList").empty();
            $("#LadangIDList").append("<option value=0>@GlobalResCorp.lblChoose</option>");
            for (var i = 0; i < wilayahlist.length; i++) {
                if ($("#SyarikatIDList").val() == 0) {
                    disableoption = "disabled";
                }
                $("#WilayahIDList").append("<option value=" + wilayahlist[i].Value + " " + disableoption + ">" + wilayahlist[i].Text + "</option>");
            }
            getLadangList();
        };

        SyarikatIDList.error = function () { $.simplyToast('Sistem masalah', 'danger'); };
        $.ajax(SyarikatIDList);
    });



  function getLadangList() {
        var WilayahIDList = {};
        var disableoption = "";
        WilayahIDList.url = "@Url.Action("GetLadang3", "DataEntry")";
        WilayahIDList.type = "POST";
      WilayahIDList.data = JSON.stringify({ WilayahID: $("#WilayahIDList").val(), SyarikatList: $("#SyarikatIDList").val() });
        WilayahIDList.datatype = "json";
        WilayahIDList.contentType = "application/json";
        WilayahIDList.success = function (ladanglist) {
            $("#LadangIDList").empty();
            $("#LadangIDList").append("<option value=0>@GlobalResActiveWorker.sltAll</option>");
            for (var i = 0; i < ladanglist.length; i++) {
                if ($("#WilayahIDList").val() == 0) {
                    disableoption = "disabled";
                }
                $("#LadangIDList").append("<option value=" + ladanglist[i].Value + " " + disableoption + ">" + ladanglist[i].Text + "</option>");
            }
        };
        WilayahIDList.error = function () { $.simplyToast('Sistem masalah', 'danger'); };
        $.ajax(WilayahIDList);
    };


    /*Commented by Shazana 1/8/2023*/
    @*if ($("#WilayahIDList").val() == 0) {
        var WilayahIDList = {};
        var disableoption = "";
        WilayahIDList.url = "@Url.Action("GetLadang", "ApplicationSupport")";
        WilayahIDList.type = "POST";
        WilayahIDList.data = JSON.stringify({ WilayahID: $("#WilayahIDList").val(), SyarikatID: $("#SyarikatIDList").val() });
        WilayahIDList.datatype = "json";
        WilayahIDList.contentType = "application/json";
        WilayahIDList.success = function (ladanglist) {
            debugger
            $("#LadangIDList").empty();
            $("#LadangIDList").append("<option value=0>@GlobalResActiveWorker.sltAll</option>");
            for (var i = 0; i < ladanglist.length; i++) {
                if ($("#WilayahIDList").val() == 0) {
                    disableoption = "disabled";
                }
                $("#LadangIDList").append("<option value=" + ladanglist[i].Value + " " + disableoption + ">" + ladanglist[i].Text + "</option>");
            }
        };
        WilayahIDList.error = function () { $.simplyToast('Sistem masalah', 'danger'); };
        $.ajax(WilayahIDList);
    }*@

    $("#WilayahIDList").change(function () {
        var WilayahIDList = {};
        var disableoption = "";
        WilayahIDList.url = "@Url.Action("GetLadang3", "DataEntry")";
        WilayahIDList.type = "POST";
        WilayahIDList.data = JSON.stringify({ WilayahID: $("#WilayahIDList").val(), SyarikatList: $("#SyarikatIDList").val() });
        WilayahIDList.datatype = "json";
        WilayahIDList.contentType = "application/json";
        WilayahIDList.success = function (ladanglist) {
            $("#LadangIDList").empty();
            $("#LadangIDList").append("<option value=0>@GlobalResActiveWorker.sltAll</option>");
            for (var i = 0; i < ladanglist.length; i++) {
                if ($("#WilayahIDList").val() == 0) {
                    disableoption = "disabled";
                }
                $("#LadangIDList").append("<option value=" + ladanglist[i].Value + " " + disableoption + ">" + ladanglist[i].Text + "</option>");
            }
        };
        WilayahIDList.error = function () { $.simplyToast('Sistem masalah', 'danger'); };
        $.ajax(WilayahIDList);
    });
</script>



