@using MVC_SYSTEM.Class;
@{
    ViewBag.Title = "Laporan Bayaran Melalui Ewallet Touch n Go";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "Get",
        UpdateTargetId = "searchResultWorkerPaySheetRptInfo",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "divLoading"
    };
}

<script src="~/Asset/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<div id="divLoading" style="display:none;">
    <div class="progressTest">
        <label>
            @GlobalResCorp.msgWait
        </label>
    </div>
</div>

<section class="content-wrapper main-content clear-fix">
    <div class="well bottom" style="padding-bottom:16px;">
        @using (Ajax.BeginForm("_tng", "MaybankFileGen", null, options, new { @id = "tng" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-1">
                        <label>@GlobalResCorp.lblMonth</label>
                        @Html.DropDownList("MonthList", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-sm-1">
                        <label>@GlobalResCorp.lblYear</label>
                        @Html.DropDownList("YearList", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-sm-2">
                        <label>@GlobalResCorp.lblCompany </label>
                        @Html.DropDownList("CompCodeList", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-sm-2">
                        <label>@GlobalResCorp.lblRegion</label>
                        @Html.DropDownList("WilayahList", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("Client ID")
                        @Html.TextBox("filter", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-sm-2">
                        <label>Tarikh Bayaran</label>
                        @*<div class='input-group date' id='datetimepicker1'>*@
                        <input type="date" class="form-control" name="PaymentDate" id="PaymentDate" onkeydown="return false" required />
                        @*</div>*@
                    </div>
                    <div class="col-sm-1" style="padding-top:25px;">
                        <input class="btn btn-primary btn-block" type="submit" name="Lihat" id="btnSubmit" value="Lihat" />
                    </div>
                </div>
                <div class="form-group">
                    <br />
                    <br />
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="NoRecord">@GlobalResCorp.lblRecordRead</label>
                        <input type="text" name="RecordNo" id="RecordNo" class="form-control" value="" disabled />
                    </div>
                    <div class="col-sm-4">
                        <label for="TotalSalary">@GlobalResCorp.lblSalaryPaid (RM)</label>
                        <input type="text" name="TotalSalary" id="TotalSalary" class="form-control" value="" disabled />
                    </div>
                    <div class="col-sm-4">
                        <label for="FileName">@GlobalResCorp.lblGenerateFile</label>
                        <input type="text" name="FileName" id="FileName" class="form-control" value="" disabled />
                    </div>
                </div>
            </div>

        }
    </div>
    <div class="well" style="margin-top:7px;">
        <div class="panel panel-primary">
            <div class="panel-heading">Laporan Bayaran Melalui Ewallet Touch N Go</div>
            <div class="panel-body">
                <div id="searchResultWorkerPaySheetRptInfo">
                    @Html.Action("_tng")
                </div>
            </div>
        </div>

        @*<div class="modal-footer col-md-12">
            <a href=@Url.Action("Index", "GenTextFile") class="btn btn-warning" role="button" onclick="return DisplayProgressMessage(this);">@GlobalResCorp.btnBack</a>
        </div>*@

    </div>
</section>


<!-- modal placeholder-->
<div id='myModal1' class='modal fade in'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div id='myModalContent1'></div>
        </div>
    </div>
</div>

<div id='myModal' class='modal fade in'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Asset/Scripts/AjaxModal.js")
}

<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function (e) {
            var Month = $("#MonthList").val();
            var Year = $("#YearList").val();
            var CompCode = $("#CompCodeList").val();
            var Wilayah = $("#WilayahList").val();
            $("#UpdateProgress1").css("display", "");
            var ajxfn = {};
            ajxfn.url = "@Url.Action("CheckTngGenDataDetail", "MaybankFileGen")";
            ajxfn.type = "POST";
            ajxfn.async = false;
            ajxfn.data = JSON.stringify({ Month: Month, Year: Year, CompCode: CompCode, Wilayah: Wilayah });
            ajxfn.datatype = "json";
            ajxfn.contentType = "application/json";
            ajxfn.success = function (result) {
                $('#RecordNo').val(result.totaldata);
                $('#TotalSalary').val(result.salary);
                $('#FileName').val(result.file);
                $.simplyToast(result.msg, result.statusmsg);
                $("#UpdateProgress1").css("display", "none");
            };
            ajxfn.error = function () {
                $.simplyToast('@GlobalResCorp.msgError', 'danger');
                $("#UpdateProgress1").css("display", "none");
            };
            $.ajax(ajxfn);
        });

        $("#CompCodeList").change(function () {
            //debugger
            var CompCodeList = {};
            var disableoption = "";
            CompCodeList.url = "@Url.Action("GetWilayah", "MaybankFileGen")";
            CompCodeList.type = "POST";
            CompCodeList.data = JSON.stringify({ SyarikatID: $("#CompCodeList").val() });
            CompCodeList.datatype = "json";
            CompCodeList.contentType = "application/json";
            CompCodeList.success = function (wilayahlist) {
                $("#WilayahList").empty();
                for (var i = 0; i < wilayahlist.length; i++) {
                    if ($("#CompCodeList").val() == 0) {
                        disableoption = "disabled";
                    }
                    $("#WilayahList").append("<option value=" + wilayahlist[i].Value + " " + disableoption + ">" + wilayahlist[i].Text + "</option>");
                }
            };

            CompCodeList.error = function () { $.simplyToast('Sistem masalah', 'danger'); };
            $.ajax(CompCodeList);
        });
    });



</script>