@using MVC_SYSTEM.Class
@using System.Collections
@model IEnumerable<MVC_SYSTEM.ModelsCustom.CustMod_DataEntryReportResult>

@{
    GetConfig GetConfig = new GetConfig();
    ChangeTimeZone time = new ChangeTimeZone();

    int year = time.gettimezone().Year;
    int month = time.gettimezone().Month;
    int day = time.gettimezone().Day;
    int hour = time.gettimezone().Hour;
    int minute = time.gettimezone().Minute;
    int second = time.gettimezone().Second;

    int bil = 0;
    int bilLdg = 0;
    string uniquefilename = "DataEntryReport_" + ViewBag.UserID + "_" + year.ToString() + month.ToString() + day.ToString() + hour.ToString() + minute.ToString() + second.ToString();
    var namasyarikat = GetConfig.GetSyarikatName(ViewBag.costcenter);
    var namapenuhsyarikat = GetConfig.GetSyarikatFullName(ViewBag.costcenter);
}

@if (Model != null && Model.Count() != 0)
{
    <div id="scrollArea" class="modal-body">
        @foreach (var data in Model)
        {
            bil = 0;
            <table class="table table-hover table-sm" style="font-size: 11px;" border="0" cellspacing="10">
                <thead>
                    <th colspan="28" style="text-align:center;vertical-align:middle;">
                         @namapenuhsyarikat
                         <br />
                         @GlobalResLocalWorkerInfo.hdrCmpnyNo : @namasyarikat
                         <br />
                    </th>
                    <tr>
                        <th colspan="@(6 + @ViewBag.Days.Count)" rowspan="1" style="border-bottom: 1px solid black;" border="1">
                        </th>
                    </tr>
                    <tr>
                        <th colspan="@(6 + @ViewBag.Days.Count)" rowspan="1" style="vertical-align: middle !important; border: 1px solid black; font-size: 11px; padding: 2px;" border="1">
                            Ladang: @GetConfig.GetLadangKodFromID(data.ladangID) - @GetConfig.GetLadangNameFromID(data.ladangID)
                        </th>
                    </tr>
                    <tr>
                        <th colspan="1" rowspan="1" bgcolor="#FFCC80" style="color: black; vertical-align: middle !important; border: 1px solid black; font-size: 8px; padding: 4px;" border="1">
                            @GlobalResLocalWorkerInfo.hdrNo
                        </th>
                        <th colspan="2" rowspan="1" bgcolor="#FFCC80" style="color: black; vertical-align: middle !important; border: 1px solid black; font-size: 8px; padding: 4px;" border="1">
                            @GlobalResCorp.hdrNoPkj
                        </th>
                        <th colspan="3" rowspan="1" bgcolor="#FFCC80" style="color: black; vertical-align: middle !important; border: 1px solid black; font-size: 8px; padding: 4px;" border="1">
                            @GlobalResCorp.hdrName
                        </th>
                        @foreach (var titleDay in ViewBag.Days)
                        {
                            <th colspan="1" rowspan="1" bgcolor="#FFCC80" style="color: black; vertical-align: middle !important; text-align: center; border: 1px solid black; min-width: 30px; font-size: 8px; padding: 4px;" border="1">
                                @titleDay
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pkj in data.pkjList)
                    {
                        bil++;
                        <tr>
                            <td colspan="1" rowspan="1" style="vertical-align: middle !important; text-align: center; border: 1px solid black; font-size: 8px; padding: 4px;" border="1">
                                @bil
                            </td>
                            <td colspan="2" rowspan="1" style="vertical-align: middle !important; border: 1px solid black; font-size: 8px; padding: 4px;" border="1">
                                @pkj.noPkj
                            </td>
                            <td colspan="3" rowspan="1" style="vertical-align: middle !important; border: 1px solid black; font-size: 8px; padding: 4px;" border="1">
                                @pkj.namaPkj
                            </td>
                            @foreach (var pkjDay in pkj.dataEntryList)
                            {
                                if (pkjDay.Attendance == true && pkjDay.Task == true)
                                {
                                    <td colspan="1" rowspan="1" bgcolor="#82E0AA" style="border: 1px solid black;" border="1">
                                    </td>
                                }
                                else
                                {
                                    <td colspan="1" rowspan="1" bgcolor="#EC7063" style="border: 1px solid black;" border="1">
                                    </td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

    <div style="text-align:right; margin-top:10px">
        <a class="btn btn-default btn-sm" href="#" id="downloadpdf">
            <span><img src="~/Asset/Images/pdf-icon.png" width="20px" height="20px" /></span> @GlobalResCorp.btnDownloadPdf
        </a>
        <a class="btn btn-default btn-sm" href="#" onclick="HTMLtoExcel('@uniquefilename')">
            <span><img src="~/Asset/Images/excel-icon.png" width="20px" height="20px" /></span> @GlobalResCorp.btnDownloadExcel
        </a>
    </div>
}


@if (Model.Count() == 0)
{
    <div class="modal-body" style="text-align: center">
        <p style="color: red">@ViewBag.Message</p>
    </div>
}

<script src="~/Asset/Scripts/FromHTML.js"></script>
<script src="~/Asset/Scripts/FileSaver.js"></script>

<script>
    $(document).ready(function () {
        $("#downloadpdf").click(function () {
            var myHtml = document.getElementById('scrollArea').innerHTML;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ConvertPDF2", "Report")',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({ myHtml: myHtml, filename: "@uniquefilename", reportname: "MasterDataPkj" }),
                success: function (result) {
                    if (result.success) {
                        var win = window.open(result.link, '_blank');
                        win.focus();
                    } else {
                        $.simplyToast(result.msg, result.status);
                    }
                },
            });
            return false;
        });
    });
</script>