@using MVC_SYSTEM.Class
@using MVC_SYSTEM.Models
@model IEnumerable<MVC_SYSTEM.ModelsDapper.sp_RptGajiMinima_New_Result>
@{
    GetConfig GetConfig = new GetConfig();

    int bil = 0;
    //farahin tambah declaration uniquefilename
    ChangeTimeZone ChangeTimeZone = new ChangeTimeZone();

    int years = ChangeTimeZone.gettimezone().Year;
    int months = ChangeTimeZone.gettimezone().Month;
    int day = ChangeTimeZone.gettimezone().Day;
    int hour = ChangeTimeZone.gettimezone().Hour;
    int minute = ChangeTimeZone.gettimezone().Minute;
    int second = ChangeTimeZone.gettimezone().Second;

    string uniquefilename = "GajiMinima" + ViewBag.UserID + "_" + years.ToString() + months.ToString() + day.ToString() + hour.ToString() + minute.ToString() + second.ToString();
}

@if (Model != null && Model.Count() != 0)
{
    //farahin tukar div id
    <div id="scrollArea" class="modal-body">
        @*Added by Shazana 1/8/2023*@
        <p>@ViewBag.GajiMinima</p>
        @foreach (var costcentre in Model.Select(s => s.fld_CostCentre).Distinct())
        {
            var nosyarikat = GetConfig.GetSyarikatNo(costcentre);
            var namapenuhsyarikat = GetConfig.GetSyarikatFullName(costcentre);

            <p align="center" style="font-size: 11px" :><b>@namapenuhsyarikat</b></p>
            <p align="center" style="font-size: 11px" :><b>@GlobalResNoSkb.hdrCmpnyNo : @nosyarikat</b></p>
            <p align="center" style="font-size: 11px" :><b>@GlobalResCorp.titleMinimumWageReport</b></p>
            <br />
            //Modified by Shazana 1/8/2023
            foreach (var wilayah in Model.Select(s => s.fld_WIlayahID).Distinct())
            {
                //Commented by Shazana 1/8/2023
                @*<p align="center" style="font-size: 11px" :><b>@ViewBag.NamaSyarikat</b></p>
                    <p align="center" style="font-size: 11px" :><b>@GlobalResNoSkb.hdrCmpnyNo : @ViewBag.NoSyarikat</b></p>
                    <p align="center" style="font-size: 11px" :><b>@GlobalResCorp.titleMinimumWageReport</b></p>
                    <br />*@

                foreach (var ladang in Model.Where(x => x.fld_WIlayahID == wilayah).Select(s => s.fld_LadangID).Distinct())
                {
                    <p align="center" style="font-size: 11px" :><b>@GlobalResCorp.lblRegion : @GetConfig.GetWilayahNameFromID(wilayah)</b></p>

                    <table class="table table-hover" style="font-size: 11px;" border="0">
                        <thead>
                            <tr>
                                <th colspan="11" bgcolor="#CC6600" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">
                                    <font color="white">@GetConfig.GetLadangKodFromID(ladang) - @GetConfig.GetLadangNameFromID(ladang)</font>
                                </th>
                            </tr>
                            <tr>
                                <th width="1%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResLocalWorkerInfo.hdrNo</th>
                                <th width="3%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.hdrNoPkj</th>
                                <th width="3%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.hdrNoKp</th>
                                <th width="3%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.hdrName</th>
                                <th width="3%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblCitizen</th>
                                <th width="3%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.hdrCategory</th>
                                <th width="3%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblOfferedWorkingDay</th>
                                <th width="3%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblExactWorkingDay</th>
                                <th width="2%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblMonthlyWage</th>
                                <th width="2%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblMinimumWageReason</th>
                                <th width="2%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblMinimumWageAction</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            @*Modified by Shazana 1/8/2023*@
                            @*@foreach (var gajiMinimaData in Model.Where(x => x.fld_LadangID == ladang && x.fld_GajiBulanan < 1500))*@
                           
                            @*Modified by Hazim 25/2/2025*@
                            @foreach (var gajiMinimaData in Model.Where(x => x.fld_LadangID == ladang && x.fld_GajiBulanan < ViewBag.GajiMinima))
                            {
                            bil += 1;

                            <tr>
                                <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                    @bil
                                </td>
                                <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                    @gajiMinimaData.fld_NoPkj
                                </td>
                                <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                    @gajiMinimaData.fld_NoKP
                                </td>
                                <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                    @gajiMinimaData.fld_Nama
                                </td>
                                <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                    @GetConfig.GetWebConfigDesc(gajiMinimaData.fld_KodWarganegara, "krytnlist", gajiMinimaData.fld_NegaraID, gajiMinimaData.fld_SyarikatID)
                                </td>
                                <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                    @GetConfig.GetWebConfigDesc(gajiMinimaData.fld_KodKategoriPekerja, "designation", gajiMinimaData.fld_NegaraID, gajiMinimaData.fld_SyarikatID)
                                </td>
                                <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                    @GetConfig.getTotalOfferedWorkingDaysInAMonth(gajiMinimaData.fld_NegaraID, gajiMinimaData.fld_SyarikatID, gajiMinimaData.fld_LadangID, gajiMinimaData.fld_Bulan, gajiMinimaData.fld_Tahun)
                                </td>
                                <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                    @gajiMinimaData.fld_BilanganHariBekerjaSebenar
                                </td>
                                <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                    @gajiMinimaData.fld_GajiBulanan
                                </td>
                                <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                    @GetConfig.GetWebConfigDesc(gajiMinimaData.fld_SebabGajiMinima, "sebabGajiMinima", gajiMinimaData.fld_NegaraID, gajiMinimaData.fld_SyarikatID)
                                </td>
                                <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                    @GetConfig.GetWebConfigDesc(gajiMinimaData.fld_TindakanGajiMinima, "tindakanGajiMinima", gajiMinimaData.fld_NegaraID, gajiMinimaData.fld_SyarikatID)
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                }
            }
        }
    </div>
}

@if (Model.Count() == 0)
{
    <div id="scrollArea2" class="modal-body" style="text-align: center">
        <p style="color: red">@ViewBag.Message</p>

    </div>
}

@*//farahin-21012021*@
<div style="text-align:right; margin-top:10px">
    <a class="btn btn-default btn-sm" href="" id="printpage">
        <span class="glyphicon glyphicon-print"> </span> @GlobalResCorp.btnPrint
    </a>
    <a class="btn btn-default btn-sm" href="#" id="downloadpdf2">
        <span><img src="~/Asset/Images/pdf-icon.png" width="20px" height="20px" /></span> @GlobalResCorp.btnDownloadPdf
    </a>
    <a class="btn btn-default btn-sm" href="#" onclick="HTMLtoExcel('@uniquefilename')">
        <span><img src="~/Asset/Images/excel-icon.png" width="20px" height="20px" /></span> @GlobalResCorp.btnDownloadExcel
    </a>
</div>

@* farahin tambah javascript -21012021 *@
<script src="~/Asset/Scripts/FromHTML.js"></script>
<script src="~/Asset/Scripts/FileSaver.js"></script>
<script>
    $(document).ready(function () {

        $("#printpage").click(function () {
            var DivElement = document.getElementById("scrollArea").innerHTML;
            var oldPage = document.body.innerHTML;
            document.body.innerHTML = DivElement;
            window.print();
            document.body.innerHTML = oldPage;
        })

        $("#downloadpdf2").click(function () {
            var myHtml = document.getElementById('scrollArea').innerHTML;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ConvertPDF2", "Report")',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({ myHtml: myHtml, filename: "@uniquefilename", reportname: "ActiveWorker" }),
                success: function (result) {
                    if (result.success) {
                        var win = window.open(result.link, '_blank');
                        win.focus();
                    } else {
                        $.simplyToast(result.msg, result.status);
                    }
                },
            });
            return false;
        });
    });
</script>
