
@using MVC_SYSTEM.Class
@using MVC_SYSTEM.Models
@model IEnumerable<MVC_SYSTEM.ModelsSP.sp_RptMasterDataPkj_Result>

@{
    GetConfig GetConfig = new GetConfig();
    ChangeTimeZone time = new ChangeTimeZone();

    int year = time.gettimezone().Year;
    int month = time.gettimezone().Month;
    int day = time.gettimezone().Day;
    int hour = time.gettimezone().Hour;
    int minute = time.gettimezone().Minute;
    int second = time.gettimezone().Second;

    int bil = 0;
    string uniquefilename = "MasterDataPkj_" + ViewBag.UserID + "_" + year.ToString() + month.ToString() + day.ToString() + hour.ToString() + minute.ToString() + second.ToString();
}

@if (Model != null && Model.Count() != 0)
{
<div id="scrollArea" class="modal-body">
    @foreach (var wilayah in Model.Select(s => s.fld_WilayahID).Distinct())
    {


        foreach (var ladang in Model.Where(x => x.fld_WilayahID == wilayah).Select(s => s.fld_LadangID).Distinct())
        {

            foreach (var costcentre in Model.Select(s => s.fld_CompCode).Distinct())
            {
                var namasyarikat = GetConfig.GetSyarikatName(costcentre);
                var namapenuhsyarikat = GetConfig.GetSyarikatFullName(costcentre);

                <logo />
                <table class="table table-hover" style="font-size: 11px;" border="0">
                    <thead>
                        <tr>
                            <th colspan="32" style="text-align:center;vertical-align:middle;">

                                @namapenuhsyarikat
                                <br />
                                (@namasyarikat)
                            </th>
                        </tr>
                        <tr>
                            <th colspan="32" bgcolor="#CC6600" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">

                                <font color="white">@GetConfig.GetLadangKodFromID(ladang) - @GetConfig.GetLadangNameFromID(ladang)</font>
                            </th>
                        </tr>
                        <tr>
                            <th width="1%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResLocalWorkerInfo.hdrNo</th>
                            <th width="3%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.hdrNoPkj</th>
                            <th width="3%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.hdrNoKp</th>
                            <th width="3%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.hdrName</th>
                            <th width="3%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblCitizen</th>
                            <th width="3%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.hdrCategory</th>
                            <th width="3%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblSupplier</th>
                            <th width="3%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblActiveStatus</th>
                            <th width="3%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblInactiveDate</th>
                            <th width="2%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblNotActiveReason</th>
                            <th width="3%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblTarikhCopImigresen</th>
                            <th width="2%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblPassportEnd</th>
                            <th width="2%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblPermitEnd</th>
                            <th width="2%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblPermitNo</th>
                            <th width="2%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblNoPerkeso</th>
                            <th width="2%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblGender</th>
                            <th width="2%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblDOB</th>
                            <th width="2%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblAge</th>
                            <th width="2%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblMaritalStatus</th>
                            <th width="2%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblRace</th>
                            <th width="2%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblReligion</th>
                            <th width="4%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblAddress</th>
                            <th width="2%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblPoscode</th>
                            <th width="2%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblDaerah</th>
                            <th width="2%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblState</th>
                            <th width="2%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblCountry</th>
                            <th width="2%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblPhone</th>
                            <th width="2%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblStartWork</th>
                            <th width="2%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblPaymentMode</th>
                            <th width="2%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblNamaWaris</th>
                            <th width="2%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblHubWaris</th>
                            <th width="2%" bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResCorp.lblNoTelefonWaris</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var workerMasterData in Model.Where(x => x.fld_LadangID == ladang))
                        {
                            bil += 1;

                        <tr>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @bil
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @workerMasterData.fld_NoPkj
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @workerMasterData.fld_NoKP
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @workerMasterData.fld_Nama
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @GetConfig.GetWebConfigDesc(workerMasterData.fld_KodWarganegara, "krytnlist", workerMasterData.fld_NegaraID, workerMasterData.fld_SyarikatID)
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @GetConfig.GetWebConfigDesc(workerMasterData.fld_KodKategoriPekerja, "designation", workerMasterData.fld_NegaraID, workerMasterData.fld_SyarikatID)
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @GetConfig.GetPembekal(@workerMasterData.fld_KodPembekal, (int)workerMasterData.fld_NegaraID, (int)workerMasterData.fld_SyarikatID)
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @GetConfig.GetWebConfigDesc(workerMasterData.fld_KodStatusAktif, "statusaktif", workerMasterData.fld_NegaraID, workerMasterData.fld_SyarikatID)
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @*fatin add checking - 18/01/2023*@
                                @if (workerMasterData.fld_KodStatusAktif == "2")
                                {
                                    @GetConfig.GetWebConfigDesc(workerMasterData.fld_KodSebabTakAktif, "sbbTakAktif", workerMasterData.fld_NegaraID, workerMasterData.fld_SyarikatID)
                                }
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @String.Format("{0:dd/MM/yyyy}", @workerMasterData.fld_Trkhtakaktif)
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @String.Format("{0:dd/MM/yyyy}", @workerMasterData.fld_TarikhMulaKhidmat)
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @if (workerMasterData.fld_TarikhTamatPassport <= time.gettimezone().Date)
                                {
                                    <font color="red">@String.Format("{0:dd/MM/yyyy}", @workerMasterData.fld_TarikhTamatPassport)</font>
                                }

                                else
                                {
                                    @String.Format("{0:dd/MM/yyyy}", @workerMasterData.fld_TarikhTamatPassport)
                                }
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @if (workerMasterData.fld_TarikhTamatPassport <= time.gettimezone())
                                {
                                    <font color="red">@String.Format("{0:dd/MM/yyyy}", @workerMasterData.fld_TarikhTamatPermit)</font>
                                }

                                else
                                {
                                    @String.Format("{0:dd/MM/yyyy}", @workerMasterData.fld_TarikhTamatPermit)
                                }
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @workerMasterData.fld_Prmtno
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @workerMasterData.fld_Noperkeso
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @GetConfig.GetWebConfigDesc(workerMasterData.fld_Kdjnt, "jantina", workerMasterData.fld_NegaraID, workerMasterData.fld_SyarikatID)
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @String.Format("{0:dd/MM/yyyy}", @workerMasterData.fld_Trlhr)
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @workerMasterData.fld_Umur
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @GetConfig.GetWebConfigDesc(workerMasterData.fld_statuskhwn, "tarafKahwin", workerMasterData.fld_NegaraID, workerMasterData.fld_SyarikatID)
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @GetConfig.GetWebConfigDesc(workerMasterData.fld_Kdbangsa, "bangsa", workerMasterData.fld_NegaraID, workerMasterData.fld_SyarikatID)
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @GetConfig.GetWebConfigDesc(workerMasterData.fld_Kdagama, "agama", workerMasterData.fld_NegaraID, workerMasterData.fld_SyarikatID)
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @workerMasterData.fld_Alamat1
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @workerMasterData.fld_Poskod
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @workerMasterData.fld_Daerah
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @GetConfig.GetWebConfigDesc(workerMasterData.fld_Negeri, "negeri", workerMasterData.fld_NegaraID, workerMasterData.fld_SyarikatID)
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @GetConfig.GetWebConfigDesc(workerMasterData.fld_Negara, "krytnlist", workerMasterData.fld_NegaraID, workerMasterData.fld_SyarikatID)
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @workerMasterData.fld_NoTel
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @String.Format("{0:dd/MM/yyyy}", @workerMasterData.fld_Trkmulakhidmat)
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @GetConfig.GetWebConfigDesc(workerMasterData.fld_Modbayaran, "paymentmode", workerMasterData.fld_NegaraID, workerMasterData.fld_SyarikatID)
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @workerMasterData.fld_Namawaris
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @workerMasterData.fld_Hubwaris
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @workerMasterData.fld_Notelwaris
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            }
        }
    }
    </div>
    @* farahin commnet button asal *@
    @*<a href="#" onclick="HTMLtoExcel('@uniquefilename')">Download Excel</a>*@

    @*//farahin-21012021*@
    <div style="text-align:right; margin-top:10px">
        <a class="btn btn-default btn-sm" href="#" id="printpage">
            <span class="glyphicon glyphicon-print"> </span> @GlobalResCorp.btnPrint
        </a>
        <a class="btn btn-default btn-sm" href="#" id="downloadpdf2">
            <span><img src="~/Asset/Images/pdf-icon.png" width="20px" height="20px" /></span> @GlobalResCorp.btnDownloadPdf
        </a>
        <a class="btn btn-default btn-sm" href="#" onclick="HTMLtoExcel('@uniquefilename')">
            <span><img src="~/Asset/Images/excel-icon.png" width="20px" height="20px" /></span> @GlobalResCorp.btnDownloadExcel
        </a>
    </div>


}

@if (Model.Count() == 0)
{
    <div class="modal-body" style="text-align: center">
        <p style="color: red">@ViewBag.Message</p>

    </div>
}

<script src="~/Asset/Scripts/FromHTML.js"></script>
<script src="~/Asset/Scripts/FileSaver.js"></script>
@*//farahin-20012021*@
<script>
    $(document).ready(function () {


        $("#printpage").click(function () {
            var DivElement = document.getElementById("scrollArea").innerHTML;
            var oldPage = document.body.innerHTML;
            document.body.innerHTML = DivElement;
            window.print();
            document.body.innerHTML = oldPage;
        })

        $("#downloadpdf2").click(function () {
            var myHtml = document.getElementById('scrollArea').innerHTML;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ConvertPDF2", "Report")',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({ myHtml: myHtml, filename: "@uniquefilename", reportname: "MasterDataPkj" }),
                success: function (result) {
                    if (result.success) {
                        var win = window.open(result.link, '_blank');
                        win.focus();
                    } else {
                        $.simplyToast(result.msg, result.status);
                    }
                },
            });
            return false;
        });
    });
</script>