@using MVC_SYSTEM.Class
@using MVC_SYSTEM.Models
@model IEnumerable<MVC_SYSTEM.ModelsDapper.sp_RptProduktiviti_Corp_Result>

@{
    GetTriager GetTriager = new GetTriager();
    //GetEstateDetail GetGroup = new GetEstateDetail();
    GetConfig GetConfig = new GetConfig();

    int? month = ViewBag.MonthList;
    int? year = ViewBag.YearList;
    string worker = ViewBag.WorkerList;
    int bil = 0;
    string uniquefilename = "ProductivityReport";
}

@if (Model != null && Model.Count() != 0)
{
    var namasyarikat = GetConfig.GetSyarikatName(ViewBag.comcos);
    var namapenuhsyarikat = GetConfig.GetSyarikatFullName(ViewBag.comcos); 
    var NoSyarikat = GetConfig.GetSyarikatNo(ViewBag.comcos);

    <div id="scrollArea" class="modal-body">

        <table class="table table-hover" style="font-size: 11px;" border="0">
            <thead>
                <tr>
                    <th colspan="7" style="text-align: center; vertical-align: middle; border: none;">
                        @namapenuhsyarikat
                        <br />
                        (@GlobalResCorp.lblCompanyNo : @NoSyarikat)
                        <br />
                        Laporan Produktiviti Pekerja Bulan @ViewBag.MonthList/@ViewBag.YearList
                        <br />
                        <br />
                    </th>
                </tr>
                <tr>
                    <th width="1%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">No.</th>
                    <th width="3%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">Wilayah</th>
                    <th width="3%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">Ladang</th>
                    <th width="3%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">Hasil Sebenar</th>
                    <th width="3%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">Unit Hasil Sebenar</th>
                    <th width="3%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">Peringkat</th>
                    <th width="2%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">Jumlah (RM)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Select(s => new { s.fld_WilayahID, s.fld_LdgName, s.fld_LadangID }).Distinct())
                {
                    bil += 1;
                    int? LadangID = item.fld_LadangID;
                    string ladangname = GetConfig.GetLadangNameFromID(LadangID);
                    string wilayahname = GetConfig.GetWilayahNameFromID(item.fld_WilayahID);
                    <tr>
                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                            @bil
                        </td>
                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                            @wilayahname
                        </td>
                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                            @ladangname
                        </td>
                        <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                            @foreach (var yield in Model.Where(x => x.fld_LadangID == LadangID))
                            {
                                @yield.fld_Hasil<br />
                            }
                        </td>
                        <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                            @foreach (var yield in Model.Where(x => x.fld_LadangID == LadangID))
                            {
                                @yield.fld_Unit<br />
                            }
                        </td>
                        <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                            @foreach (var yield in Model.Where(x => x.fld_LadangID == LadangID))
                            {
                                @yield.fld_KodPkt<br />
                            }
                        </td>
                        <td align="right" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                            @foreach (var yield in Model.Where(x => x.fld_LadangID == LadangID))
                            {
                                @yield.fld_AmaunBayar<br />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <newpage />
    </div>
    if (ViewBag.Print == null)
    {
<div style="text-align:right; margin-top:10px">
    <a class="btn btn-default btn-sm" href="#" id="printpage">
        <span class="glyphicon glyphicon-print"> </span> @GlobalResCorp.btnPrint
    </a>
    <a class="btn btn-default btn-sm" href="#" id="downloadpdf2">
        <span><img src="~/Asset/Images/pdf-icon.png" width="20px" height="20px" /></span> @GlobalResCorp.btnDownloadPdf
    </a>
    <a class="btn btn-default btn-sm" href="#" onclick="HTMLtoExcel('@uniquefilename')">
        <span><img src="~/Asset/Images/excel-icon.png" width="20px" height="20px" /></span> @GlobalResCorp.btnDownloadExcel
    </a>
</div>
    }
}

@if (Model.Count() == 0)
{
    <div id="scrollArea2" class="modal-body" style="text-align: center">
        <p style="color: red">@ViewBag.Message</p>

    </div>
}

<style>
    #page td {
        padding: 2px;
        margin: 2px;
    }
</style>
<script src="~/Asset/Scripts/FromHTML.js"></script>
<script src="~/Asset/Scripts/FileSaver.js"></script>
<script>
    $(document).ready(function () {
        $("#printpage").click(function () {
            var DivElement = document.getElementById("scrollArea2").innerHTML;
            var oldPage = document.body.innerHTML;
            document.body.innerHTML = DivElement;
            window.print();
            document.body.innerHTML = oldPage;
        })


    });

       $("#downloadpdf2").click(function () {
            var myHtml = document.getElementById('scrollArea').innerHTML;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ConvertPDF2", "Report")',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({ myHtml: myHtml, filename: "@uniquefilename", reportname: "ActiveWorker" }),
                success: function (result) {
                    if (result.success) {
                        var win = window.open(result.link, '_blank');
                        win.focus();
                    } else {
                        $.simplyToast(result.msg, result.status);
                    }
                },
            });
            return false;
        });
</script>
