@using MVC_SYSTEM.Class
@*@model IEnumerable<MVC_SYSTEM.ViewingModelsOPMS.vw_RptSctran>*@
@*modified by faeza 01.01.2021 *@
@model IEnumerable<MVC_SYSTEM.ModelsEstate.vw_RptSctran>


@{
    ViewBag.Title = "_TransactionListingRptSearch";
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";
    GetTriager GetTriager = new GetTriager();
    ChangeTimeZone ChangeTimeZone = new ChangeTimeZone();

    int? month = ViewBag.MonthList;
    int? year = ViewBag.YearList;
    int bil = 0;
    decimal? debit = 0;
    decimal? credit = 0;

    int years = ChangeTimeZone.gettimezone().Year;
    int months = ChangeTimeZone.gettimezone().Month;
    int day = ChangeTimeZone.gettimezone().Day;
    int hour = ChangeTimeZone.gettimezone().Hour;
    int minute = ChangeTimeZone.gettimezone().Minute;
    int second = ChangeTimeZone.gettimezone().Second;

    string uniquefilename = "TransactionListing_" + ViewBag.UserID + "_" + years.ToString() + months.ToString() + day.ToString() + hour.ToString() + minute.ToString() + second.ToString();

}

@if (Model != null && Model.Count() != 0)
{
    <div id="scrollArea" class="modal-body">
        <logo />
        <table class="table table-hover table-bordered" style="font-size: 11px;" border="0">
            <thead>
                <tr>
                    <th colspan="10" style="text-align: center; vertical-align: middle; border: none;">
                        @ViewBag.NamaSyarikat
                        <br />
                        (@GlobalResNoSkb.hdrCmpnyNo : @ViewBag.NoSyarikat)
                        <br />
                        Laporan Transaction Listing
                    </th>
                </tr>
            </thead>
        </table>
        <table>
            <thead>
                <tr>
                    <th rowspan="1" width="1%" style="margin: 2px !important; padding: 2px !important; text-align: center; vertical-align: middle !important; border-left: 1px solid red;border-top: 1px solid red;border-bottom: 1px solid red;" border="1">Bil.</th>
                    <th rowspan="1" width="2%" style="margin: 2px !important; padding: 2px !important; text-align: center; vertical-align: middle !important; border-left: 1px solid red;border-top: 1px solid red;border-bottom: 1px solid red;" border="1">Lejar</th>
                    <th rowspan="1" width="5%" style="margin: 2px !important; padding: 2px !important; text-align: center; vertical-align: middle !important; border-left: 1px solid red;border-top: 1px solid red;border-bottom: 1px solid red;" border="1">Aktiviti Kerja</th>
                    <th rowspan="1" width="2%" style="margin: 2px !important; padding: 2px !important; text-align: center; vertical-align: middle !important; border-left: 1px solid red;border-top: 1px solid red;border-bottom: 1px solid red;" border="1">Kod Aktiviti</th>
                    <th rowspan="1" width="3%" style="margin: 2px !important; padding: 2px !important; text-align: center; vertical-align: middle !important; border-left: 1px solid red;border-top: 1px solid red;border-bottom: 1px solid red;" border="1">Peringkat</th>
                    <th rowspan="1" width="3%" style="margin: 2px !important; padding: 2px !important; text-align: center; vertical-align: middle !important; border-left: 1px solid red;border-top: 1px solid red;border-bottom: 1px solid red;" border="1">IO</th>
                    <th rowspan="1" width="3%" style="margin: 2px !important; padding: 2px !important; text-align: center; vertical-align: middle !important; border-left: 1px solid red;border-top: 1px solid red;border-bottom: 1px solid red;" border="1">GL</th>
                    <th rowspan="1" width="3%" style="margin: 2px !important; padding: 2px !important; text-align: center; vertical-align: middle !important; border-left: 1px solid red;border-top: 1px solid red;border-bottom: 1px solid red;" border="1">Catitan</th>
                    <th rowspan="1" width="2%" style="margin: 2px !important; padding: 2px !important; text-align: center; vertical-align: middle !important; border-left: 1px solid red;border-top: 1px solid red;border-bottom: 1px solid red;" border="1">Debit</th>
                    <th rowspan="1" width="2%" style="margin: 2px !important; padding: 2px !important; text-align: center; vertical-align: middle !important; border-left: 1px solid red;border-top: 1px solid red;border-bottom: 1px solid red;" border="1">Kredit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    bil = bil + 1;
                    <tr>
                        <td align="center" style="margin: 2px !important; padding: 2px !important; vertical-align: middle !important; border-bottom: 1px dotted gray; text-align: center;border-collapse:separate !important;border-spacing:0px !important; border-right: none; border-left: none">@bil</td>
                        <td align="center" style="margin: 2px !important; padding: 2px !important; vertical-align: middle !important; border-bottom: 1px dotted gray; text-align: center;border-collapse:separate !important;border-spacing:0px !important; border-right: none; border-left: none">@item.fld_KodGL</td>
                        <td align="center" style="margin: 2px !important; padding: 2px !important; vertical-align: middle !important; border-bottom: 1px dotted gray; text-align: left;border-collapse:separate !important;border-spacing:0px !important; border-right: none; border-left: none">@item.fld_Keterangan</td>
                        <td align="center" style="margin: 2px !important; padding: 2px !important; vertical-align: middle !important; border-bottom: 1px dotted gray; text-align: center;border-collapse:separate !important;border-spacing:0px !important; border-right: none; border-left: none">@item.fld_KodAktvt</td>
                        <td align="center" style="margin: 2px !important; padding: 2px !important; vertical-align: middle !important; border-bottom: 1px dotted gray; text-align: center;border-collapse:separate !important;border-spacing:0px !important; border-right: none; border-left: none">@item.fld_KodPkt</td>
                        <td align="center" style="margin: 2px !important; padding: 2px !important; vertical-align: middle !important; border-bottom: 1px dotted gray; text-align: center;border-collapse:separate !important;border-spacing:0px !important; border-right: none; border-left: none">@item.fld_IO</td>
                        <td align="center" style="margin: 2px !important; padding: 2px !important; vertical-align: middle !important; border-bottom: 1px dotted gray; text-align: center;border-collapse:separate !important;border-spacing:0px !important; border-right: none; border-left: none">@item.fld_GL</td>
                        <td align="center" style="margin: 2px !important; padding: 2px !important; vertical-align: middle !important; border-bottom: 1px dotted gray; text-align: center;border-collapse:separate !important;border-spacing:0px !important; border-right: none; border-left: none">&nbsp;</td>
                        @if (item.fld_KdCaj == "D")
                        {
                            <td align="right" style="margin: 2px !important; padding: 2px !important; vertical-align: middle !important; border-bottom: 1px dotted gray; text-align: right;border-collapse:separate !important;border-spacing:0px !important; border-right: none; border-left: none">@item.fld_Amt</td>
                            <td align="right" style="margin: 2px !important; padding: 2px !important; vertical-align: middle !important; border-bottom: 1px dotted gray; text-align: right;border-collapse:separate !important;border-spacing:0px !important; border-right: none; border-left: none">0.00</td>
                            debit += item.fld_Amt;
                        }

                        else
                        {
                            <td align="right" style="margin: 2px !important; padding: 2px !important; vertical-align: middle !important; border-bottom: 1px dotted gray; text-align: right;border-collapse:separate !important;border-spacing:0px !important; border-right: none; border-left: none">0.00</td>
                            <td align="right" style="margin: 2px !important; padding: 2px !important; vertical-align: middle !important; border-bottom: 1px dotted gray; text-align: right;border-collapse:separate !important;border-spacing:0px !important; border-right: none; border-left: none">@item.fld_Amt</td>
                            credit += item.fld_Amt;
                        }
                    </tr>
                }
                <tr>
                    <td align="center" style="margin: 2px !important; padding: 2px !important; text-align: center; vertical-align: middle !important; border-top: 1px solid red;border-collapse:separate !important;border-spacing:0px !important; border-right: none; border-left: none" border="1"></td>
                    <td align="center" style="margin: 2px !important; padding: 2px !important; text-align: center; vertical-align: middle !important; border-top: 1px solid red;border-collapse:separate !important;border-spacing:0px !important; border-right: none; border-left: none" border="1"></td>
                    <td align="center" style="margin: 2px !important; padding: 2px !important; text-align: center; vertical-align: middle !important; border-top: 1px solid red;border-collapse:separate !important;border-spacing:0px !important; border-right: none; border-left: none" border="1"></td>
                    <td align="center" style="margin: 2px !important; padding: 2px !important; text-align: center; vertical-align: middle !important; border-top: 1px solid red;border-collapse:separate !important;border-spacing:0px !important; border-right: none; border-left: none" border="1"></td>
                    <td align="center" style="margin: 2px !important; padding: 2px !important; text-align: center; vertical-align: middle !important; border-top: 1px solid red;border-collapse:separate !important;border-spacing:0px !important; border-right: none; border-left: none" border="1"></td>
                    <td align="center" style="margin: 2px !important; padding: 2px !important; text-align: center; vertical-align: middle !important; border-top: 1px solid red;border-collapse:separate !important;border-spacing:0px !important; border-right: none; border-left: none" border="1"></td>
                    <td align="center" style="margin: 2px !important; padding: 2px !important; text-align: center; vertical-align: middle !important; border-top: 1px solid red;border-collapse:separate !important;border-spacing:0px !important; border-right: none; border-left: none" border="1"></td>
                    <td align="center" style="margin: 2px !important; padding: 2px !important; text-align: right; vertical-align: middle !important; border-top: 1px solid red;border-collapse:separate !important;border-spacing:0px !important; border-right: none; border-left: none" border="1">
                        Jumlah (RM)
                    </td>
                    <td align="right" style="margin: 2px !important; padding: 2px !important; text-align: right; vertical-align: middle !important; border: 1px solid red; border-right: none; border-left: none" border="1">
                        @GetTriager.GetTotalForMoney(debit)
                    </td>
                    <td align="right" style="margin: 2px !important; padding: 2px !important; text-align: right; vertical-align: middle !important; border: 1px solid red; border-right: none; border-left: none" border="1">
                        @GetTriager.GetTotalForMoney(credit)
                    </td>
                </tr>
            </tbody>
        </table>
        <table style="float: left; width: 100%; font-size: 11px; margin-bottom: 5px" class="table" border="0">
            <thead>
                <tr>
                    <th colspan="2" style="margin: 2px !important; padding: 2px !important; text-align: right; vertical-align: middle !important; border-top: 2px solid gray; border-bottom: none; border-left: none;"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        @*<table style="float: left; width: 70%; font-size: 11px; margin-bottom: 5px" class="table" border="0">
            <thead>
                <tr>
                    <th colspan="2" width="1%" style="margin: 2px !important; padding: 2px !important; text-align: left; vertical-align: middle !important; border-bottom: none !important;">Disediakan Oleh/Disemak Oleh</th>
                    <th colspan="2" style="margin: 2px !important; padding: 2px !important; text-align: left; vertical-align: middle !important; border-bottom: none !important;">Disahkan Oleh</th>
                </tr>
                <tr>
                    <th style="margin: 2px !important; padding: 2px !important; text-align: right; vertical-align: middle !important; border-bottom: 2px dotted gray; border-top: none;">&nbsp;</th>
                    <th style="margin: 2px !important; padding: 2px !important; text-align: right; vertical-align: middle !important; border-bottom: 2px dotted gray; border-top: none;">&nbsp;</th>
                    <th style="margin: 2px !important; padding: 2px !important; text-align: right; vertical-align: middle !important; border-bottom: 2px dotted gray; border-top: none;">&nbsp;</th>
                    <th style="margin: 2px !important; padding: 2px !important; text-align: right; vertical-align: middle !important; border-bottom: 2px dotted gray; border-top: none;">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="1%" style="margin: 2px !important; padding: 2px !important; text-align: left; vertical-align: middle !important; border-bottom: none; border-top: none;">ID</td>
                    <td width="3%" style="margin: 2px !important; padding: 2px !important; text-align: left; vertical-align: middle !important; border-bottom: none; border-top: none;">: @ViewBag.IDPenyelia</td>
                    <td width="1%" style="margin: 2px !important; padding: 2px !important; text-align: left; vertical-align: middle !important; border-bottom: none; border-top: none;">ID</td>
                    <td width="3%" style="margin: 2px !important; padding: 2px !important; text-align: left; vertical-align: middle !important; border-bottom: none; border-top: none;">:</td>
                </tr>
                <tr>
                    <td style="margin: 2px !important; padding: 2px !important; text-align: left; vertical-align: middle !important; border-bottom: none; border-top: none;">Nama</td>
                    <td style="margin: 2px !important; padding: 2px !important; text-align: left; vertical-align: middle !important; border-bottom: none; border-top: none;">: @ViewBag.NamaPenyelia</td>
                    <td style="margin: 2px !important; padding: 2px !important; text-align: left; vertical-align: middle !important; border-bottom: none; border-top: none;">Nama</td>
                    <td style="margin: 2px !important; padding: 2px !important; text-align: left; vertical-align: middle !important; border-bottom: none; border-top: none;">:</td>
                </tr>
                <tr>
                    <td style="margin: 2px !important; padding: 2px !important; text-align: left; vertical-align: middle !important; border-bottom: none; border-top: none;">Jawatan</td>
                    <td style="margin: 2px !important; padding: 2px !important; text-align: left; vertical-align: middle !important; border-bottom: none; border-top: none;">: PENYELIA</td>
                    <td style="margin: 2px !important; padding: 2px !important; text-align: left; vertical-align: middle !important; border-bottom: none; border-top: none;">Jawatan</td>
                    <td style="margin: 2px !important; padding: 2px !important; text-align: left; vertical-align: middle !important; border-bottom: none; border-top: none;">:</td>
                </tr>
                <tr>
                    <td style="margin: 2px !important; padding: 2px !important; text-align: left; vertical-align: middle !important; border-bottom: none; border-top: none;">Tarikh</td>
                    <td style="margin: 2px !important; padding: 2px !important; text-align: left; vertical-align: middle !important; border-bottom: none; border-top: none;">: @ViewBag.Date</td>
                    <td style="margin: 2px !important; padding: 2px !important; text-align: left; vertical-align: middle !important; border-bottom: none; border-top: none;">Tarikh</td>
                    <td style="margin: 2px !important; padding: 2px !important; text-align: left; vertical-align: middle !important; border-bottom: none; border-top: none;">:</td>
                </tr>
            </tbody>
        </table>*@
        <newpage />
    </div>

    //kamalia-03022021
    <div style="text-align:right; margin-top:10px">
        <a class="btn btn-default btn-sm" href="" id="printpage">
            <span class="glyphicon glyphicon-print"> </span> @GlobalResCorp.btnPrint
        </a>
        <a class="btn btn-default btn-sm" href="#" id="downloadpdf2">
            <span><img src="~/Asset/Images/pdf-icon.png" width="20px" height="20px" /></span> @GlobalResCorp.btnDownloadPdf
        </a>
        <a class="btn btn-default btn-sm" href="#" onclick="HTMLtoExcel('@uniquefilename')">
            <span><img src="~/Asset/Images/excel-icon.png" width="20px" height="20px" /></span> @GlobalResCorp.btnDownloadExcel
        </a>
    </div>
}

@if (Model == null)
{
    <div id="scrollArea2" class="modal-body" style="text-align: center">
        <p style="color: red">@ViewBag.Message</p>

    </div>
}

@* kamalia-03022021 *@
<script src="~/Asset/Scripts/FromHTML.js"></script>
<script src="~/Asset/Scripts/FileSaver.js"></script>
<script>
    $(document).ready(function () {

        //kamalia-03022021
        $("#printpage").click(function () {
            var DivElement = document.getElementById("scrollArea").innerHTML;
            var oldPage = document.body.innerHTML;
            document.body.innerHTML = DivElement;
            window.print();
            document.body.innerHTML = oldPage;
        })

        $("#downloadpdf2").click(function () {
            var myHtml = document.getElementById('scrollArea').innerHTML;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ConvertPDF2", "Report")',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({ myHtml: myHtml, filename: "@uniquefilename", reportname: "ActiveWorker" }),
                success: function (result) {
                    if (result.success) {
                        var win = window.open(result.link, '_blank');
                        win.focus();
                    } else {
                        $.simplyToast(result.msg, result.status);
                    }
                },
            });
            return false;
        });
    });
</script>


