@model IEnumerable<MVC_SYSTEM.ModelsSP.sp_RptMakPekTem_Result>
@using MVC_SYSTEM.Class;
@{
    ViewBag.Title = "Local Worker Info";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ChangeTimeZone ChangeTimeZone = new ChangeTimeZone();
    GetTriager GetTriager = new GetTriager();
    GetConfig GetConfig = new GetConfig();
    int year = ChangeTimeZone.gettimezone().Year;
    int month = ChangeTimeZone.gettimezone().Month;
    int day = ChangeTimeZone.gettimezone().Day;
    int hour = ChangeTimeZone.gettimezone().Hour;
    int minute = ChangeTimeZone.gettimezone().Minute;
    int second = ChangeTimeZone.gettimezone().Second;
    int headercolspan1 = 0;
    string uniquefilename = "LocalWorkerInfo_" + ViewBag.UserID + "_" + year.ToString() + month.ToString() + day.ToString() + hour.ToString() + minute.ToString() + second.ToString();
    string status = "";
    int? TotalfldBilPkj = 0;
    int? TotalfldUmr60Up = 0;
    int? TotalfldUmr5660 = 0;
    int? TotalfldUmr5155 = 0;
    int? TotalfldUmr4650 = 0;
    int? TotalfldUmr4145 = 0;
    int? TotalfldUmr3640 = 0;
    int? TotalfldUmr3135 = 0;
    int? TotalfldUmr2630 = 0;
    int? TotalfldUmr2125 = 0;
    int? TotalfldUmr20Bel = 0;
    int? TotalfldUmrUnkwn = 0;
    int? TotalfldKdmt35Up = 0;
    int? TotalfldKdmt3135 = 0;
    int? TotalfldKdmt2630 = 0;
    int? TotalfldKdmt2125 = 0;
    int? TotalfldKdmt1620 = 0;
    int? TotalfldKdmt1115 = 0;
    int? TotalfldKdmt0610 = 0;
    int? TotalfldKdmt0105 = 0;
    int? TotalfldKdmt01Bel = 0;
    int? TotalfldKdmtUnkwn = 0;
    int? TotalAllUmr = 0;
    int? TotalAllKdmt = 0;
    int footercolspan1 = 0;
    int footercolspan2 = 0;
    int footercolspan3 = 0;
    int bill = 1;
    string selectionheader = "";

    var namasyarikat = GetConfig.GetSyarikatName(ViewBag.costcenter);
    var namapenuhsyarikat = GetConfig.GetSyarikatFullName(ViewBag.costcenter);

    if (ViewBag.Status1 == 2)
    {
        status = GlobalResLocalWorkerInfo.hdrStatus0;
    }
    else
    {
        status = GlobalResLocalWorkerInfo.hdrStatus1;
    }

    if (ViewBag.Incldg == 1)
    {
        selectionheader = "";
        headercolspan1 = 24;
        footercolspan1 = 2;
        footercolspan2 = 3;
    }
    else if (ViewBag.Incldg == 2)
    {
        selectionheader = ViewBag.WilayahName;
        headercolspan1 = 25;
        footercolspan1 = 3;
        footercolspan2 = 4;
    }
    else if (ViewBag.Incldg == 3)
    {
        selectionheader = ViewBag.WilayahName + " - (" + ViewBag.LadangCode + " - " + ViewBag.LadangName + ")";
        headercolspan1 = 25;
        footercolspan1 = 4;
        footercolspan2 = 4;
    }
}

<!-- Styles for Wait Messages -->
@*<link href="~/Asset/Content/font-awesome.min.css" rel="stylesheet" />*@

<div id="UpdateProgress1" style="display:none;">
    <div class="progressTest">
        <label>
            @GlobalResReport.WaitMsg
        </label>
    </div>
</div>

@using (Html.BeginForm("LocalWorkerInfo", "Report", FormMethod.Post, new { id = "Report" }))
{
    @Html.AntiForgeryToken()
    <!-- ** BEGIN POP-UP MESSAGE AREA ** -->
    @*<div class="submit-progress hidden">
            <i class="fa fa-2x fa-spinner fa-spin"></i>
            <label>@GlobalResLocalWorkerInfo.WaitMsg</label>
        </div>*@
    <!-- ** END POP-UP MESSAGE AREA ** -->
    <section class="content-wrapper main-content clear-fix">
        <div class="well bottom" style="padding-bottom: 16px">
            <div class="row">
                <div class="col-sm-1">
                    @Html.Label(GlobalResLocalWorkerInfo.lblYear)
                    @Html.DropDownList("YearList", null, htmlAttributes: new { @class = "form-control" })
                </div>
                @*sarah added*@
                <div class="col-sm-2">
                    @Html.Label(GlobalResCorp.lblCompany)
                    @Html.DropDownList("SyarikatList", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    @Html.Label(GlobalResLocalWorkerInfo.lblWilayah)
                    @Html.DropDownList("WilayahIDList", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-3">
                    @Html.Label(GlobalResLocalWorkerInfo.lblLadang)
                    @Html.DropDownList("LadangIDList", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    @Html.Label(GlobalResLocalWorkerInfo.lblStatus)
                    @Html.DropDownList("Status", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-1" style="padding-top:25px;">
                    <input class="btn btn-primary btn-block" type="submit" name="Lihat" id="Lihat" value="@GlobalResLocalWorkerInfo.btnViewName" onclick="return DisplayProgressMessage(this);" />
                </div>
            </div>
        </div>
        <div id="DataTable" class="well" style="margin-top: 7px">
            <p style="text-align:center;"><label>@GlobalResLocalWorkerInfo.hdrReportTitle</label></p>
            @if (Model.Count() != 0)
            {
                <div id="scrollArea" class="modal-body">
                    <logo />
                    <table class="table table-hover table-bordered" style="font-size: 11px;" border="0">
                        <thead>
                            <tr>
                                <th colspan="@headercolspan1" style="text-align:center;vertical-align:middle;">
                                    @namapenuhsyarikat
                                    <br />
                                    (@GlobalResLocalWorkerInfo.hdrCmpnyNo : @namasyarikat)
                                    <br />
                                    @GlobalResLocalWorkerInfo.hdrReportTitle (@status)
                                    <br />
                                    @ViewBag.Year
                                </th>
                            </tr>
                            @if (ViewBag.Incldg != 1)
                            {
                                <tr>
                                    <th colspan="25" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">
                                        @selectionheader
                                    </th>
                                </tr>
                            }
                            <tr>
                                <th rowspan="2" width="3%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResLocalWorkerInfo.hdrNo</th>
                                @if (ViewBag.Incldg == 1)
                                {
                                    <th rowspan="2" width="10%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResLocalWorkerInfo.hdrWilayahName</th>
                                    <th rowspan="2" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResLocalWorkerInfo.hdrTtlWrker</th>
                                }
                                else if (ViewBag.Incldg == 2)
                                {
                                    <th rowspan="2" width="5%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResLocalWorkerInfo.hdrCodeLadang</th>
                                    <th rowspan="2" width="10%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResLocalWorkerInfo.hdrLadangName</th>
                                    <th rowspan="2" width="5%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResLocalWorkerInfo.hdrTtlWrker</th>
                                }
                                else
                                {
                                    <th rowspan="2" width="5%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResLocalWorkerInfo.hdrWrkerNo</th>
                                    <th rowspan="2" width="5%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResLocalWorkerInfo.hdrWrkerIDNo</th>
                                    <th rowspan="2" width="10%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResLocalWorkerInfo.hdrWkerName</th>
                                }
                                <th colspan="11" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResLocalWorkerInfo.hdrAge</th>
                                <th colspan="10" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResLocalWorkerInfo.hdrSrvce</th>
                            </tr>
                            <tr>
                                <th bgcolor="#ffcc80" width="4%" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">60 ></th>
                                <th bgcolor="#ffcc80" width="4%" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">56 - 60</th>
                                <th bgcolor="#ffcc80" width="4%" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">51 - 55</th>
                                <th bgcolor="#ffcc80" width="4%" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">46 - 50</th>
                                <th bgcolor="#ffcc80" width="4%" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">41 - 45</th>
                                <th bgcolor="#ffcc80" width="4%" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">36 - 40</th>
                                <th bgcolor="#ffcc80" width="4%" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">31 - 35</th>
                                <th bgcolor="#ffcc80" width="4%" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">26 - 30</th>
                                <th bgcolor="#ffcc80" width="4%" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">21 - 25</th>
                                <th bgcolor="#ffcc80" width="4%" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">< 20</th>
                                <th bgcolor="#ffcc80" width="4%" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResLocalWorkerInfo.hdrNA</th>
                                <th bgcolor="#ffcc80" width="4%" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">35 ></th>
                                <th bgcolor="#ffcc80" width="4%" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">31 - 35</th>
                                <th bgcolor="#ffcc80" width="4%" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">26 - 30</th>
                                <th bgcolor="#ffcc80" width="4%" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">21 - 25</th>
                                <th bgcolor="#ffcc80" width="4%" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">16 - 20</th>
                                <th bgcolor="#ffcc80" width="4%" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">11 - 15</th>
                                <th bgcolor="#ffcc80" width="4%" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">6 - 10</th>
                                <th bgcolor="#ffcc80" width="4%" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">1 - 5</th>
                                <th bgcolor="#ffcc80" width="4%" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">< 1</th>
                                <th bgcolor="#ffcc80" width="4%" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResLocalWorkerInfo.hdrNA</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td width="3%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                        @bill
                                    </td>
                                    @if (ViewBag.Incldg == 1)
                                    {
                                        <td width="10%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                            @item.fld_NamaWilayah
                                        </td>
                                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                            @GetTriager.GetDashForInt(item.fld_BilPkj)
                                        </td>
                                    }
                                    else if (ViewBag.Incldg == 2)
                                    {
                                        <td width="5%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                            @item.fld_KodLadang
                                        </td>
                                        <td width="10%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                            @item.fld_NamaLadang
                                        </td>
                                        <td width="5%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                            @GetTriager.GetDashForInt(item.fld_BilPkj)
                                        </td>
                                    }
                                    else
                                    {
                                        <td width="5%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                            @item.fld_Nopkj
                                        </td>
                                        <td width="5%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                            @item.fld_Nokp
                                        </td>
                                        <td width="10%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                            @item.fld_Nama.Trim()
                                        </td>
                                    }

                                    <td width="4%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                        @GetTriager.GetDashForInt(item.fld_Umr60Up)
                                    </td>
                                    <td width="4%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                        @GetTriager.GetDashForInt(item.fld_Umr5660)
                                    </td>
                                    <td width="4%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                        @GetTriager.GetDashForInt(item.fld_Umr5155)
                                    </td>
                                    <td width="4%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                        @GetTriager.GetDashForInt(item.fld_Umr4650)
                                    </td>
                                    <td width="4%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                        @GetTriager.GetDashForInt(item.fld_Umr4145)
                                    </td>
                                    <td width="4%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                        @GetTriager.GetDashForInt(item.fld_Umr3640)
                                    </td>
                                    <td width="4%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                        @GetTriager.GetDashForInt(item.fld_Umr3135)
                                    </td>
                                    <td width="4%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                        @GetTriager.GetDashForInt(item.fld_Umr2630)
                                    </td>
                                    <td width="4%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                        @GetTriager.GetDashForInt(item.fld_Umr2125)
                                    </td>
                                    <td width="4%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                        @GetTriager.GetDashForInt(item.fld_Umr20Bel)
                                    </td>
                                    <td width="4%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                        @GetTriager.GetDashForInt(item.fld_UmrUnkwn)
                                    </td>
                                    <td width="4%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                        @GetTriager.GetDashForInt(item.fld_Kdmt35Up)
                                    </td>
                                    <td width="4%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                        @GetTriager.GetDashForInt(item.fld_Kdmt3135)
                                    </td>
                                    <td width="4%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                        @GetTriager.GetDashForInt(item.fld_Kdmt2630)
                                    </td>
                                    <td width="4%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                        @GetTriager.GetDashForInt(item.fld_Kdmt2125)
                                    </td>
                                    <td width="4%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                        @GetTriager.GetDashForInt(item.fld_Kdmt1620)
                                    </td>
                                    <td width="4%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                        @GetTriager.GetDashForInt(item.fld_Kdmt1115)
                                    </td>
                                    <td width="4%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                        @GetTriager.GetDashForInt(item.fld_Kdmt0610)
                                    </td>
                                    <td width="4%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                        @GetTriager.GetDashForInt(item.fld_Kdmt0105)
                                    </td>
                                    <td width="4%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                        @GetTriager.GetDashForInt(item.fld_Kdmt01Bel)
                                    </td>
                                    <td width="4%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                        @GetTriager.GetDashForInt(item.fld_KdmtUnkwn)
                                    </td>
                                </tr>
                                TotalfldBilPkj = TotalfldBilPkj + item.fld_BilPkj;
                                TotalfldUmr60Up = TotalfldUmr60Up + item.fld_Umr60Up;
                                TotalfldUmr5660 = TotalfldUmr5660 + item.fld_Umr5660;
                                TotalfldUmr5155 = TotalfldUmr5155 + item.fld_Umr5155;
                                TotalfldUmr4650 = TotalfldUmr4650 + item.fld_Umr4650;
                                TotalfldUmr4145 = TotalfldUmr4145 + item.fld_Umr4145;
                                TotalfldUmr3640 = TotalfldUmr3640 + item.fld_Umr3640;
                                TotalfldUmr3135 = TotalfldUmr3135 + item.fld_Umr3135;
                                TotalfldUmr2630 = TotalfldUmr2630 + item.fld_Umr2630;
                                TotalfldUmr2125 = TotalfldUmr2125 + item.fld_Umr2125;
                                TotalfldUmr20Bel = TotalfldUmr20Bel + item.fld_Umr20Bel;
                                TotalfldUmrUnkwn = TotalfldUmrUnkwn + item.fld_UmrUnkwn;
                                TotalfldKdmt35Up = TotalfldKdmt35Up + item.fld_Kdmt35Up;
                                TotalfldKdmt3135 = TotalfldKdmt3135 + item.fld_Kdmt3135;
                                TotalfldKdmt2630 = TotalfldKdmt2630 + item.fld_Kdmt2630;
                                TotalfldKdmt2125 = TotalfldKdmt2125 + item.fld_Kdmt2125;
                                TotalfldKdmt1620 = TotalfldKdmt1620 + item.fld_Kdmt1620;
                                TotalfldKdmt1115 = TotalfldKdmt1115 + item.fld_Kdmt1115;
                                TotalfldKdmt0610 = TotalfldKdmt0610 + item.fld_Kdmt0610;
                                TotalfldKdmt0105 = TotalfldKdmt0105 + item.fld_Kdmt0105;
                                TotalfldKdmt01Bel = TotalfldKdmt01Bel + item.fld_Kdmt01Bel;
                                TotalfldKdmtUnkwn = TotalfldKdmtUnkwn + item.fld_KdmtUnkwn;
                                bill++;
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="@footercolspan1" bgcolor="#f4a142" style="color:black; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResLocalWorkerInfo.hdrTotal</td>
                                @if (ViewBag.Incldg == 1 || ViewBag.Incldg == 2)
                                {
                                    <td bgcolor="#f4a142" style="color:black; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">@TotalfldBilPkj</td>
                                }
                                <td bgcolor="#f4a142" style="color:black; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">@GetTriager.GetDashForInt(TotalfldUmr60Up)</td>
                                <td bgcolor="#f4a142" style="color:black; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">@GetTriager.GetDashForInt(TotalfldUmr5660)</td>
                                <td bgcolor="#f4a142" style="color:black; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">@GetTriager.GetDashForInt(TotalfldUmr5155)</td>
                                <td bgcolor="#f4a142" style="color:black; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">@GetTriager.GetDashForInt(TotalfldUmr4650)</td>
                                <td bgcolor="#f4a142" style="color:black; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">@GetTriager.GetDashForInt(TotalfldUmr4145)</td>
                                <td bgcolor="#f4a142" style="color:black; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">@GetTriager.GetDashForInt(TotalfldUmr3640)</td>
                                <td bgcolor="#f4a142" style="color:black; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">@GetTriager.GetDashForInt(TotalfldUmr3135)</td>
                                <td bgcolor="#f4a142" style="color:black; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">@GetTriager.GetDashForInt(TotalfldUmr2630)</td>
                                <td bgcolor="#f4a142" style="color:black; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">@GetTriager.GetDashForInt(TotalfldUmr2125)</td>
                                <td bgcolor="#f4a142" style="color:black; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">@GetTriager.GetDashForInt(TotalfldUmr20Bel)</td>
                                <td bgcolor="#f4a142" style="color:black; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">@GetTriager.GetDashForInt(TotalfldUmrUnkwn)</td>
                                <td bgcolor="#f4a142" style="color:black; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">@GetTriager.GetDashForInt(TotalfldKdmt35Up)</td>
                                <td bgcolor="#f4a142" style="color:black; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">@GetTriager.GetDashForInt(TotalfldKdmt3135)</td>
                                <td bgcolor="#f4a142" style="color:black; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">@GetTriager.GetDashForInt(TotalfldKdmt2630)</td>
                                <td bgcolor="#f4a142" style="color:black; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">@GetTriager.GetDashForInt(TotalfldKdmt2125)</td>
                                <td bgcolor="#f4a142" style="color:black; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">@GetTriager.GetDashForInt(TotalfldKdmt1620)</td>
                                <td bgcolor="#f4a142" style="color:black; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">@GetTriager.GetDashForInt(TotalfldKdmt1115)</td>
                                <td bgcolor="#f4a142" style="color:black; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">@GetTriager.GetDashForInt(TotalfldKdmt0610)</td>
                                <td bgcolor="#f4a142" style="color:black; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">@GetTriager.GetDashForInt(TotalfldKdmt0105)</td>
                                <td bgcolor="#f4a142" style="color:black; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">@GetTriager.GetDashForInt(TotalfldKdmt01Bel)</td>
                                <td bgcolor="#f4a142" style="color:black; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">@GetTriager.GetDashForInt(TotalfldKdmtUnkwn)</td>
                            </tr>
                            <tr>
                                @{
                                    TotalAllUmr = TotalfldUmr60Up + TotalfldUmr5660 + TotalfldUmr5155 + TotalfldUmr4650 + TotalfldUmr4145 + TotalfldUmr3640 + TotalfldUmr3135 + TotalfldUmr2630 + TotalfldUmr2125 + TotalfldUmr20Bel + TotalfldUmrUnkwn;
                                    TotalAllKdmt = TotalfldKdmt35Up + TotalfldKdmt3135 + TotalfldKdmt2630 + TotalfldKdmt2125 + TotalfldKdmt1620 + TotalfldKdmt1115 + TotalfldKdmt0610 + TotalfldKdmt0105 + TotalfldKdmt01Bel + TotalfldKdmtUnkwn;
                                }
                                <td colspan="@footercolspan2" bgcolor="#f4a142" style="color:black; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResLocalWorkerInfo.hdrTotalAll</td>
                                <td colspan="11" bgcolor="#f4a142" style="color:black; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">@TotalAllUmr</td>
                                <td colspan="10" bgcolor="#f4a142" style="color:black; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">@TotalAllKdmt</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!--<a href="#" id="downloadpdf">Download PDF</a>-->
                //farahin comment
                @*<a href="#" id="downloadpdf2">Download PDF</a>
                    <a href="#" onclick="HTMLtoExcel('@uniquefilename')">Download Excel</a>*@
                <br />

                //farahin-20012021
                <div style="text-align:right; margin-top:10px">
                    <a class="btn btn-default btn-sm" href="" id="printpage">
                        <span class="glyphicon glyphicon-print"> </span> @GlobalResCorp.btnPrint
                    </a>
                    <a class="btn btn-default btn-sm" href="#" id="downloadpdf2">
                        <span><img src="~/Asset/Images/pdf-icon.png" width="20px" height="20px" /></span> @GlobalResCorp.btnDownloadPdf
                    </a>
                    <a class="btn btn-default btn-sm" href="#" onclick="HTMLtoExcel('@uniquefilename')">
                        <span><img src="~/Asset/Images/excel-icon.png" width="20px" height="20px" /></span> @GlobalResCorp.btnDownloadExcel
                    </a>
                </div>
            }
            else
            {
                <p style="color:red">@GlobalResLocalWorkerInfo.lblSelectionNote</p>
            }
        </div>
    </section>
}
<script src="~/Asset/Scripts/FromHTML.js"></script>
<script src="~/Asset/Scripts/FileSaver.js"></script>
<script>
    $(document).ready(function () {
         //farahin-20012021
        $("#printpage").click(function () {
            var DivElement = document.getElementById("scrollArea").innerHTML;
            var oldPage = document.body.innerHTML;
            document.body.innerHTML = DivElement;
            window.print();
            document.body.innerHTML = oldPage;
        })
        @*$("#downloadpdf").click(function () {
            var myHtml = document.getElementById('scrollArea').innerHTML;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ConvertPDF", "Report")',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({ myHtml: myHtml, filename : "@uniquefilename", reportname : "ActiveWoker" }),
                success: function (result) {
                    if (result.success) {
                        var win = window.open(result.id, '_blank');
                        win.focus();
                    } else {
                        $.simplyToast(result.msg, result.status);
                    }
                },
            });
            return false;
        });*@
        $("#downloadpdf2").click(function () {
            var myHtml = document.getElementById('scrollArea').innerHTML;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ConvertPDF2", "Report")',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({ myHtml: myHtml, filename: "@uniquefilename", reportname: "ActiveWorker" }),
                success: function (result) {
                    if (result.success) {
                        var win = window.open(result.link, '_blank');
                        win.focus();
                    } else {
                        $.simplyToast(result.msg, result.status);
                    }
                },
            });
            return false;
        });
          $("#SyarikatList").change(function () {
        debugger
        var SyarikatList = {};
        var disableoption = "";
        SyarikatList.url = "@Url.Action("GetWilayah5", "Report")";
        SyarikatList.type = "POST";
        SyarikatList.data = JSON.stringify({ SyarikatID: $("#SyarikatList").val() });
        SyarikatList.datatype = "json";
        SyarikatList.contentType = "application/json";
        SyarikatList.success = function (wilayahlist) {
            $("#WilayahIDList").empty();
            $("#LadangIDList").empty();
            $("#LadangIDList").append("<option value=0>@GlobalResActiveWorker.sltAll</option>");
            for (var i = 0; i < wilayahlist.length; i++) {
                if ($("#SyarikatList").val() == 0) {
                    disableoption = "disabled";
                }
                $("#WilayahIDList").append("<option value=" + wilayahlist[i].Value + " " + disableoption + ">" + wilayahlist[i].Text + "</option>");
            }

        };

        SyarikatList.error = function () { $.simplyToast('Sistem masalah', 'danger'); };
        $.ajax(SyarikatList);
    });

        $("#WilayahIDList").change(function () {
            var WilayahIDList = {};
        var disableoption = "";
            WilayahIDList.url = "@Url.Action("GetLadang4", "Report")";
            WilayahIDList.type = "POST";
            WilayahIDList.data = JSON.stringify({ WilayahID: $("#WilayahIDList").val(), SyarikatID: $("#SyarikatList").val() });
            WilayahIDList.datatype = "json";
            WilayahIDList.contentType = "application/json";
            WilayahIDList.success = function (ladanglist) {
                debugger
            $("#LadangIDList").empty();
            $("#LadangIDList").append("<option value=0>@GlobalResActiveWorker.sltAll</option>");
            for (var i = 0; i < ladanglist.length; i++) {
                if ($("#WilayahIDList").val() == 0) {
                    disableoption = "disabled";
                }
                $("#LadangIDList").append("<option value=" + ladanglist[i].Value + " " + disableoption + ">" + ladanglist[i].Text + "</option>");
            }
        };
            WilayahIDList.error = function () { $.simplyToast('Sistem masalah', 'danger'); };
        $.ajax(WilayahIDList);
    });
        @*if ($("#WilayahIDList").val() == 0) {
            var WilayahIDList = {};
            var disableoption = "";
            WilayahIDList.url = "@Url.Action("GetLadang", "Report")";
            WilayahIDList.type = "POST";
            WilayahIDList.data = JSON.stringify({ WilayahID: $("#WilayahIDList").val() });
            WilayahIDList.datatype = "json";
            WilayahIDList.contentType = "application/json";
            WilayahIDList.success = function (ladanglist) {
                $("#LadangIDList").empty();
                $("#LadangIDList").append("<option value=0>@GlobalResActiveWorker.sltAll</option>");
                for (var i = 0; i < ladanglist.length; i++) {
                    if ($("#WilayahIDList").val() == 0)
                    {
                        disableoption = "disabled";
                    }
                    $("#LadangIDList").append("<option value=" + ladanglist[i].Value + " " + disableoption + ">" + ladanglist[i].Text + "</option>");
                }
            };
            WilayahIDList.error = function () { $.simplyToast('Sistem masalah', 'error'); };
            $.ajax(WilayahIDList);
        }

        $("#WilayahIDList").change(function () {
            var WilayahIDList = {};
            var disableoption = "";
            WilayahIDList.url = "@Url.Action("GetLadang", "Report")";
            WilayahIDList.type = "POST";
            WilayahIDList.data = JSON.stringify({ WilayahID: $("#WilayahIDList").val() });
            WilayahIDList.datatype = "json";
            WilayahIDList.contentType = "application/json";
            WilayahIDList.success = function (ladanglist) {
                $("#LadangIDList").empty();
                $("#LadangIDList").append("<option value=0>@GlobalResActiveWorker.sltAll</option>");
                for (var i = 0; i < ladanglist.length; i++) {
                    if ($("#WilayahIDList").val() == 0) {
                        disableoption = "disabled";
                    }
                    $("#LadangIDList").append("<option value=" + ladanglist[i].Value + " " + disableoption + ">" + ladanglist[i].Text + "</option>");
                }
            };
            WilayahIDList.error = function () { $.simplyToast('Sistem masalah', 'error'); };
            $.ajax(WilayahIDList);
        });*@
    });
</script>
<script>
    function DisplayProgressMessage(ctl) {
        //$("body").addClass("submit-progress-bg");
        //$(".submit-progress").removeClass("hidden");
        $("#UpdateProgress1").css("display", "");
        return true;
    }
</script>
