@model IEnumerable<MVC_SYSTEM.Models.sp_RptRumKedKepPekLad_Result>
@{
    ViewBag.Title = "PaysheetFelda";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@using (Html.BeginForm("ActiveWorker", "Report", FormMethod.Post, new { id = "Report" }))
{
    @Html.AntiForgeryToken()
    <!-- ** BEGIN POP-UP MESSAGE AREA ** -->
    @*<div class="submit-progress hidden">
            <i class="fa fa-2x fa-spinner fa-spin"></i>
            <label>@GlobalResActiveWorker.WaitMsg</label>
        </div>*@
    <!-- ** END POP-UP MESSAGE AREA ** -->
    <section class="content-wrapper main-content clear-fix">
        <div class="well bottom">
            <div class="row">
                <div class="col-sm-2">
                    @Html.Label(GlobalResActiveWorker.lblYear)
                    @Html.DropDownList("YearList", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-3">
                    @Html.Label(GlobalResActiveWorker.lblWilayah)
                    @Html.DropDownList("WilayahIDList", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-3">
                    @Html.Label(GlobalResActiveWorker.lblLadang)
                    @Html.DropDownList("LadangIDList", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    @Html.Label(GlobalResActiveWorker.lblStatus)
                    @Html.DropDownList("Status", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-2" style="padding-top:25px;">
                    <input class="btn btn-primary btn-block" type="submit" name="Lihat" id="Lihat" value="@GlobalResActiveWorker.btnViewName" onclick="return DisplayProgressMessage(this);" />
                </div>
            </div>
        </div>
    </section>
}