@using MVC_SYSTEM.Class;

@{
    ViewBag.Title = "TransactionListingReport";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "Get",
        UpdateTargetId = "searchResultTransactionListingRpt",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "divLoading"
    };
}

<script src="~/Asset/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<div id="divLoading" style="display:none;">
    <div class="progressTest">
        <label>
            @GlobalResDataEntry.WaitMsg
        </label>
    </div>
</div>


<section class="content-wrapper main-content clear-fix">
    <div class="well bottom">
        @using (Ajax.BeginForm("_TransactionListingRptSearch", "Report", null, options, new { @id = "TransactionListingRptSearch" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-sm-2">
                    <label>Wilayah</label>
                    @Html.DropDownList("WilayahIDList", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    <label>Ladang</label>
                    @Html.DropDownList("LadangIDList", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    <label>Bulan</label>
                    @Html.DropDownList("MonthList", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    <label>Tahun</label>
                    @Html.DropDownList("YearList", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-2" style="padding-top:24px;">
                    <input class="btn btn-primary btn-block" type="submit" name="Lihat" value="Lihat" />
                </div>
            </div>
        }
    </div>
    <div class="well">
        <p style="text-align:center;"><label>Laporan Transaction Listing</label></p>
        <div id="searchResultTransactionListingRpt">
            @Html.Action("_TransactionListingRptSearch")
        </div>
    </div>
</section>

<!-- modal placeholder-->
<div id='myModal1' class='modal'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div id='myModalContent1'></div>
        </div>
    </div>
</div>

<div id='myModal' class='modal'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Asset/Scripts/AjaxModal.js")
}

<script>
    $(document).ready(function () {
        if ($("#WilayahIDList").val() == 0) {
            var WilayahIDList = {};
            var disableoption = "";
            WilayahIDList.url = "@Url.Action("GetLadang", "Report")";
            WilayahIDList.type = "POST";
            WilayahIDList.data = JSON.stringify({ WilayahID: $("#WilayahIDList").val() });
            WilayahIDList.datatype = "json";
            WilayahIDList.contentType = "application/json";
            WilayahIDList.success = function (ladanglist) {
                $("#LadangIDList").empty();
                $("#LadangIDList").append("<option value=0>@GlobalResWorkerSalary.sltAll</option>");
                for (var i = 0; i < ladanglist.length; i++) {
                    if ($("#WilayahIDList").val() == 0)
                    {
                        disableoption = "disabled";
                    }
                    $("#LadangIDList").append("<option value=" + ladanglist[i].Value + " " + disableoption + ">" + ladanglist[i].Text + "</option>");
                }
            };
            WilayahIDList.error = function () { $.simplyToast('Sistem masalah', 'danger'); };
            $.ajax(WilayahIDList);
        }

        $("#WilayahIDList").change(function () {
            var WilayahIDList = {};
            var disableoption = "";
            WilayahIDList.url = "@Url.Action("GetLadang", "Report")";
            WilayahIDList.type = "POST";
            WilayahIDList.data = JSON.stringify({ WilayahID: $("#WilayahIDList").val() });
            WilayahIDList.datatype = "json";
            WilayahIDList.contentType = "application/json";
            WilayahIDList.success = function (ladanglist) {
                $("#LadangIDList").empty();
                $("#LadangIDList").append("<option value=0>@GlobalResWorkerSalary.sltAll</option>");
                for (var i = 0; i < ladanglist.length; i++) {
                    if ($("#WilayahIDList").val() == 0) {
                        disableoption = "disabled";
                    }
                    $("#LadangIDList").append("<option value=" + ladanglist[i].Value + " " + disableoption + ">" + ladanglist[i].Text + "</option>");
                }
            };
            WilayahIDList.error = function () { $.simplyToast('Sistem masalah', 'danger'); };
            $.ajax(WilayahIDList);
        });
    });
</script>
