@using MVC_SYSTEM.Class;
@{
    ViewBag.Title = "Worker Transaction Salary";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    GetLadang GetLadang = new GetLadang();
    GetWilayah GetWilayah = new GetWilayah();
    GetDataCount GetDataCount = new GetDataCount();
    GetTriager GetTriager = new GetTriager();
    ChangeTimeZone ChangeTimeZone = new ChangeTimeZone();
    int bill = 0;
    int bill1 = 1;
    int check = 0;
    decimal gaji = 0;
    decimal totalGaji = 0;
    string Gaji = "";
    string TotalGaji = "";
    string wlyhName = "";
    string ldgName = "";
    string ldgcode = "";
    int year = ChangeTimeZone.gettimezone().Year;
    int month = ChangeTimeZone.gettimezone().Month;
    int day = ChangeTimeZone.gettimezone().Day;
    int hour = ChangeTimeZone.gettimezone().Hour;
    int minute = ChangeTimeZone.gettimezone().Minute;
    int second = ChangeTimeZone.gettimezone().Second;
    string uniquefilename = "WorkerTransacSalary_" + ViewBag.UserID + "_" + year.ToString() + month.ToString() + day.ToString() + hour.ToString() + minute.ToString() + second.ToString();
    string monthstring = ViewBag.Month.ToString();
    if (monthstring.Length == 1)
    {
        monthstring = "0" + monthstring;
    };
}
<!-- Styles for Wait Messages -->
@*<link href="~/Asset/Content/font-awesome.min.css" rel="stylesheet" />*@

<div id="UpdateProgress1" style="display:none;">
    <div class="progressTest">
        <label>
            @GlobalResReport.WaitMsg
        </label>
    </div>
</div>

@using (Html.BeginForm("WorkerTransacSalary", "Report", FormMethod.Post, new { id = "Report" }))
{
    @Html.AntiForgeryToken()
    <!-- ** BEGIN POP-UP MESSAGE AREA ** -->
    @*<div id="progressmsg" class="submit-progress hidden">
        <i class="fa fa-2x fa-spinner fa-spin"></i>
        <label>@GlobalResWorkerTransacSalary.WaitMsg</label>
    </div>*@
    <!-- ** END POP-UP MESSAGE AREA ** -->
    <section class="content-wrapper main-content clear-fix">
        <div class="well bottom">
            <div class="row">
                <div class="col-sm-2">
                    @Html.Label(GlobalResWorkerTransacSalary.lblMonth)
                    @Html.DropDownList("MonthList", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    @Html.Label(GlobalResWorkerTransacSalary.lblYear)
                    @Html.DropDownList("YearList", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    @Html.Label(GlobalResWorkerTransacSalary.lblWilayah)
                    @Html.DropDownList("WilayahIDList", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    @Html.Label(GlobalResWorkerTransacSalary.lblLadang)
                    @Html.DropDownList("LadangIDList", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-2" style="padding-top:25px;">
                    <input class="btn btn-primary btn-block" type="submit" name="Lihat" id="Lihat" value="@GlobalResWorkerTransacSalary.btnViewName" onclick="return DisplayProgressMessage(this);" />
                </div>
            </div>
        </div>
        <div id="DataTable" class="well">
            <p style="text-align:center;"><label>@GlobalResWorkerTransacSalary.hdrReportTitle</label></p>
            @if (ViewBag.getflag == 1)
            {
                <p style="color:red">@GlobalResWorkerTransacSalary.lblText</p>
            }

            else
            {
                <div id="scrollArea" class="modal-body">
                    @if (ViewBag.WilayahSelection == 0)
                    {
                        foreach (var wlyh in GetWilayah.GetWilayahID(ViewBag.SyarikatID))
                        {
                            totalGaji = 0;
                            bill = 0;
                            wlyhName = GetWilayah.GetWilayahName(wlyh);
                            check = 0;
                            foreach (var ldg in GetLadang.GetCodeLadang(wlyh, "WorkerTransac", ViewBag.Year))
                            {
                                int totalcount = GetDataCount.datacount(ViewBag.NeragaID, ViewBag.SyarikatID, wlyh, ldg, monthstring, ViewBag.Year);
                                if (totalcount >= 1)
                                {
                                    check = check + 1;
                                }
                            }
                            if (check >= 1)
                            {
                                <logo />
                                <table class="table table-hover table-bordered" style="font-size: 11px;" border="0">
                                    <thead>
                                    @if (bill1 == 1)
                                    {
                                        <tr>
                                            <th colspan="4" style="text-align:center;vertical-align:middle;">
                                                @ViewBag.NamaSyarikat
                                                <br />
                                                (@GlobalResWorkerTransacSalary.hdrCmpnyNo : @ViewBag.NoSyarikat)
                                                <br />
                                                @GlobalResWorkerTransacSalary.hdrReportTitle
                                                <br />
                                                @GetTriager.GetMonthName(ViewBag.Month) - @ViewBag.Year
                                            </th>
                                        </tr>
                                    }
                                    else
                                    {
                                        <hide />
                                        <tr style="display:none;">
                                            <th colspan="4" style="text-align:center;vertical-align:middle;">
                                                @ViewBag.NamaSyarikat
                                                <br />
                                                (@GlobalResWorkerTransacSalary.hdrCmpnyNo : @ViewBag.NoSyarikat)
                                                <br />
                                                @GlobalResWorkerTransacSalary.hdrReportTitle
                                                <br />
                                                @GetTriager.GetMonthName(ViewBag.Month) - @ViewBag.Year
                                            </th>
                                        </tr>
                                    }
                                        <tr>
                                            <th colspan="4" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">
                                                @wlyhName
                                            </th>
                                        </tr>
                                        <tr>
                                            <th bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResWorkerTransacSalary.hdrNo</th>
                                            <th bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResWorkerTransacSalary.hdrKodLdg</th>
                                            <th bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResWorkerTransacSalary.hdrNamaLdg</th>
                                            <th bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResWorkerTransacSalary.hdrGajiBuruh</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var ldg2 in GetLadang.GetCodeLadang(wlyh, "WorkerTransac", ViewBag.Year))
                                        {
                                            int totalcount = GetDataCount.datacount(ViewBag.NeragaID, ViewBag.SyarikatID, wlyh, ldg2, monthstring, ViewBag.Year);
                                            if (totalcount >= 1)
                                            {
                                                bill = bill + 1;
                                                ldgName = GetLadang.GetLadangName(ldg2, wlyh);
                                                ldgcode = GetLadang.GetLadangCode(ldg2);
                                                gaji = GetDataCount.getgaji(ViewBag.NeragaID, ViewBag.SyarikatID, wlyh, ldg2, monthstring, ViewBag.Year);
                                                Gaji = gaji.ToString("N");
                                                <tr>
                                                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                                        @bill
                                                    </td>
                                                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                                        @ldgcode
                                                    </td>
                                                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                                        @ldgName
                                                    </td>
                                                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                                        @Gaji
                                                    </td>
                                                </tr>
                                                totalGaji = totalGaji + gaji;
                                                TotalGaji = totalGaji.ToString("N");
                                            }
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="3" bgcolor="#085480" style="color:white; text-align: right; vertical-align:middle !important;border:1px solid black;" border="1">
                                                <strong>@GlobalResWorkerTransacSalary.ftrJumlah</strong>
                                            </td>
                                            <td bgcolor="#085480" style="color:white; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">
                                                <strong>@TotalGaji</strong>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <newpage />
                            }
                            bill1++;
                        }
                    }
                    else
                    {
                        <logo />
                        <table class="table table-hover table-bordered" style="font-size: 11px;" border="0">
                            <thead>
                                <tr>
                                    <th colspan="4" style="text-align:center;vertical-align:middle;">
                                        @ViewBag.NamaSyarikat
                                        <br />
                                        (@GlobalResWorkerTransacSalary.hdrCmpnyNo : @ViewBag.NoSyarikat)
                                        <br />
                                        @GlobalResWorkerTransacSalary.hdrReportTitle
                                        <br />
                                        @GetTriager.GetMonthName(ViewBag.Month) - @ViewBag.Year
                                    </th>
                                </tr>
                                <tr>
                                    <th bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResWorkerTransacSalary.hdrNo</th>
                                    <th bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResWorkerTransacSalary.hdrKodLdg</th>
                                    <th bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResWorkerTransacSalary.hdrNamaLdg</th>
                                    <th bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResWorkerTransacSalary.hdrGajiBuruh</th>
                                </tr>
                            </thead>

                            <tbody>
                                @if (ViewBag.LadangSelection == 0)
                                {
                                    foreach (var ldg in GetLadang.GetCodeLadang(ViewBag.WilayahSelection, "WorkerTransac", ViewBag.Year))
                                    {
                                        int totalcount = GetDataCount.datacount(ViewBag.NeragaID, ViewBag.SyarikatID, ViewBag.WilayahSelection, ldg, monthstring, ViewBag.Year);
                                        if (totalcount >= 1)
                                        {
                                            bill = bill + 1;
                                            ldgName = GetLadang.GetLadangName(ldg, ViewBag.WilayahSelection);
                                            ldgcode = GetLadang.GetLadangCode(ldg);
                                            gaji = GetDataCount.getgaji(ViewBag.NeragaID, ViewBag.SyarikatID, ViewBag.WilayahSelection, ldg, monthstring, ViewBag.Year);
                                            Gaji = gaji.ToString("N");
                                            <tr>
                                                <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                                    @bill
                                                </td>
                                                <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                                    @ldgcode
                                                </td>
                                                <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                                    @ldgName
                                                </td>
                                                <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                                    @Gaji
                                                </td>
                                            </tr>
                                            totalGaji = totalGaji + gaji;
                                            TotalGaji = totalGaji.ToString("N");
                                        }
                                    }
                                }
                                else
                                {
                                    int totalcount = GetDataCount.datacount(ViewBag.NeragaID, ViewBag.SyarikatID, ViewBag.WilayahSelection, ViewBag.LadangSelection, monthstring, ViewBag.Year);
                                    if (totalcount >= 1)
                                    {
                                        bill = bill + 1;
                                        ldgName = GetLadang.GetLadangName(ViewBag.LadangSelection, ViewBag.WilayahSelection);
                                        ldgcode = GetLadang.GetLadangCode(ViewBag.LadangSelection);
                                        gaji = GetDataCount.getgaji(ViewBag.NeragaID, ViewBag.SyarikatID, ViewBag.WilayahSelection, ViewBag.LadangSelection, monthstring, ViewBag.Year);
                                        Gaji = gaji.ToString("N");
                                        <tr>
                                            <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                                @bill
                                            </td>
                                            <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                                @ldgcode
                                            </td>
                                            <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                                @ldgName
                                            </td>
                                            <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                                @Gaji
                                            </td>
                                        </tr>
                                        totalGaji = totalGaji + gaji;
                                        TotalGaji = totalGaji.ToString("N");

                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3" bgcolor="#085480" style="color:white; text-align: right; vertical-align:middle !important;border:1px solid black;" border="1">
                                        <strong>@GlobalResWorkerTransacSalary.ftrJumlah</strong>
                                    </td>
                                    <td bgcolor="#085480" style="color:white; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">
                                        <strong>@TotalGaji</strong>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <newpage />
                    }
                </div>
                <a href="#" id="downloadpdf2">Download PDF</a>
                <a href="#" onclick="HTMLtoExcel('@uniquefilename')">Download Excel</a>
            }
        </div>
    </section>
}
<script src="~/Asset/Scripts/FromHTML.js"></script>
<script src="~/Asset/Scripts/FileSaver.js"></script>
<script>
    $(document).ready(function () {
        $("#downloadpdf").click(function () {
            var myHtml = document.getElementById('scrollArea').innerHTML;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ConvertPDF", "Report")',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({ myHtml: myHtml, filename: "@uniquefilename", reportname: "WorkerTransacSalary" }),
                success: function (result) {
                    if (result.success) {
                        var win = window.open(result.id, '_blank');
                        win.focus();
                    } else {
                        $.simplyToast(result.msg, result.status);
                    }
                },
            });
            return false;
        });
        $("#downloadpdf2").click(function () {
            var myHtml = document.getElementById('scrollArea').innerHTML;
            //alert(myHtml);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ConvertPDF2", "Report")',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({ myHtml: myHtml, filename: "@uniquefilename", reportname: "WorkerTransacSalary" }),
                success: function (result) {
                    if (result.success) {
                        var win = window.open(result.link, '_blank');
                        win.focus();
                    } else {
                        $.simplyToast(result.msg, result.status);
                    }
                },
                error: function (error) {
                    $.simplyToast('Sorry too many data', 'danger');
                }
            });
            return false;
        });
        if ($("#WilayahIDList").val() == 0) {
            var WilayahIDList = {};
            var disableoption = "";
            WilayahIDList.url = "@Url.Action("GetLadang", "Report")";
            WilayahIDList.type = "POST";
            WilayahIDList.data = JSON.stringify({ WilayahID: $("#WilayahIDList").val() });
            WilayahIDList.datatype = "json";
            WilayahIDList.contentType = "application/json";
            WilayahIDList.success = function (ladanglist) {
                $("#LadangIDList").empty();
                $("#LadangIDList").append("<option value=0>@GlobalResWorkerTransacSalary.sltAll</option>");
                for (var i = 0; i < ladanglist.length; i++) {
                    if ($("#WilayahIDList").val() == 0) {
                        disableoption = "disabled";
                    }
                    $("#LadangIDList").append("<option value=" + ladanglist[i].Value + " " + disableoption + ">" + ladanglist[i].Text + "</option>");
                }
            };
            WilayahIDList.error = function () { $.simplyToast('Sistem masalah', 'danger'); };
            $.ajax(WilayahIDList);
        }

        $("#WilayahIDList").change(function () {
            var WilayahIDList = {};
            var disableoption = "";
            WilayahIDList.url = "@Url.Action("GetLadang", "Report")";
            WilayahIDList.type = "POST";
            WilayahIDList.data = JSON.stringify({ WilayahID: $("#WilayahIDList").val() });
            WilayahIDList.datatype = "json";
            WilayahIDList.contentType = "application/json";
            WilayahIDList.success = function (ladanglist) {
                $("#LadangIDList").empty();
                $("#LadangIDList").append("<option value=0>@GlobalResWorkerTransac.sltAll</option>");
                for (var i = 0; i < ladanglist.length; i++) {
                    if ($("#WilayahIDList").val() == 0) {
                        disableoption = "disabled";
                    }
                    $("#LadangIDList").append("<option value=" + ladanglist[i].Value + " " + disableoption + ">" + ladanglist[i].Text + "</option>");
                }
            };
            WilayahIDList.error = function () { $.simplyToast('Sistem masalah', 'danger'); };
            $.ajax(WilayahIDList);
        });
    });
</script>
<script>
    function DisplayProgressMessage(ctl) {
        //$("body").addClass("submit-progress-bg");
        //$(".submit-progress").removeClass("hidden");
        $("#UpdateProgress1").css("display", "");
        return true;
    }
</script>
