@model IEnumerable<MVC_SYSTEM.Models.sp_RptBulPenPekLadSum_Result>
@using MVC_SYSTEM.Class;
@{ 
    GetTriager GetTriager = new GetTriager();
    int? total = 0;
    string summary = "";
    if(ViewBag.WilayahName == null && ViewBag.LadangCode == null)
    {
        summary = GlobalResWorkerSalary.lblSummaryTextAll;
    }
    else if(ViewBag.WilayahName != null && ViewBag.LadangCode == null)
    {
        summary = GlobalResWorkerSalary.lblSummaryTextSelected + " " + ViewBag.WilayahName;
    }
    else
    {
        summary = GlobalResWorkerSalary.lblSummaryTextSelected + " " + ViewBag.WilayahName + " - (" + ViewBag.LadangCode + " - " + ViewBag.LadangName + ")";
    }

}
<logo />
<table class="table table-hover table-bordered" style="font-size: 11px;" border="0">
    <thead>
        <hide />
        <tr style="display:none;">
            <th colspan="2" style="text-align:center;vertical-align:middle;">
                @ViewBag.NamaSyarikat
                <br />
                (@GlobalResWorkerSalary.hdrCmpnyNo : @ViewBag.NoSyarikat)
                <br />
                @GlobalResWorkerSalary.hdrReportTitle
                <br />
                @GetTriager.GetMonthName(ViewBag.Month) - @ViewBag.Year
            </th>
        </tr>
        <tr>
            <th colspan="2" style="text-align:center;vertical-align:middle;"></th>
        </tr>
        <tr>
            <th colspan="2" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">
                @summary
            </th>
        </tr>
        <tr>
            <th colspan="2" style="text-align:center;vertical-align:middle;"></th>
        </tr>
        <tr>
            <th bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">
                @GlobalResWorkerSalary.hdrKrytan
            </th>
            <th bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">
                @GlobalResWorkerSalary.hdrBilPkjSms
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                    @item.Kerakyatan
                </td>
                <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                    @item.TotalCount
                </td>
            </tr>

            total = total + item.TotalCount;
        }
    </tbody>
    <tfoot>
        <tr>
            <td bgcolor="#085480" style="color:white; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResWorkerSalary.hdrTotalAll</td>
            <td bgcolor="#085480" style="color:white; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">@total</td>
        </tr>
    </tfoot>
</table>
