@model IEnumerable<MVC_SYSTEM.ModelsCorporate.tbl_GLSAP>

@using MVC_SYSTEM.Class
@using MVC_SYSTEM.ModelsCorporate

@{
    //ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    GetConfig getconfig = new GetConfig();
    MVC_SYSTEM_ModelsCorporate db = new MVC_SYSTEM_ModelsCorporate();
    ChangeTimeZone time = new ChangeTimeZone();
    DateTime Todaydate = time.gettimezone();


    string uniquefilename = "Master Data GL" + ViewBag.UserID + "_" + Todaydate.Year.ToString() + Todaydate.Month.ToString() + Todaydate.Day.ToString() + Todaydate.Hour.ToString() + Todaydate.Minute.ToString() + Todaydate.Second.ToString();


    string dateformat = getconfig.GetData("dateformat3");
    int bil = 0, bil1 = 0, bil2 = 0, bil3 = 0, bil4 = 0;
}

@if (Model != null && Model.Count() != 0)
{
    <div class="well modal-body col-sm-12" style="margin-left : 10px; margin-right : 7px">
        <div class="panel-body col-sm-12">
            <div id="scrollArea2" class="col-sm-12">
                <div id="GLList">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th bgcolor="#ffcc80" width="10%" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">Bil</th>
                                <th bgcolor="#ffcc80" width="10%" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">Kod GL</th>
                                <th bgcolor="#ffcc80" width="20%" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">Keterangan GL</th>
                                <th bgcolor="#ffcc80" width="10%" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">Tindakan Oleh</th>
                                <th bgcolor="#ffcc80" width="10%" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">Tarikh Download</th>
                                <th bgcolor="#ffcc80" width="10%" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">Last Modified</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var GLDetails in Model)
                            {
                                bil = bil + 1;
                                <tr>
                                    <td align="center" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">@bil</td>
                                    <td align="center" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">@GLDetails.fld_GLcode</td>
                                    <td align="center" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">@GLDetails.fld_Desc </td>
                                    <td align="center" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">@GLDetails.fld_CreatedBy </td>
                                    <td align="center" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1"> @String.Format("{0:dd/MM/yyyy}", @GLDetails.fld_DTCreated.Date) </td>
                                    <td align="center" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1"> @String.Format("{0:dd/MM/yyyy}", @GLDetails.fld_DTModified.Date)</td>
                                </tr>

                            }
                        </tbody>
                    </table>


                </div>
            </div>

            @*<div style="text-align:right; margin-top:10px">
                <a class="btn btn-default btn-sm" href="#" id="printpage">
                    <span class="glyphicon glyphicon-print"> </span> @GlobalResCorp.btnPrint
                </a>
                <a class="btn btn-default btn-sm" href="#" id="downloadpdf">
                    <span><img src="~/Asset/Images/pdf-icon.png" width="20px" height="20px" /></span> @GlobalResCorp.btnDownloadPdf
                </a>
                <a class="btn btn-default btn-sm" href="#" onclick="HTMLtoExcel2('@uniquefilename')">
                    <span><img src="~/Asset/Images/excel-icon.png" width="20px" height="20px" /></span> @GlobalResCorp.btnDownloadExcel
                </a>
            </div>*@
        </div>
    </div>
}
@*<script src="~/Asset/Scripts/FromHTML.js"></script>
<script src="~/Asset/Scripts/FileSaver.js"></script>*@

<script>
    $(document).ready(function () {

        $("#printpage").click(function () {

            var DivElement = document.getElementById("scrollArea2").innerHTML;
            var oldPage = document.body.innerHTML;
            document.body.innerHTML = DivElement;
            window.print();
            document.body.innerHTML = oldPage;
        })

        $("#downloadpdf").click(function () {
            var myHtml = document.getElementById('scrollArea2').innerHTML;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ConvertPDF", "SpecificSAPData")',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({ myHtml: myHtml, filename: "@uniquefilename", reportname: "GLMasterData" }),
                success: function (result) {
                    if (result.success) {
                        var win = window.open(result.link, '_blank');
                        win.focus();
                    } else {
                        $.simplyToast(result.msg, result.status);
                    }
                },
                error: function (error) {
                    $.simplyToast('Sorry to many data', 'danger');
                }
            });
            return false;
        });
    });

    function HTMLtoExcel2(filename) {
        var blob = new Blob([document.getElementById('scrollArea2').innerHTML], {
            type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8"
        });
        saveAs(blob, filename + ".xls");
    };
</script>
