
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-title">Pilih Projek</h3>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                @*yana add 030823*@
                <div class="col-md-12">
                    @Html.Label(GlobalResCorp.lblCompany)
                    @Html.DropDownList("SyarikatList", (SelectList)null, htmlAttributes: new { @class = "form-control" })
                </div>
                @*end here 030823*@
                <div class="col-md-12">
                    @Html.Label("Wilayah")
                    @Html.DropDownList("WilayahIDList", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.Label("Ladang")
                    @Html.DropDownList("LadangIDList", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input class="btn btn-primary" type="submit" value="Masuk" onclick="return DisplayProgressMessage(this);" />
    </div>
}
<script>
    $(document).ready(function () {

                //yana added - 11/10/2023
 $("#SyarikatList").change(function () {
    debugger
    var SyarikatList = {};
    var disableoption = "";
    SyarikatList.url = "@Url.Action("GetWilayah", "EstateSelection")";
    SyarikatList.type = "POST";
     SyarikatList.data = JSON.stringify({ SyarikatID: $("#SyarikatList").val() });
    SyarikatList.datatype = "json";
    SyarikatList.contentType = "application/json";
    SyarikatList.success = function (wilayahlist) {
        $("#WilayahIDList").empty();
        $("#LadangIDList").empty();
        $("#LadangIDList").append("<option value=0>@GlobalResCorp.lblChoose</option>");
        for (var i = 0; i < wilayahlist.length; i++) {
            if ($("#SyarikatList").val() == 0) {
                disableoption = "disabled";
            }
            $("#WilayahIDList").append("<option value=" + wilayahlist[i].Value + " " + disableoption + ">" + wilayahlist[i].Text + "</option>");
        }

    };

    SyarikatList.error = function () { $.simplyToast('Sistem masalah', 'danger'); };
    $.ajax(SyarikatList);
 });
//end
        if ($("#WilayahIDList").val() == 0) {
            var WilayahIDList = {};
            var disableoption = "";
            WilayahIDList.url = "@Url.Action("GetLadang", "EstateSelection")";
            WilayahIDList.type = "POST";
            WilayahIDList.data = JSON.stringify({ WilayahID: $("#WilayahIDList").val() });
            WilayahIDList.datatype = "json";
            WilayahIDList.contentType = "application/json";
            WilayahIDList.success = function (ladanglist) {
                $("#LadangIDList").empty();
                /*yana added - 11/10/2023*/
                $("#LadangIDList").append("<option value=0>@GlobalResCorp.lblChoose</option>");
                for (var i = 0; i < ladanglist.length; i++) {
                    if ($("#WilayahIDList").val() == 0)
                    {
                        disableoption = "disabled";
                    }
                    $("#LadangIDList").append("<option value=" + ladanglist[i].Value + " " + disableoption + ">" + ladanglist[i].Text + "</option>");
                }
            };
            WilayahIDList.error = function () { $.simplyToast('Sistem masalah', 'error'); };
            $.ajax(WilayahIDList);
        }

        $("#WilayahIDList").change(function () {
            var WilayahIDList = {};
            var disableoption = "";
            WilayahIDList.url = "@Url.Action("GetLadang", "EstateSelection")";
            WilayahIDList.type = "POST";
            // yana update 030823 - add SyarikatList: $("#SyarikatList").val()
            WilayahIDList.data = JSON.stringify({ WilayahID: $("#WilayahIDList").val(), SyarikatList: $("#SyarikatList").val() });
            // end here 030823
            WilayahIDList.datatype = "json";
            WilayahIDList.contentType = "application/json";
            WilayahIDList.success = function (ladanglist) {
                $("#LadangIDList").empty();
                for (var i = 0; i < ladanglist.length; i++) {
                    if ($("#WilayahIDList").val() == 0) {
                        disableoption = "disabled";
                    }
                    $("#LadangIDList").append("<option value=" + ladanglist[i].Value + " " + disableoption + ">" + ladanglist[i].Text + "</option>");
                }
            };
            WilayahIDList.error = function () { $.simplyToast('Sistem masalah', 'error'); };
            $.ajax(WilayahIDList);
        });
    });
</script>
