@model MVC_SYSTEM.ViewingModels.PagedList<MVC_SYSTEM.ViewingModels.tblSystemConfig>
@{
    ViewBag.Title = "System Config List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-wrapper main-content clear-fix">
    <div class="well">
        @using (Html.BeginForm("index", null, FormMethod.Get))
        {
            <div class="row">
                <!--<div class="col-sm-5">
                    @Html.DropDownList("fldConfigID", null, htmlAttributes: new { @class = "form-control" })
                </div>-->
                <div class="col-sm-5">
                    <div class="input-group">
                        <input type="text" name="filter" value="@ViewBag.filter" class="form-control" style="display: inline" placeholder="Search" />

                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Go</button>
                        </span>

                    </div>
                </div>
            </div>

            <div style="margin-top:17px;">
                @{
                    var grid = new WebGrid(
                                canPage: true,
                                rowsPerPage: Model.PageSize,
                                canSort: true,
                                ajaxUpdateContainerId: "grid");

                    grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);
                    grid.Pager(WebGridPagerModes.All);

                    @grid.GetHtml(htmlAttributes: new { id = "grid" },   // id for ajaxUpdateContainerId parameter
                         fillEmptyRows: false,
                         tableStyle: "table table-bordered table-hover",
                         mode: WebGridPagerModes.All,
                         columns: grid.Columns(
                           grid.Column("fldConfigDesc", "Description", style: "col-lg-2"),
                           grid.Column("fldConfigValue", "Content", style: "col-lg-2"),
                           grid.Column(header: "Action", canSort: false, style: "col-lg-2",
                         format: @<text>
                    @Html.Raw("<a data-modal='' href='" + @Url.Action("Edit", "SystemConfigs") + "/" + item.fldConfigID + "' id='" + item.fldConfigID + "' title='Edit'> <span class='glyphicon glyphicon-edit'> </span> </a>")
                </text>)

                     ));
                }


            </div>
                    }
    </div>
</section>
<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/Asset/Scripts/appjs.js")
}
