@model IEnumerable < MVC_SYSTEM.ModelsCorporate.tbl_CMSAP>

@{
    //ViewBag.Title = "cmList"; //Dania comment
    ViewBag.Title = "Master Data Customer "; //Dania tambah
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    int? bil = 0;
}

<section class="content-wrapper main-content clear-fix">
    @using (Html.BeginForm("cmList", "SAPMasterData", new { id = "" }))
    {
        @Html.AntiForgeryToken()
        <div class="well bottom" style="margin-left : 10px; margin-right : 7px; margin-top : 10px; margin-bottom : 10px">
            <div class="row">
                <div class="col-sm-2">
                    @Html.Label("Kod Syarikat")
                    @Html.DropDownList("CompanyCode", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    @Html.Label("Kod Customer")
                    @Html.TextBox("cmCode", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    @Html.Label("Keterangan")
                    @Html.TextBox("cmDesc", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-4 btn-group" style="padding-top:24px;">
                    <input class="btn btn-primary col-sm-3" type="submit" id="btnCari" name="Lihat" value=@GlobalResCorp.btnView />

                </div>
            </div>
            <br />
        </div>
    }
    <br />

    <div class="panel panel-primary">

        <div class="panel-heading">Data VD SAP</div>
        <div class="panel-body">


            @if (Model != null && Model.Count() != 0)
            {

                 <div class="col-sm-12" style="text-align:center;">
                    <div id="scrollArea" class="col-sm-12">

                        <div class="CCList">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th bgcolor="#ffcc80" width="10%" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">Bil</th>
                                        <th bgcolor="#ffcc80" width="10%" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">Syarikat</th>
                                        <th bgcolor="#ffcc80" width="10%" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">Kod Customer</th>
                                        <th bgcolor="#ffcc80" width="30%" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">Keterangan </th>
                                        <th bgcolor="#ffcc80" width="10%" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">Tindakan Oleh</th>
                                        <th bgcolor="#ffcc80" width="10%" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">Tarikh </th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var cmDetails in Model)
                                    {
                                        bil = bil + 1;
                                        <tr @if (cmDetails.fld_DTCreated == DateTime.Today || cmDetails.fld_DTModified == DateTime.Today) { <text> style="background-color:lightgrey;" </text> }>
                                            <td align="center" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">@bil</td>
                                            <td align="center" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">@cmDetails.fld_CompanyCode</td>
                                            <td align="center" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">@cmDetails.fld_CustomerNo</td>
                                            <td align="center" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">@cmDetails.fld_Desc </td>
                                            <td align="center" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">
                                                @if (cmDetails.fld_ModifiedBy == "" || cmDetails.fld_ModifiedBy == null)
                                                {
                                                    @Html.DisplayFor(modelItem => cmDetails.fld_CreatedBy)
                                                }
                                                else
                                                {
                                                    @Html.DisplayFor(modelItem => cmDetails.fld_ModifiedBy)
                                                }

                                            </td>

                                            <td align="center" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">
                                                @if (cmDetails.fld_DTModified == Convert.ToDateTime("1900-01-01 00:00:00.000"))
                                                {
                                                    @String.Format("{0:dd/MM/yyyy}", cmDetails.fld_DTCreated)
                                                }
                                                else
                                                {
                                                    @String.Format("{0:dd/MM/yyyy}", cmDetails.fld_DTModified)
                                                }
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            }

            else
            {
                <div id="scrollArea" class="col-sm-12">
                    @GlobalResCorp.msgDataNotFound
                </div>
            }


            <div class="col-sm-12 modal-footer" style="text-align:right; padding-top:7px;">
                <input type="button" id="btnDisplaySearchResults" value="New Customer" onclick="location.href='@Url.Action("cmRequest", "SAPMasterData")'" class="btn btn-success " />
                <a href="@Url.Action("Index", "SAPMasterData")" onclick="return DisplayProgressMessage2(this);" class="btn btn-warning">@GlobalResCorp.btnBack</a>

            </div>
        </div>
    </div>
</section>
