@model MVC_SYSTEM.ModelsCorporate.tbl_GLSAPCreate
@using MVC_SYSTEM.Class;

@{ 
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="UpdateProgress1" style="display:none;">
    <div class="progressTest">
        <label>
            @GlobalResReport.WaitMsg
        </label>
    </div>
</div>
@*<div id='myModal1' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent' data-refresh="true"></div>
        </div>
    </div>
</div>*@
<section class="content-wrapper main-content clear-fix">
   

    @using (Html.BeginForm("_glRequest", "SAPMasterData", new { id = "" }))
    {

        <div class="modal-body">
            <div class="form-horizontal">
                <div class="panel panel-primary">
                    <div class="panel-heading">Request New GL</div>
                    <div class="panel-body">

                        <div class="form-group">
                            @Html.LabelFor(model => model.fld_CompanyCode, "SAP Company Code", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-9">
                                @Html.DropDownList("fld_CompanyCode", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.fld_GLcode, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.fld_GLcode, new { htmlAttributes = new { @class = "form-control required", required = "required" } })
                                @Html.ValidationMessageFor(model => model.fld_GLcode, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-1 text-center">
                                -
                            </div>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.fld_GLcode2, new { htmlAttributes = new { @class = "form-control"} })

                            </div>
                        </div>

                        <div class="col-sm-1">

                            <input class="btn btn-success" type="submit" value="Sent" />

                        </div>
                    </div>
                    </div>
            </div>
        </div>

     }

    </section>

<script>
    function DisplayProgressMessage(ctl) {
        //$("body").addClass("submit-progress-bg");
        //$(".submit-progress").removeClass("hidden");
        $("#UpdateProgress1").css("display", "");
        return true;
    }
</script>
@*<script type="text/javascript">
    $(window).on("load", function () {
        $('#myModalContent').load("@Url.Action("glTodayDate", "SAPMasterData", null, this.Request.Url.Scheme)", function () {
            $('#myModal1').modal({
                backdrop: 'static', keyboard: false
            }, 'show');
            return false;
        })
    });
</script>*@