@model MVC_SYSTEM.ModelsCorporate.tbl_VDSAPCreate
@using MVC_SYSTEM.Class;

@{
    ViewBag.Title = "Request New Vendor";
    @*@Scripts.Render("~/bundles/jqueryval")*@
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="UpdateProgress1" style="display:none;">
    <div class="progressTest">
        <label>
            @GlobalResReport.WaitMsg
        </label>
    </div>
</div>
<section class="content-wrapper main-content clear-fix">

    @using (Html.BeginForm("_vdRequest", "SAPMasterData", new { id = "" }))
    {

        <div class="modal-body">
            <div class="form-horizontal">
                <div class="panel panel-primary">
                    <div class="panel-heading">Request New Vendor</div>
                    <div class="panel-body">

                        <div class="form-group">
                            @Html.LabelFor(model => model.fld_CompanyCode, "SAP Company Code", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-9">
                                @Html.DropDownList("fld_CompanyCode", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.fld_VendorNo, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-sm-2">
                                @Html.EditorFor(model => model.fld_VendorNo, new { htmlAttributes = new { @class = "form-control required", required = "required" } })
                                @Html.ValidationMessageFor(model => model.fld_VendorNo, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-1 text-center">
                                -
                            </div>
                            <div class="col-sm-2">
                                @Html.EditorFor(model => model.fld_VendorNo2, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>

                        <div class="col-sm-12" style="text-align:right; padding-top:7px;">
                            <input class="btn btn-success" type="submit" value="Sent" />
                            <a href="@Url.Action("vdList", "SAPMasterData")" onclick="return DisplayProgressMessage2(this);" class="btn btn-warning">@GlobalResCorp.btnBack</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

</section>
<script>
    function DisplayProgressMessage(ctl) {
        //$("body").addClass("submit-progress-bg");
        //$(".submit-progress").removeClass("hidden");
        $("#UpdateProgress1").css("display", "");
        return true;
    }
</script>
