@model IEnumerable<MVC_SYSTEM.ModelsCorporate.tbl_VDSAP>


@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    int? bil = 0;
}

<section class="content-wrapper main-content clear-fix">
   
    <div class="panel panel-primary">

        <div class="panel panel-heading">Vendor SAP Inbound : @ViewBag.Date</div>
        <div class="panel-body">


            @if (Model != null && Model.Count() != 0)
            {
                <div class="col-sm-12" style="text-align:center;">
                    <div id="scrollArea" class="col-sm-12">

                        <div class="CCList">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th bgcolor="#ffcc80" width="10%" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">Bil</th>
                                        <th bgcolor="#ffcc80" width="10%" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">Syarikat</th>
                                        <th bgcolor="#ffcc80" width="10%" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">Kod Vendor</th>
                                        <th bgcolor="#ffcc80" width="30%" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">Keterangan </th>
                                        <th bgcolor="#ffcc80" width="10%" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">Tarikh </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var vdDetails in Model)
                                    {
                                        bil = bil + 1;
                                    <tr>
                                        <td align="center" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">@bil</td>
                                        <td align="center" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">@vdDetails.fld_CompanyCode</td>
                                        <td align="center" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">@vdDetails.fld_VendorNo</td>
                                        <td align="center" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">@vdDetails.fld_Desc </td>
                                        <td align="center" style="color:black; text-align:center; vertical-align:middle;border:1px solid black;" border="1">
                                            @if (vdDetails.fld_DTModified == Convert.ToDateTime("1900-01-01 00:00:00.000"))
                                            {
                                                @String.Format("{0:dd/MM/yyyy}", vdDetails.fld_DTCreated)
                                            }
                                            else
                                            {
                                                @String.Format("{0:dd/MM/yyyy}", vdDetails.fld_DTModified)
                                            }
                                        </td>
                                    </tr>

                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            }

            else
            {
                <div id="scrollArea" class="col-sm-12">
                    Tiada data
                </div>
            }


            <div class="col-sm-12" style="text-align:right;">
                <a href="@Url.Action("vdList", "SAPMasterData")" onclick="return DisplayProgressMessage2(this);" class="btn btn-warning">@GlobalResCorp.btnBack</a>
            </div>
        </div>
    </div>
</section>



