@using MVC_SYSTEM.Class
@model MVC_SYSTEM.ModelsCorporate.tbl_Negara

@{
    @Scripts.Render("~/bundles/jqueryval")
}

<section class="content-wrapper main-content clear-fix">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title">@GlobalResCorp.lblCompanyCountryAdd</h3>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="panel panel-primary">
                    <div class="panel-heading">@GlobalResCorp.lblCompanyCountryInfo</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label col-sm-3">@GlobalResCorp.lblCompanyGroupName:</label>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.fld_KmplnSyrktID, new SelectList(ViewBag.CompanyGroupList, "Value", "Text"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_KmplnSyrktID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">@GlobalResCorp.lblCompanyCountryName:</label>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.fld_NamaNegara, new SelectList(ViewBag.CountryList, "Value", "Text"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_NamaNegara, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <input class="btn btn-success" type="submit" value=@GlobalResCorp.btnSave>
            <button class="btn btn-warning" data-dismiss="modal">@GlobalResCorp.btnBack</button>
        </div>
    }
</section>

<script>
    $("form").removeData("validator");
    $("form").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse("form");
</script>