@using MVC_SYSTEM.Class
@model MVC_SYSTEM.ModelsCorporate.tbl_CostCentre

@{
    @Scripts.Render("~/bundles/jqueryval")
    GetConfig config = new GetConfig();
}


<section class="content-wrapper main-content clear-fix">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        @if (Model.fld_Deleted == false)
        {
            <h3 class="modal-title">@GlobalResCorp.lblccDelete</h3>
        }
        else
        {
            <h3 class="modal-title">@GlobalResCorp.lblccUnDelete</h3>
        }
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="panel panel-primary">
                    <div class="panel-heading">@GlobalResCorp.lblccInfo</div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label class="control-label col-sm-3">@GlobalResCorp.lblCostCenter:</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.fld_CostCentre, htmlAttributes: new { @class = "form-control", @disabled = "true" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">@GlobalResCorp.lblAktivitiCode:</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.fld_KodKtgri, htmlAttributes: new { @class = "form-control", @disabled = "true" })

                            </div>
                        </div>
                        
                        @Html.HiddenFor(model => model.fld_ID)

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 text-center">
                    <h3>
                        <span class="label label-danger">
                            @GlobalResCorp.msgDelete
                        </span>
                    </h3>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <input class="btn btn-success" type="submit" value=@GlobalResCorp.btnYes>
            <button class="btn btn-danger" data-dismiss="modal">@GlobalResCorp.btnNo</button>
        </div>
    }
</section>

<script>
    $("form").removeData("validator");
    $("form").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse("form");
</script>

