@using MVC_SYSTEM.Class
@*Modified by Shazana 18/7/2023*@
@model MVC_SYSTEM.ModelsCorporate.tbl_HargaKesukaran

@{
    @Scripts.Render("~/bundles/jqueryval")
}

<section class="content-wrapper main-content clear-fix">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        @*Modify by Shazana 18/6/2023*@
        @*<h3 class="modal-title">Kemaskini Harga (@ViewBag.DifficultyName)</h3>*@
        <h3 class="modal-title">Kemaskini Harga Kesukaran</h3> @*modified by faeza 07.10.2023*@
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="panel panel-primary">
                    @*Modify by Shazana 18/7/2023*@
                    @*<div class="panel-heading">Kemaskini harga (@ViewBag.DifficultyName)</div>*@
                    <div class="panel-heading">Maklumat Harga Kesukaran</div> @*modified by faeza 07.10.2023*@
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Jenis Harga Kesukaran:</label>
                            @*Commented by Shazana 14/6/2023*@
                            @*<div class="col-sm-2">*@
                            @*Added by Shazana 14/6/2023*@
                        <div class="col-sm-8">
                            @*Modify by Shazana 18/6/2023*@
                            @*<label class="form-control">@ViewBag.DifficultyNameType</label>*@
                            @Html.TextBoxFor(model => model.fld_JenisHargaKesukaran, htmlAttributes: new { @class = "form-control", @readonly = "true" }) @*added by faeza 07.10.2023*@
                        </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">@GlobalResCorp.lblDifficultyPriceCode:</label>
                            <div class="col-sm-2">
                                @*Modify by Shazana 18/7/2023*@
                                @Html.TextBoxFor(model => model.fld_KodHargaKesukaran, htmlAttributes: new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">@GlobalResCorp.lblDescription:</label>
                            <div class="col-sm-8">
                                @*Modify by Shazana 18/7/2023*@
                                @Html.TextBoxFor(model => model.fld_Keterangan, htmlAttributes: new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="form-group">
                            @*Modify by Shazana 18/7/2023*@
                            <label class="control-label col-sm-3">Harga Kesukaran(RM):</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.fld_HargaKesukaran, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_HargaKesukaran, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        @Html.HiddenFor(model => model.fld_Id)

                        @*Added by Shazana 12/6/2023*@
                        @*Modified by Shazana 18/7/2023*@
                        @Html.HiddenFor(model => model.fld_NegaraId)
                        @Html.HiddenFor(model => model.fld_SyarikatId)
                        @Html.HiddenFor(model => model.fld_WilayahId)

                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <input class="btn btn-success" type="submit" value=@GlobalResCorp.btnSave>
            <button class="btn btn-warning" data-dismiss="modal">@GlobalResCorp.btnBack</button>
        </div>
    }
</section>

<script>
    $("form").removeData("validator");
    $("form").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse("form");
</script>
