@using MVC_SYSTEM.Class
@*Modified by Shazana 18/7/2023*@
@model MVC_SYSTEM.ModelsCorporate.tbl_HargaKesukaran 
                                                                                              
@{
    @Scripts.Render("~/bundles/jqueryval")
}

<section class="content-wrapper main-content clear-fix">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title">@GlobalResCorp.lblDifficultyPriceAdd</h3>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="panel panel-primary">
                    <div class="panel-heading">@GlobalResCorp.lblDifficultyPriceInfo</div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label class="control-label col-sm-3">@GlobalResCorp.lblDifficultyPriceType:</label>
                            <div class="col-sm-5">
                                @Html.DropDownListFor(model => model.fld_JenisHargaKesukaran, new SelectList(ViewBag.fldOptConfFlag1, "Value", "Text"), new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">@GlobalResCorp.lblDifficultyPriceCode:</label>
                            <div class="col-sm-5">
                                @Html.TextBoxFor(model => model.fld_KodHargaKesukaran, htmlAttributes: new { @class = "form-control col-sm-2", @readonly = "true" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">@GlobalResCorp.lblDescription:</label>
                            <div class="col-sm-8">

                                @Html.TextBoxFor(model => model.fld_Keterangan, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_Keterangan, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @*Modify by Shazana 18/6/2023*@
                            <label class="control-label col-sm-3">Harga Kesukaran(RM):</label>
                            <div class="col-sm-4">
                                @*Modified by Shazana 18/7/2023*@
                                @Html.TextBoxFor(model => model.fld_HargaKesukaran, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_HargaKesukaran, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input class="btn btn-success" type="submit" value=@GlobalResCorp.btnSave>
            <button class="btn btn-warning" data-dismiss="modal">@GlobalResCorp.btnBack</button>
        </div>
    }
</section>

<script>

        $("form").removeData("validator");
        $("form").removeData("unobtrusiveValidation");
        $.validator.unobtrusive.parse("form");

    $(document).ready(function () {
        /*Modified by Shazana 18/7/2023*/
        $("#fld_JenisHargaKesukaran").change(function () {
            var Kod = {};
            //var disableoption = "";
            Kod.url = "@Url.Action("GenerateKodHargaKesukaran", "Maintenance")";
            Kod.type = "POST";
            Kod.data = JSON.stringify({ jnsHargaKesukaran: $("#fld_JenisHargaKesukaran").val() });
            Kod.datatype = "json";
            Kod.contentType = "application/json";
            Kod.success = function (newcode) {
                $("#fld_KodHargaKesukaran").empty();
                $("#fld_KodHargaKesukaran").val(newcode);
            };
            Kod.error = function () { $.simplyToast('@GlobalResCorp.msgError', 'danger'); };
            $.ajax(Kod);
        });


    });

</script>
