@using MVC_SYSTEM.Class
@model MVC_SYSTEM.ModelsCorporate.tbl_KelayakanInsentifLdgViewModelCreate

@{
    @Scripts.Render("~/bundles/jqueryval")
}

<section class="content-wrapper main-content clear-fix">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title">@GlobalResCorp.lblEstateIncentiveEligibilityAdd</h3>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="panel panel-primary">
                    <div class="panel-heading">@GlobalResCorp.lblEstateIncentiveEligibilityInfo</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label col-sm-3">@GlobalResCorp.lblIncentiveType:</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.fld_JenisInsentif, new SelectList(ViewBag.IncentiveTypeList, "Value", "Text"), new { @class = "form-control selectionList" })
                                @Html.ValidationMessageFor(model => model.fld_JenisInsentif, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label class="control-label col-sm-3">@GlobalResCorp.lblDescription:</label>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.fld_KodInsentif, new SelectList(ViewBag.IncentiveList, "Value", "Text"), new { @class = "form-control incentiveList", @disabled = "true" })
                                @Html.ValidationMessageFor(model => model.fld_KodInsentif, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                        <div class="form-group">
                            <label class="control-label col-sm-3">@GlobalResCorp.lblDescription:</label>
                            <div class="col-sm-8">
                                @Html.ListBoxFor(model => model.fld_KodInsentif, new MultiSelectList(ViewBag.IncentiveList, "Value", "Text"), new { @class = "form-control col-sm-2 incentiveList", multiple = "multiple", size = 10, @disabled = "true" })
                                @Html.ValidationMessageFor(model => model.fld_KodInsentif, "", new { @class = "text-danger" })
                                <div class="has-error">
                                    <span class="help-block">Sila tekan butang "Ctrl" atau "Shift" pada papan kekunci semasa memilih</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">@GlobalResCorp.lblEstate:</label>
                            <div class="col-sm-8">
                                @Html.ListBoxFor(model => model.fld_LadangID, new MultiSelectList(ViewBag.LadangList, "Value", "Text"), new { @class = "form-control col-sm-2 estateList", multiple = "multiple", size = 10, @disabled = "true" })
                                @Html.ValidationMessageFor(model => model.fld_LadangID, "", new { @class = "text-danger" })
                                <div class="has-error">
                                    <span class="help-block">Sila tekan butang "Ctrl" atau "Shift" pada papan kekunci semasa memilih</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input class="btn btn-success" type="submit" value=@GlobalResCorp.btnSave>
            <button class="btn btn-warning" data-dismiss="modal">@GlobalResCorp.btnBack</button>
        </div>
    }
</section>

<script>
    $("form").removeData("validator");
    $("form").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse("form");

    $(".selectionList").on("change",
        function () {
            var selectedVal = $(this).val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetIncentiveList", "Maintenance")',
                dataType: 'json',
                contentType: 'application/json',
                async: false,
                data: JSON.stringify({ incentiveType: selectedVal }),
                success: function (result) {
                    if (selectedVal === '' || selectedVal === null) {
                        $('.incentiveList').prop("disabled", true);
                        $('.estateList').prop("disabled", true);

                        //alert("");
                        $('.incentiveList').empty();
                        @*$('.incentiveList').append("<option value=" +
                    "" +
                    ">" +
                    "@GlobalResCorp.lblChoose" +
                    "</option>");*@
                    }

                    else {
                        console.log()
                        $('.incentiveList').prop("disabled", false);
                        $('.estateList').prop("disabled", false);
                        $('.incentiveList').empty();
                        for (var i = 0; i < result.length; i++) {
                            $('.incentiveList').append("<option value=" +
                                result[i].Value +
                                ">" +
                                result[i].Text +
                                "</option>");
                        }
                    }
                }
            });
        });
</script>