@using MVC_SYSTEM.Class
@model MVC_SYSTEM.ModelsCorporate.tbl_KelayakanInsentifLdgViewModelCreate

@{
    @Scripts.Render("~/bundles/jqueryval")
}

<section class="content-wrapper main-content clear-fix">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title">@GlobalResCorp.lblEstateIncentiveEligibilityAdd</h3>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="panel panel-primary">
                    <div class="panel-heading">@GlobalResCorp.lblEstateIncentiveEligibilityInfo</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label col-sm-3">@GlobalResCorp.lblIncentiveType:</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.fld_JenisInsentif, new SelectList(ViewBag.IncentiveTypeList, "Value", "Text"), new { @class = "form-control selectionList" })
                                @Html.ValidationMessageFor(model => model.fld_JenisInsentif, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<div class="form-group">
            <label class="control-label col-sm-3">@GlobalResCorp.lblDescription:</label>
            <div class="col-sm-8">
                @Html.DropDownListFor(model => model.fld_KodInsentif, new SelectList(ViewBag.IncentiveList, "Value", "Text"), new { @class = "form-control incentiveList", @disabled = "true" })
                @Html.ValidationMessageFor(model => model.fld_KodInsentif, "", new { @class = "text-danger" })
            </div>
        </div>*@
                        <div class="form-group">
                            <label class="control-label col-sm-3">@GlobalResCorp.lblDescription:</label>
                            <div class="col-sm-8">
                                @Html.ListBoxFor(model => model.fld_KodInsentif, new MultiSelectList(ViewBag.IncentiveList, "Value", "Text"), new { @class = "form-control col-sm-2 incentiveList", multiple = "multiple", size = 10, @disabled = "true" })
                                @Html.ValidationMessageFor(model => model.fld_KodInsentif, "", new { @class = "text-danger" })
                                <div class="has-error">
                                    <span class="help-block">Sila tekan butang "Ctrl" atau "Shift" pada papan kekunci semasa memilih</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Syarikat:</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.fld_SyarikatID, new SelectList(ViewBag.SyarikatList, "Value", "Text"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_SyarikatID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">@GlobalResCorp.lblRegion:</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.fld_WilayahID, new SelectList(ViewBag.WilayahList, "Value", "Text"), htmlAttributes: new { @class = "form-control col-sm-2" })
                                @Html.ValidationMessageFor(model => model.fld_WilayahID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">@GlobalResCorp.lblEstate:</label>
                            <div class="col-sm-8">
                                @Html.ListBoxFor(model => model.fld_LadangID, new MultiSelectList(ViewBag.LadangList, "Value", "Text"), new { @class = "form-control col-sm-2 estateList", multiple = "multiple", size = 10, @disabled = "true" })
                                @Html.ValidationMessageFor(model => model.fld_LadangID, "", new { @class = "text-danger" })
                                <div class="has-error">
                                    <span class="help-block">Sila tekan butang "Ctrl" atau "Shift" pada papan kekunci semasa memilih</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input class="btn btn-success" type="submit" value=@GlobalResCorp.btnSave>
            <button class="btn btn-warning" data-dismiss="modal">@GlobalResCorp.btnBack</button>
        </div>
    }
</section>

<script>
    $("form").removeData("validator");
    $("form").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse("form");

    $(".selectionList").on("change",
        function () {
            var selectedVal = $(this).val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetIncentiveList", "Maintenance")',
                dataType: 'json',
                contentType: 'application/json',
                async: false,
                data: JSON.stringify({ incentiveType: selectedVal }),
                success: function (result) {
                    if (selectedVal === '' || selectedVal === null) {
                        $('.incentiveList').prop("disabled", true);
                        $('.estateList').prop("disabled", true);

                        //alert("");
                        $('.incentiveList').empty();
                        @*$('.incentiveList').append("<option value=" +
                    "" +
                    ">" +
                    "@GlobalResCorp.lblChoose" +
                    "</option>");*@
                    }

                    else {
                        console.log()
                        $('.incentiveList').prop("disabled", false);
                        $('.estateList').prop("disabled", false);
                        $('.incentiveList').empty();
                        for (var i = 0; i < result.length; i++) {
                            $('.incentiveList').append("<option value=" +
                                result[i].Value +
                                ">" +
                                result[i].Text +
                                "</option>");
                        }
                    }
                }
            });
        });
     $("#fld_SyarikatID").change(function () {
        var SyarikatList = {};
        var disableoption = "";
        SyarikatList.url = "@Url.Action("GetWilayah2", "Maintenance")";
        SyarikatList.type = "POST";
        SyarikatList.data = JSON.stringify({ SyarikatID: $("#fld_SyarikatID").val() });
        SyarikatList.datatype = "json";
        SyarikatList.contentType = "application/json";
        SyarikatList.success = function (wilayahlist) {
            $("#fld_WilayahID").empty();
            $("#fld_LadangID").empty();
            $("#fld_WilayahID").append("<option value=0>@GlobalResCorp.lblChoose</option>");
            $("#fld_LadangID").append("<option value=0>@GlobalResCorp.lblChoose</option>");
            for (var i = 0; i < wilayahlist.length; i++) {
                if ($("#fld_SyarikatID").val() == 0) {
                    disableoption = "disabled";
                }
                $("#fld_WilayahID").append("<option value=" + wilayahlist[i].Value + " " + disableoption + ">" + wilayahlist[i].Text + "</option>");
            }

            };

        SyarikatList.error = function () { $.simplyToast('Sistem masalah', 'danger'); };
        $.ajax(SyarikatList);
     });

    $("#fld_WilayahID").change(function () {
        if ($("#fld_WilayahID").val() === "") {
            $("#fld_LadangID").empty();
            $("#fld_LadangID").append("<option value=" + "" + ">" + '@GlobalResCorp.lblChoose' + "</option>");
            $("#fld_LadangID").prop("disabled", true);
            //$("#fld_Year").prop("disabled", true);
        }

        else {

            var WilayahList = {};
            WilayahList.url = "@Url.Action("GetLadang2", "Maintenance")"; //fatin modified GetLadang to GetLadang2 - 07/08/2023
            WilayahList.type = "POST";
            WilayahList.data = JSON.stringify({ WilayahID: $("#fld_WilayahID").val(), SyarikatList: $("#fld_SyarikatID").val() }); //fatin modified add SyarikatList - 07/08/2023
            WilayahList.datatype = "json";
            WilayahList.contentType = "application/json";
            WilayahList.success = function (ladanglist) {

                console.log(ladanglist);

                $("#fld_LadangID").empty();

                if (ladanglist.length === 0) {
                    $("#fld_LadangID").append("<option value=" +
                        "" +
                        ">" +
                        '@GlobalResCorp.lblNoEstate' +
                        "</option>");
                }

                else {
                    $("#fld_LadangID").prop("disabled", false);
                    for (var i = 0; i < ladanglist.length; i++) {
                        $("#fld_LadangID").append("<option value=" + ladanglist[i].Value + ">" + ladanglist[i].Text + "</option>");
                    }
                    //$("#fld_Year").val("");
                }

            };
            WilayahList.error = function () { $.simplyToast('Sistem masalah', 'danger'); };
            $.ajax(WilayahList);
        }
    });
</script>