@using MVC_SYSTEM.Class
@model MVC_SYSTEM.ModelsCorporate.tbl_KwspViewModelEdit

@{
    @Scripts.Render("~/bundles/jqueryval")

    GetConfig getConfig = new GetConfig();
}

<section class="content-wrapper main-content clear-fix">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title">@GlobalResCorp.lblKwspTableUpdate</h3>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="panel panel-primary">
                    <div class="panel-heading">@GlobalResCorp.lblKwspTableInfo</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label col-sm-3">@GlobalResCorp.lblKwspTableCode:</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.fld_KodCaruman, htmlAttributes: new { @class = "form-control", @disabled = "true", @Value = getConfig.GetKwspSocso(Model.fld_KodCaruman, (int)Model.fld_SyarikatID, (int)Model.fld_NegaraID) })
                                @Html.ValidationMessageFor(model => model.fld_KodCaruman, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">@GlobalResCorp.lblContributionTableMinWage:</label>
                            <div class="col-sm-2">
                                @Html.TextBoxFor(model => model.fld_KdrLower, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_KdrLower, "", new { @class = "text-danger" })
                            </div>
                            <label class="control-label col-sm-offset-1 col-sm-3">@GlobalResCorp.lblContributionTableMaxWage:</label>
                            <div class="col-sm-2">
                                @Html.TextBoxFor(model => model.fld_KdrUpper, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_KdrUpper, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">@GlobalResCorp.lblContributionTableEmpyeeCont:</label>
                            <div class="col-sm-2">
                                @Html.TextBoxFor(model => model.fld_Pkj, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_Pkj, "", new { @class = "text-danger" })
                            </div>
                            <label class="control-label col-sm-offset-1 col-sm-3">@GlobalResCorp.lblContributionTableEmpyerCont:</label>
                            <div class="col-sm-2">
                                @Html.TextBoxFor(model => model.fld_Mjkn, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_Mjkn, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.fld_ID)
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <input class="btn btn-success" type="submit" value=@GlobalResCorp.btnSave>
            <button class="btn btn-warning" data-dismiss="modal">@GlobalResCorp.btnBack</button>
        </div>
    }
</section>

<script>
    $("form").removeData("validator");
    $("form").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse("form");
</script>
