@using MVC_SYSTEM.Class

@{
    GetConfig getConfig = new GetConfig();
}

<div class="well" style="margin-top:7px;">
    <div class="modal-body">
        <div class="panel panel-primary">
            <div class="panel-heading">@GlobalResCorp.lblSocsoContributionInfo</div>
            <div class="panel-body">
                @{
                    var grid = new WebGrid(
                        canPage: true,
                        rowsPerPage: Model.PageSize,
                        canSort: false,
                        ajaxUpdateContainerId: "grid");

                    grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);

                    if (@grid.TotalRowCount > 0)
                    {
                        <div class="text-center">@grid.TotalRowCount @Html.Label(GlobalResCorp.lblSocsoContributionCount)</div>

                        @grid.GetHtml(htmlAttributes: new { id = "socsoContributionGrid" }, // id for ajaxUpdateontainerId parameter
                                                   tableStyle: "table table-bordered table-striped table-list table-hover tableStyle",
                                                   headerStyle: "header_table wordwrap",
                                                   alternatingRowStyle: "Grid-alt",
                                                   selectedRowStyle: "Grid-selected",
                                                   rowStyle: "Grid-rowstyle",
                                                   footerStyle: "table-pager",
                                                   mode: WebGridPagerModes.All,
                                                   columns: grid.Columns(
                                                       grid.Column(header: "No."
                                                           , format: item => item.WebGrid.Rows.IndexOf(item) + 1
                                                                             + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage)
                                                                             * grid.RowsPerPage * grid.PageIndex, style: "count"),
                                                       grid.Column(columnName: "fld_KodCaruman", header: GlobalResCorp.lblKwspContributionCode, style: "kod"),
                                                       grid.Column(columnName: "fld_Keterangan", header: GlobalResCorp.lblDescription, style: "keterangan wordwrap"),
                                                       grid.Column(columnName: "fld_UmurLower", header: GlobalResCorp.lblContributionSubCategoryMinAge, style: "tetapan1"),
                                                       grid.Column(columnName: "fld_UmurUpper", header: GlobalResCorp.lblContributionSubCategoryMaxAge, style: "tetapan1"),
                                                       grid.Column(columnName: "fld_PeratusCarumanPekerja", header: GlobalResCorp.lblContributionSubCategoryEmpyeeCont, style: "tetapan1"),
                                                       grid.Column(columnName: "fld_PeratusCarumanMajikanBawah5000", header: GlobalResCorp.lbllKwspContributionBelow5000, style: "tetapan1"),
                                                       grid.Column(columnName: "fld_PeratusCarumanMajikanAtas5000", header: GlobalResCorp.lbllKwspContributionAbove5000, style: "tetapan1"),
                                                       grid.Column(GlobalResCorp.lblActiveContribution, format: (item) =>
                                                        {
                                                            var checkbox = "";

                                                            if (item.fld_Default != null)
                                                            {
                                                                if (item.fld_Default == true)
                                                                {
                                                                    checkbox = "<center><input type='checkbox' class='checkbox edit-mode' value='" + @item.fld_JenisCarumanID + "' name='ids' id='ids' style='display:none' checked='true'/></center>";

                                                                }

                                                                else
                                                                {
                                                                    checkbox = "<center><input type='checkbox' class='checkbox edit-mode' value='" + @item.fld_JenisCarumanID + "' name='ids' id='ids' style='display:none'/></center>";
                                                                }

                                                                var selected = Convert.ToInt32(item.fld_Default);

                                                                var tindakan = "<span class='display-mode'>" + getConfig.GetWebConfigDesc(selected.ToString(), "pilihanYaTidak", item.fldNegaraID, item.fldSyarikatID) + "</span>" +
                                                                               checkbox;
                                                                return @Html.Raw(tindakan);
                                                            }

                                                            else
                                                            {
                                                                var tindakan = "<span class='display-mode'>" + getConfig.GetWebConfigDesc("0", "pilihanYaTidak", item.fldNegaraID, item.fldSyarikatID) + "</span>" +
                                                                               "<center><input type='checkbox' class='checkbox edit-mode' value='" + @item.fld_JenisCarumanID + "' name='ids' id='ids' style='display:none'/></center>";
                                                                return @Html.Raw(tindakan);
                                                            }
                                                        }, canSort: false, style: "tetapan2")
                                                       ))
                    }
                    else
                    {
                        <hr />
                        <div class="text-center">
                            @Html.Label(GlobalResCorp.msgErrorSearch)
                        </div>

                        <hr />
                    }
                }
            </div>
        </div>
    </div>
    <div class="modal-footer col-md-12">
        @if (@ViewBag.TotalRecord != 0)
        {
            <button type="button" class="btn btn-success saveBtn edit-mode" style="display: none">@GlobalResCorp.btnSave</button>
            <button type="button" class="btn btn-success updateBtn display-mode">@GlobalResCorp.btnUpdate</button>
            <button type="button" class="btn btn-danger cancelBtn edit-mode" style="display: none">@GlobalResCorp.btnCancel</button>
        }
        <a href=@Url.Action("Index", "Maintenance") class="btn btn-warning" role="button" onclick="return DisplayProgressMessage(this);">@GlobalResCorp.btnBack</a>
    </div>
</div>



<style>

    table tr th:nth-child(1) {
        width: 50px !important;
    }

    table tr th:nth-child(4), th:nth-child(5), th:nth-child(6), th:nth-child(7), th:nth-child(8) {
        width: 110px !important;
        vertical-align: middle !important;
    }

    table tr th:nth-child(2) {
        width: 80px !important;
        vertical-align: middle !important;
    }

    table tr th:last-child {
        width: 20px !important;
        vertical-align: middle !important;
    }

    .header_table th {
        text-align: center;
        vertical-align: middle !important;
    }

    .count {
        font-size: 12px;
        text-align: center;
        vertical-align: middle !important;
    }

    .kod {
        font-size: 12px;
        text-align: center;
        vertical-align: middle !important;
    }

    .keterangan {
        font-size: 12px;
        text-align: left;
        vertical-align: middle !important;
    }

    .tetapan1 {
        font-size: 12px;
        text-align: center;
        vertical-align: middle !important;
    }

    .tetapan2 {
        width: 150px;
        font-size: 12px;
        text-align: center;
        vertical-align: middle !important;
    }

    .tindakan {
        text-align: center;
        vertical-align: middle !important;
    }

    .checkbox {
        width: 20px;
        height: 20px;
        text-align: center;
    }
</style>

<script>
    $(document).ready(function () {

        $(".updateBtn").click(function () {
            $(".edit-mode").css("display", "");
            $(".display-mode").css("display", "none");

        });

        $(".cancelBtn").click(function () {
            $(".edit-mode").css("display", "none");
            $(".display-mode").css("display", "");

        });

        $(".saveBtn").click(function () {
            $(".edit-mode").css("display", "none");
            $(".display-mode").css("display", "");

        });

        $('.saveBtn').on('click',
            function () {

                var selected = [];
                $('#socsoContributionGrid input:checked').each(function () {
                    selected.push($(this).attr('value'));
                });

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("_SocsoContributionMaintenanceInUseEdit", "Maintenance")',
                    dataType: 'json',
                    contentType: 'application/json',
                    async: false,
                    traditional: true,
                    data: JSON.stringify({ carumanSocsoID: selected}),
                    success: function (result) {
                        $.simplyToast(result.msg, result.status);
                        if (result.status == "success") {
                            $("#socsoContributionInUSeMaintenanceDetails").load(
                                '@Url.Action("_SocsoContributionMaintenanceInUse", "Maintenance")');
                            $('.edit-book').prop("disabled", false);
                        }
                    }
                });
            });

        // 1st replace first column header text with checkbox
        $("#contributionCategoryGrid th").each(function () {
            if ($.trim($(this).text().toString().toLowerCase()) === "{checkall}") {
                $(this).text('');
                $(this).append("<span class='display-mode'>@GlobalResCorp.lblActiveContribution</span>");
                $(this).append("<span class='edit-mode' style='display:none'>@GlobalResCorp.lblChckAll</span>");
                $(this).append("<br><center><input type='checkbox' class='checkbox edit-mode' value='' id='cbSelectAll' style='display:none'/></center>");
            }
        });

        //2nd click event for header checkbox for select /deselect all
        $("#cbSelectAll").on("click", function () {
            var ischecked = this.checked;
            $('#socsoContributionGrid').find("input:checkbox").each(function () {
                this.checked = ischecked;
            });
        });

        //3rd click event for checkbox of each row
        $("input[name='ids']").click(function () {
            var totalRows = $("#socsoContributionGrid td :checkbox").length;
            var checked = $("#socsoContributionGrid td :checkbox:checked").length;

            if (checked == totalRows) {
                $("#socsoContributionGrid").find("input:checkbox").each(function () {
                    this.checked = true;
                });
            }
            else {
                $("#cbSelectAll").removeAttr("checked");
            }
        });

    });
</script>

