@using MVC_SYSTEM.Class

@{
    GetConfig GetConfig = new GetConfig();
}

@{
    var grid = new WebGrid(
        canPage: true,
        rowsPerPage: Model.PageSize,
        canSort: false,
        ajaxUpdateContainerId: "grid");

    grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);

    if (@grid.TotalRowCount > 0)
    {
        <div class="text-center">@grid.TotalRowCount @Html.Label(GlobalResCorp.lblYieldInfoCount)</div>

        @grid.GetHtml(htmlAttributes: new { id = "grid" }, // id for ajaxUpdateontainerId parameter
                 tableStyle: "table table-bordered table-striped table-list table-hover",
                 headerStyle: "header_table",
                 alternatingRowStyle: "Grid-alt",
                 selectedRowStyle: "Grid-selected",
                 rowStyle: "Grid-rowstyle",
                 footerStyle: "table-pager",
                 mode: WebGridPagerModes.All,
                 columns: grid.Columns(
                     grid.Column(header: "No."
                         , format: item => item.WebGrid.Rows.IndexOf(item) + 1
                                           + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage)
                                           * grid.RowsPerPage * grid.PageIndex, style: "count"),
                     grid.Column(columnName: "fldOptConfvalue", header: GlobalResCorp.lblYieldInfoCode, style: "kod"),
                     grid.Column(columnName: "fldOptConfDesc", header: GlobalResCorp.lblDescription, style: "keterangan"),
                     grid.Column(GlobalResCorp.lblActiveStatus, format: (item) =>
                     {
                         var tindakan = GetConfig.GetWebConfigDescFromFlag2(item.fldOptConfFlag2, "pilihanYaTidak", item.fld_NegaraID, item.fld_SyarikatID);

                         return @Html.Raw(tindakan);
                     }, canSort: false, style: "tetapan2")
                     ))
    }
    else
    {
        <hr />
        <div class="text-center">
            @Html.Label(GlobalResCorp.msgErrorSearch)
        </div>

        <hr />
    }
}

<style>
    .header_table th {
        text-align: center;
        vertical-align: middle !important;
    }

    .count {
        width: 30px;
        font-size: 12px;
        text-align: center;
        vertical-align: middle !important;
    }

    .kod {
        width: 100px;
        font-size: 12px;
        text-align: center;
        vertical-align: middle !important;
    }

    .keterangan {
        width: 150px;
        font-size: 12px;
        text-align: left;
        vertical-align: middle !important;
    }

    .tetapan1 {
        width: 150px;
        font-size: 12px;
        text-align: center;
        vertical-align: middle !important;
    }

    .tetapan2 {
        width: 150px;
        font-size: 12px;
        text-align: center;
        vertical-align: middle !important;
    }

    .tindakan {
        width: 80px !important;
        text-align: center;
        vertical-align: middle !important;
    }
</style>

