@model MVC_SYSTEM.ViewingModels.PagedList<MVC_SYSTEM.ViewingModels.tbl_CarumanTambahan>
@using MVC_SYSTEM.Class;
@{
    ViewBag.Title = GlobalResCorp.lblTitleContributionCategoryMaintenanceInUse;
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "Get",
        UpdateTargetId = "contributionCategoryMaintenanceInUseDetails",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "UpdateProgress1"
    };
}

<script src="~/Asset/Scripts/jquery.unobtrusive-ajax.min.js"></script>

@section scripts{
    @Scripts.Render("~/Asset/Scripts/AjaxModal.js")
}

<section class="content-wrapper main-content clear-fix">
    <div class="well bottom" style="padding-bottom:16px;">
        @using (Ajax.BeginForm("_ContributionCategoryMaintenanceInUse", "Maintenance", null, options, new { @id = "contributionCategoryInUseSearchDetails" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-sm-5">
                    @Html.Label(GlobalResCorp.lblSearch)
                    @Html.TextBox("filter", null, htmlAttributes: new { @class = "form-control", placeholder = GlobalResCorp.lblContributionCategorySearch, @id = "txtfilter", @value = "" })
                </div>
                <div class="col-sm-6 btn-group" style="padding-top:24px;">
                    <input class="btn btn-primary col-sm-3" type="submit" id="btnCari" name="Lihat" value=@GlobalResCorp.btnView />
                    <input type="button" class="btn btn-primary col-sm-3" value=@GlobalResCorp.btnList onclick="javascript:resetSearch1();" />
                </div>
            </div>
        }
    </div>

    <div id="contributionCategoryMaintenanceInUseDetails">
        @Html.Action("_ContributionCategoryMaintenanceInUse")
    </div>
</section>
<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<div id='myModal1' class='modal fade in'>
    <div class="modal-dialog modal-lg" style="width: 70%">
        <div class="modal-content">
            <div id='myModalContent1'></div>
        </div>
    </div>
</div>

<script>
    function resetSearch1() {
        document.getElementById("txtfilter").value = "";
        document.getElementById('btnCari').click();
    }
</script>


