@using MVC_SYSTEM.Class
@model MVC_SYSTEM.ModelsCorporate.tbl_UpahAktiviti

@{  
        ViewBag.Title = "PayrateFullMaintenance";
        //Layout = "~/Views/Shared/_LayoutMain.cshtml";
        //string aktvtselection = "";
            
    @Scripts.Render("~/bundles/jqueryval")
}


<section class="content-wrapper main-content clear-fix">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title">@GlobalResCorp.titleUpdate</h3>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="modal-body">
            <div class="form-horizontal">
                <span id="progress" class="text-center" style="display: none;">
                    <img src="~/Asset/Images/wait.gif" alt="wait" />
                </span>
                @Html.HiddenFor(model => model.fld_ID)
                <div class="form-group">
                    <label class="control-label col-md-2">@GlobalResCorp.hdrActvtCode</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.fld_KodAktvt, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                        @*@Html.DropDownList("fld_KodAktvt", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })*@
                        @Html.ValidationMessageFor(model => model.fld_KodAktvt, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">@GlobalResCorp.hdrDesc</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.fld_Desc, new { htmlAttributes = new { @class = "form-control required" } })
                        @Html.ValidationMessageFor(model => model.fld_Desc, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">@GlobalResCorp.hdrPrice (RM)</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.fld_Harga, new { htmlAttributes = new { @class = "form-control required" } })
                        @Html.ValidationMessageFor(model => model.fld_Harga, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">@GlobalResCorp.hdrUnit</label>
                    <div class="col-md-9">
                        @Html.DropDownList("fld_Unit", null, htmlAttributes: new { @class = "form-control required" })
                        @Html.ValidationMessageFor(model => model.fld_Unit, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                        <label id="UnitLabel" class="control-label col-md-2">@GlobalResCorp.hdrProductvt (@Model.fld_Unit)</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.fld_Produktvt, new { htmlAttributes = new { @class = "form-control required" } })
                            @Html.ValidationMessageFor(model => model.fld_Produktvt, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

            </div>
        </div>
        <div class="modal-footer">
            <input class="btn btn-primary" type="submit" value=@GlobalResCorp.btnSave />
            <button class="btn btn-warning" data-dismiss="modal">@GlobalResCorp.btnBack</button>
        </div>
    }
</section>

<script>
        $(document).ready(function () {
            $("#fld_Unit").change(function () {
                console.log($("#fld_Unit :selected").text());
                var unit = $("#fld_Unit :selected").text();
                //$("#UnitLabel").empty();
                //$("#UnitLabel").val(unit);
                document.getElementById("UnitLabel").innerText = "Produktiviti (" + unit + ")";
            });

        })

</script>
