@model MVC_SYSTEM.ModelsCorporate.tbl_ProduktivitiGetah

@{
    ViewBag.Title = "ProduktivitiGetah" +
                "Create";
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-header">
        @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>*@
        <h3 class="modal-title">@GlobalResCorp.titleRegister</h3>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <span id="progress" class="text-center" style="display: none;">
                <img src="~/Asset/Images/wait.gif" alt="wait" />
            </span>

            <div class="form-group">
                <label class="control-label col-md-2">Tahun Toreh</label>
                <div class="col-md-9">
                    @Html.DropDownList("fld_TahunToreh", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.fld_TahunToreh, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Produktiviti Cuplump Basah Daripada</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.fld_PrdktvtCuplumpLower, new { htmlAttributes = new { @class = "form-control required" } })
                    @Html.ValidationMessageFor(model => model.fld_PrdktvtCuplumpLower, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Produktiviti Cuplump Basah Sehingga</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.fld_PrdktvtCuplumpUpper, new { htmlAttributes = new { @class = "form-control required" } })
                    @Html.ValidationMessageFor(model => model.fld_PrdktvtCuplumpUpper, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Upah Kadaran</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.fld_KadarUpah, new { htmlAttributes = new { @class = "form-control required" } })
                    @Html.ValidationMessageFor(model => model.fld_KadarUpah, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Insentif Kuantiti Cuplump</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.fld_InsentifKuantiti, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.fld_InsentifKuantiti, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <input class="btn btn-primary" type="submit" value=@GlobalResCorp.btnSave />
        <button class="btn btn-warning" data-dismiss="modal">@GlobalResCorp.btnBack</button>
    </div>
}
