@model MVC_SYSTEM.ViewingModels.PagedList<MVC_SYSTEM.ViewingModels.tblOptionConfigsWeb>

@{
    ViewBag.Title = "WorkerKategoryMaintenance";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-wrapper main-content clear-fix">

    @using (Html.BeginForm("WorkerKategoryMaintenance", null, FormMethod.Get))
    {
        @*<div class="well bottom">
            <div class="row">
                <div class="col-sm-2">
                    manual,mekanikal
                    @Html.Label("Jenis Socso")
                    @Html.DropDownList("SocsoList", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-2" style="padding-top:25px;">
                    <input class="btn btn-primary btn-block" type="submit" name="Lihat" id="btnSubmit" value="@GlobalResCorp.btnViewName" />
                    <input class="btn btn-primary btn-block" type="submit" name="Lihat" id="btnSubmit" value="@GlobalResNoSkb.btnViewName" />
                </div>
            </div>
        </div>*@

        <div class="well">
            <div class="panel panel-primary">
                <div id="divheader" class="panel-heading">@GlobalResCorp.lblWorkerCategoryMaintenance</div>
                <div class="panel-body" id="content">
                    @if (ViewBag.Datacount < 1)
                    {
                        <p>@GlobalResCorp.msgErrorSearch</p>
                    }
                    else
                    {
                        <div style="margin-top:17px;">
                            @{
                                var grid = new WebGrid(
                                    canPage: true,
                                    rowsPerPage: Model.PageSize,
                                    canSort: true,
                                    ajaxUpdateContainerId: "grid");

                                grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);

                                @grid.GetHtml(htmlAttributes: new { id = "grid" },   // id for ajaxUpdateContainerId parameter
                         fillEmptyRows: false,
                         tableStyle: "table table-bordered table-hover",
                         mode: WebGridPagerModes.All,
                         columns: grid.Columns(
                             grid.Column(GlobalResCorp.hdrNo, style: "col-lg-1", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
                            grid.Column("fldOptConfDesc", GlobalResCorp.lblWorkerKtgri, style: "col-lg-2"),
                            grid.Column(GlobalResCorp.hdrAction, canSort: false, style: "col-lg-2",
                            format: @<text>
                                @Html.Raw("<a data-modal='' href='" + @Url.Action("WorkerKategoryMaintenanceUpdate", "Maintenance") + "/?id=" + item.fldOptConfID + "' title='Update'> <span class='glyphicon glyphicon-edit'> </span> </a>")
                                @Html.Raw("<a data-modal='' href='" + @Url.Action("WorkerKategoryMaintenanceDelete", "Maintenance") + "/?id=" + item.fldOptConfID + "' title='Delete'> <span class='glyphicon glyphicon-trash'> </span> </a>")
                            </text>)

                        ));
                            }


                        </div>

                                }

                </div>
            </div>
            <div class="modal-footer">
                <a style="text-align:right" data-modal="" href="@Url.Action("WorkerKategoryMaintenanceInsert", "Maintenance")" class="btn btn-warning">@GlobalResCorp.btnAdd</a>
                <a style="text-align:right" href="@Request.UrlReferrer" class="btn btn-primary" title="Back to list">@GlobalResCorp.btnBack</a>
            </div>
        </div>
                                }
</section>

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/Asset/Scripts/appjs.js")
}
