@*//13/01/2021 sepul ubah model*@
@model MVC_SYSTEM.ModelsCorporate.tbl_Ladang

@{
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">@GlobalResEstateDetail.lblTitleCreate</h3>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">
            <span id="progress" class="text-center" style="display: none;">
                <img src="~/Asset/Images/wait.gif" alt="wait" />
            </span>

            @*sepul tambah negeri 17/02/2021*@
            <div class="form-group">
                <label class="control-label col-md-2">Negeri</label>
                <div class="col-md-9">
                    @Html.DropDownList("fld_KodNegeri", null, htmlAttributes: new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.fld_KodNegeri, "", new { @class = "text-danger" })
                </div>
            </div>
            @*sampai sini*@
            <div class="form-group">
                <label class="control-label col-md-2">@GlobalResEstateDetail.lblWilayah</label>
                <div class="col-md-9">
                    @Html.DropDownList("fld_WlyhID", null, htmlAttributes: new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.fld_WlyhID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">@GlobalResEstateDetail.hdrCode</label>
                <div class="col-md-9">
                    @*sepul comment 17/02/2021*@
                    @*@Html.EditorFor(model => model.fld_LdgCode, new { htmlAttributes = new { @class = "form-control required" } })*@
                    @*sepul tambah 17/02/2021*@
                    @Html.EditorFor(model => model.fld_LdgCode, new { htmlAttributes = new { @class = "form-control required", @Value = ViewBag.fld_LdgCode, required = "required" } })
                    @Html.ValidationMessageFor(model => model.fld_LdgCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">@GlobalResEstateDetail.hdrName</label>
                <div class="col-md-9">
                    @*@Html.EditorFor(model => model.fld_LdgName, new { htmlAttributes = new { @class = "form-control required", required = "required"} })*@
                    @*sepul add 12/04/2023  utk upercase*@
                    @Html.EditorFor(model => model.fld_LdgName, new { htmlAttributes = new { @class = "form-control required", required = "required", style = "text-transform: uppercase;" } })
                    @Html.ValidationMessageFor(model => model.fld_LdgName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">@GlobalResEstateDetail.hdrEmail</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.fld_LdgEmail, new { htmlAttributes = new { @class = "form-control required", required = "required" } })
                    @Html.ValidationMessageFor(model => model.fld_LdgEmail, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">@GlobalResEstateDetail.hdrAcc</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.fld_NoAcc, new { htmlAttributes = new { @class = "form-control required" } })
                    @Html.ValidationMessageFor(model => model.fld_NoAcc, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">@GlobalResEstateDetail.hdrGL</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.fld_NoGL, new { htmlAttributes = new { @class = "form-control required" } })
                    @Html.ValidationMessageFor(model => model.fld_NoGL, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">@GlobalResEstateDetail.hdrCIT</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.fld_NoCIT, new { htmlAttributes = new { @class = "form-control required" } })
                    @Html.ValidationMessageFor(model => model.fld_NoCIT, "", new { @class = "text-danger" })
                </div>
            </div>
            @*sepul add 12/04/2023*@
            <div class="form-group">
                <label class="control-label col-md-2">@GlobalResEstateDetail.hdrCPD</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.fld_CustCPD, new { htmlAttributes = new { @class = "form-control required" } })
                    @Html.ValidationMessageFor(model => model.fld_CustCPD, "", new { @class = "text-danger" })
                </div>
            </div>
            @*sampai sini sepul add*@
        </div>
    </div>
    <div class="modal-footer">
        @*sepul tambah 27/02/2021*@
        <input type="hidden" name="fld_NegaraID" value="@ViewBag.fld_NegaraID" />
        <input type="hidden" name="fld_SyarikatID" value="@ViewBag.fld_SyarikatID" />
        @Html.HiddenFor(model => model.fld_NegaraID)
        @Html.HiddenFor(model => model.fld_SyarikatID)
        @*sampai sini*@
        @*sepul comment 17/02/2021*@
        @*<input class="btn btn-primary" type="submit" value=@GlobalResEstateDetail.btnSave />*@
        @*<button class="btn btn-primary" type="submit" id="btnTmbh" name="btnTmbh">
            @GlobalResEstateDetail.btnSave
        </button>*@
        <input id="btnTmbh" class="btn btn-primary" type="submit" value=@GlobalResConfig.btnSave />
        <button class="btn btn-warning" data-dismiss="modal">@GlobalResEstateDetail.btnBack</button>
    </div>
}

@section scripts{
    @Scripts.Render("~/Asset/Scripts/appjs.js")
}
<script>
    //sepul tambah 25/02/2021
    $(function () {
        $("#btnTmbh").click(function () {
            var fld_KodNegeri = $("#fld_KodNegeri");
            
            if (fld_KodNegeri.val() == "0") {
                alert("Sila Pilih Negeri!");
                return false;
            }
            var fld_WlyhID = $("#fld_WlyhID");
            if (fld_WlyhID.val() == "0") {
                alert("Sila Pilih Wilayah!");
                return false;
            }
            return true;
        });
    });
    
</script>

