
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Styles for Wait Messages -->
<link href="~/Asset/Content/font-awesome.min.css" rel="stylesheet" />

<section class="content-wrapper main-content clear-fix">
    <div class="well">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <!-- ** BEGIN POP-UP MESSAGE AREA ** -->
            <div class="submit-progress hidden">
                <i class="fa fa-2x fa-spinner fa-spin"></i>
                <label>@GlobalResDataEntry.WaitMsg</label>
            </div>
            <!-- ** END POP-UP MESSAGE AREA ** -->
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="panel panel-primary">
                        <div class="panel-heading">@GlobalResDataEntry.lblDataEntryTitle</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label for="ListReport">@GlobalResDataEntry.lblDataEntryType</label>
                                    @Html.DropDownList("MaintenanceList", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer-report">
                    <input class="btn btn-primary" type="submit" name="upload" id="upload" value=@GlobalResDataEntry.btnSubmit onclick="return DisplayProgressMessage(this);" />
                </div>
            </div>
        }
    </div>
</section>
<script>
    function DisplayProgressMessage(ctl) {
        $("body").addClass("submit-progress-bg");
        $(".submit-progress").removeClass("hidden");
        return true;
    }
</script>
