@model MVC_SYSTEM.ViewingModels.PagedList<MVC_SYSTEM.ViewingModels.tbl_Pembekal>
@using MVC_SYSTEM.Class;

@{
    ViewBag.Title = "SupplierDetail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-wrapper main-content clear-fix">

    @using (Html.BeginForm("SupplierDetail", null, FormMethod.Get))
    {
        <div class="well bottom">
            <div class="row">
                <div class="col-sm-5">
                    <div class="input-group">
                        <input type="text" name="filter" value="@ViewBag.filter" class="form-control" style="display: inline" placeholder=@GlobalResSupplierDetail.lblSearch />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                @*@GlobalResEstateNeed.btnGo*@
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="pull-left col-lg-1">
                    <a class="btn btn-success" data-modal="" href="@Url.Action("SupplierDetailInsert", "GeneralConfigs")" id="btnCreate">
                        <span class="glyphicon glyphicon-plus"></span> @GlobalResSupplierDetail.btnAdd
                    </a>

                </div>
            </div>
            <div style="margin-top:17px;">
                @{
                    var grid = new WebGrid(
                                canPage: true,
                                rowsPerPage: Model.PageSize,
                                canSort: true,
                                ajaxUpdateContainerId: "grid");

                    grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);
                    grid.Pager(WebGridPagerModes.All);

                    @grid.GetHtml(htmlAttributes: new { id = "grid" },   // id for ajaxUpdateContainerId parameter
                         fillEmptyRows: false,
                         tableStyle: "table table-bordered table-hover",
                         mode: WebGridPagerModes.All,
                         columns: grid.Columns(
                           grid.Column("fld_KodPbkl", GlobalResSupplierDetail.lblSupplierCode, style: "col-lg-2"),
                           grid.Column("fld_NamaPbkl", GlobalResSupplierDetail.lblSupplierName, style: "col-lg-2"),
                            grid.Column(GlobalResSupplierDetail.hdrAction, canSort: false, style: "col-lg-2",
                            format: @<text>
                                @Html.Raw("<a data-modal='' href='" + @Url.Action("SupplierDetailUpdate", "GeneralConfigs") + "/?id=" + item.fld_ID + "' title='SupplierDetailUpdate'> <span class='glyphicon glyphicon-edit'> </span> </a>")
                                @Html.Raw("<a data-modal='' href='" + @Url.Action("SupplierDetailDelete", "GeneralConfigs") + "/?id=" + item.fld_ID + "' title='SupplierDetailDelete'> <span class='glyphicon glyphicon-trash'> </span> </a>")
                            </text>)

                        ));
                }


            </div>
        </div>
                    }
</section>



<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/Asset/Scripts/appjs.js")
}