@model IEnumerable<MVC_SYSTEM.ModelsCorporate.vw_PermohonanKewangan>
@using MVC_SYSTEM.Class
@{
    int bill = 1;
    string btnsemakid, btnsokongid, btntolakid;
    string NoAcc, NoGL, NoCIT;
    GetTriager GetTriager = new GetTriager();
    GetLadang GetLadang = new GetLadang();
    int? tableid = Model.Select(s => s.fld_LadangID).Take(1).FirstOrDefault(); //modify by kamalia 24/12/21
    int? wlyhid = Model.Select(s => s.fld_WilayahID).Take(1).FirstOrDefault();
    int? ldgid = Model.Select(s => s.fld_LadangID).Take(1).FirstOrDefault();
    decimal? totalpaymentmode = 0;
    //end
    long id;
    string textcolor = "green";
    decimal? totalprmhnnwng = 0;
}
<table class="table table-bordered table-hover" id="@tableid" style="font-size: 11px;" border="0">
    @*commented by kamalia 24/11/21
           <thead>
            <tr>
                <th colspan="6" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">
                    @Model.Select(s => s.fld_WlyhName).Take(1).FirstOrDefault()
                </th>
            </tr>
            <tr>
                <th width="5%" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResWorkerTransacSalary.hdrNo</th>
                <th width="5%" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResWorkerTransacSalary.hdrKodLdg</th>
                <th width="10%" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResWorkerTransacSalary.hdrNamaLdg</th>
                <th width="10%" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResWorkerTransacSalary.hdrGajiBuruh</th>
                <th width="20%" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">Action History</th>
                <th width="20%" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">Action</th>
            </tr>
        </thead>*@
    <thead>
        <tr>
            <th colspan="8" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;font-size:small;" border="1">
                Semakan Permohonan Wang Oleh Pengurus Ladang
            </th>
        </tr>
        <tr>
            <th colspan="8" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">
                @Model.Select(s => s.fld_LdgName).Take(1).FirstOrDefault()
            </th>
        </tr>
        <tr>
            <th width="5%" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResWorkerTransacSalary.hdrNo</th>
            <th width="5%" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResWorkerTransacSalary.hdrKodLdg</th>
            <th width="10%" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResWorkerTransacSalary.hdrNamaLdg</th>
            <th width="20%" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResWorkerTransacSalary.hdrGajiBuruh</th>
            <th width="16%" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">Mode Pembayaran (RM)</th>
            <th width="20%" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">Sejarah Transaksi</th>
            <th width="14%" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">Tindakan</th>
            <th width="8%" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">Rujukan</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            btnsemakid = "smk" + item.fld_ID;
            btnsokongid = "skg" + item.fld_ID;
            btntolakid = "tlk" + item.fld_ID;
            id = item.fld_ID;
            //GetLadang.GetLadangAcc(out NoAcc, out NoGL, out NoCIT, item.fld_LadangID, item.fld_WilayahID);
            NoAcc = item.fld_NoAcc;
            NoGL = item.fld_NoGL;
            NoCIT = item.fld_NoCIT;
        <tr>
            <td width="5%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                @bill
            </td>
            <td width="5%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                @item.fld_LdgCode
            </td>
            <td width="10%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                @item.fld_LdgName
            </td>
            @*commented by kamalia 24/11/21
            <td width="10%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
             @GetTriager.GetTotalForMoney(item.fld_JumlahPermohonan)
        </td>*@
            @*Modified by kamalia 24/12/21*@
            <td width="20%" align="left" style="vertical-align:middle !important;border:1px solid black;" border="1">
                <div class="row">
                    <div class="column" width: 20%;>
                        <p>GAJI BERSIH</p>
                        <p>KWSP</p>
                        <p>SOCSO</p>
                        <p>SBKP</p>
                        <p>SIP</p>
                    </div>
                    <div class="column" width: 10%;>
                        <p>:</p>
                        <p>:</p>
                        <p>:</p>
                        <p>:</p>
                        <p>:</p>

                    </div>
                    <div class="column" width: 70%;>
                        <p>@GetTriager.GetTotalForMoney(item.fld_JumlahWorkerNet)</p>
                        <p>@GetTriager.GetTotalForMoney(item.fld_JumlahKwsp)</p>
                        <p>@GetTriager.GetTotalForMoney(item.fld_JumlahSocso)</p>
                        <p>@GetTriager.GetTotalForMoney(item.fld_JumlahSbkp)</p>
                        <p>@GetTriager.GetTotalForMoney(item.fld_JumlahSip)</p>
                    </div>
                </div>
            </td>
            <td width="16%" align="left" style="vertical-align:middle !important;border:1px solid black;" border="1">
                <div class="row">
                    <div class="column" width: 40%;>
                        <p>CASH</p>
                        <p>CHEQUE</p>
                        <p>CDMAS</p>
                        <p>EWALLET</p>
                    </div>
                    <div class="column" width: 20%;>
                        <p>:</p>
                        <p>:</p>
                        <p>:</p>
                        <p>:</p>
                    </div>
                    <div class="column" width: 40%;>
                        <p>@GetTriager.GetTotalForMoney(item.fld_JumlahCash)</p>
                        <p>@GetTriager.GetTotalForMoney(item.fld_JumlahCheque)</p>
                        <p>@GetTriager.GetTotalForMoney(item.fld_JumlahCdmas)</p>
                        <p>@GetTriager.GetTotalForMoney(item.fld_JumlahEwallet)</p>
                    </div>
                </div>
            </td>
            @*end by kamalia 24/11/21*@
            <td width="20%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                @*@if (item.fld_TolakWil_Status == 1 || item.fld_TolakWilGM_Status == 1 || item.fld_TolakHQ_Status == 1)
            {
                    textcolor = "red";
            }
            else
            {
                textcolor = "green";
            }*@
                @{
                    Html.RenderAction("ApplicationSupportHistoryDetail", "ApplicationSupport", new { SPWID = id });
                }
            </td>
            @*modify by kamalia 1/3/2022*@
            <td width="14%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                @if (item.fld_SemakWil_Status == 0 && item.fld_TolakWil_Status == 0 && item.fld_SokongWilGM_Status == 0 && item.fld_TolakWilGM_Status == 0 && item.fld_TerimaHQ_Status == 0 && item.fld_TolakHQ_Status == 0 && ViewBag.getgmstatus == 0)
                {
                    <button type="button" class="btn btn-primary btn-lg" style="font-size:10px;" id="@btnsemakid" onclick="UpdateStatus(this,@item.fld_ID,'SemakWil','@btnsemakid','@wlyhid','@item.fld_JumlahPermohonan','@item.fld_JumlahCash','@item.fld_JumlahCheque','@item.fld_JumlahEwallet','@item.fld_JumlahCdmas','@NoAcc', '@NoGL', '@NoCIT', '@item.fld_LdgName','@item.fld_SkbNo');">Approve</button>
                    <button type="button" class="btn btn-danger btn-lg" style="font-size:10px;" id="@btntolakid" onclick="UpdateStatus(this,@item.fld_ID,'TolakWil','@btnsemakid','@wlyhid','@item.fld_JumlahPermohonan','@item.fld_JumlahCash','@item.fld_JumlahCheque','@item.fld_JumlahEwallet','@item.fld_JumlahCdmas','@NoAcc', '@NoGL', '@NoCIT', '@item.fld_LdgName','@item.fld_SkbNo');">Reject</button>
                }
                else if (item.fld_SemakWil_Status == 1 && item.fld_TolakWil_Status == 0 && item.fld_SokongWilGM_Status == 0 && item.fld_TolakWilGM_Status == 0 && item.fld_TerimaHQ_Status == 0 && item.fld_TolakHQ_Status == 0 && ViewBag.getgmstatus == 0)
                {
                    <button type="button" class="btn btn-primary btn-lg" disabled style="font-size:10px;" id="@btnsemakid" onclick="UpdateStatus(this,@item.fld_ID,'SemakWil','@btnsemakid','@wlyhid','@item.fld_JumlahPermohonan','@item.fld_JumlahCash','@item.fld_JumlahCheque','@item.fld_JumlahEwallet','@item.fld_JumlahCdmas','@NoAcc', '@NoGL', '@NoCIT', '@item.fld_LdgName','@item.fld_SkbNo');">Approve</button>
                    <button type="button" class="btn btn-danger btn-lg" style="font-size:10px;" id="@btntolakid" onclick="UpdateStatus(this,@item.fld_ID,'TolakWil','@btnsemakid','@wlyhid','@item.fld_JumlahPermohonan','@item.fld_JumlahCash','@item.fld_JumlahCheque','@item.fld_JumlahEwallet','@item.fld_JumlahCdmas','@NoAcc', '@NoGL', '@NoCIT', '@item.fld_LdgName','@item.fld_SkbNo');">Reject</button>
                }
                else if (item.fld_SemakWil_Status == 0 && item.fld_TolakWil_Status == 1 && item.fld_SokongWilGM_Status == 0 && item.fld_TolakWilGM_Status == 0 && item.fld_TerimaHQ_Status == 0 && item.fld_TolakHQ_Status == 0 && ViewBag.getgmstatus == 0)
                {
                    <button type="button" class="btn btn-primary btn-lg" style="font-size:10px;" id="@btnsemakid" onclick="UpdateStatus(this,@item.fld_ID,'SemakWil','@btnsemakid','@wlyhid','@item.fld_JumlahPermohonan','@item.fld_JumlahCash','@item.fld_JumlahCheque','@item.fld_JumlahEwallet','@item.fld_JumlahCdmas','@NoAcc', '@NoGL', '@NoCIT', '@item.fld_LdgName','@item.fld_SkbNo');">Approve</button>
                    <button type="button" class="btn btn-danger btn-lg" disabled style="font-size:10px;" id="@btntolakid" onclick="UpdateStatus(this,@item.fld_ID,'TolakWil','@btnsemakid','@wlyhid','@item.fld_JumlahPermohonan','@item.fld_JumlahCash','@item.fld_JumlahCheque','@item.fld_JumlahEwallet','@item.fld_JumlahCdmas','@NoAcc', '@NoGL', '@NoCIT', '@item.fld_LdgName','@item.fld_SkbNo');">Reject</button>
                }
                else if ((item.fld_SemakWil_Status == 1 && item.fld_TolakWil_Status == 0) && (item.fld_SokongWilGM_Status == 1 || item.fld_TolakWilGM_Status == 1 || item.fld_TerimaHQ_Status == 1 || item.fld_TolakHQ_Status == 1 || ViewBag.getgmstatus > 0))
                {
                    <button type="button" class="btn btn-primary btn-lg" disabled style="font-size:10px;" id="@btnsemakid" onclick="UpdateStatus(this,@item.fld_ID,'SemakWil','@btnsemakid','@wlyhid','@item.fld_JumlahPermohonan','@item.fld_JumlahCash','@item.fld_JumlahCheque','@item.fld_JumlahEwallet','@item.fld_JumlahCdmas','@NoAcc', '@NoGL', '@NoCIT', '@item.fld_LdgName','@item.fld_SkbNo');">Approve</button>
                    <button type="button" class="btn btn-danger btn-lg" disabled style="font-size:10px;" id="@btntolakid" onclick="UpdateStatus(this,@item.fld_ID,'TolakWil','@btnsemakid','@wlyhid','@item.fld_JumlahPermohonan','@item.fld_JumlahCash','@item.fld_JumlahCheque','@item.fld_JumlahEwallet','@item.fld_JumlahCdmas','@NoAcc', '@NoGL', '@NoCIT', '@item.fld_LdgName','@item.fld_SkbNo');">Reject</button>
                }
            </td>
            <td width="8%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                <a href="#" onclick="ScTran('@tableid', '@wlyhid', @item.fld_ID);">Transaction Listing</a><br />
                <a href="#" onclick="Paysheet('@tableid', '@wlyhid', @item.fld_ID);">Paysheet</a>
            </td>
        </tr>
            totalprmhnnwng = totalprmhnnwng + item.fld_JumlahPermohonan;
            totalpaymentmode = item.fld_JumlahCash + item.fld_JumlahCheque + item.fld_JumlahCdmas + item.fld_JumlahEwallet;
            bill++;
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" bgcolor="#085480" style="color:white; text-align: right; vertical-align:middle !important;border:1px solid black;" border="1">
                Jumlah
            </td>
            <td bgcolor="#085480" style="color:white; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">
                @GetTriager.GetTotalForMoney(totalprmhnnwng)
            </td>
            @*Added by kamalia 24/11/21*@
            <td bgcolor="#085480" style="color:white; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">
                @GetTriager.GetTotalForMoney(totalpaymentmode)<br />
            </td>
            <td bgcolor="#085480" style="color:white; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">
                @*@if (ViewBag.getgmstatus > 0)
                    {
                        <button type="button" class="btn btn-primary btn-lg" style="font-size:10px;" id="emailgm" disabled onclick="EmailToGM('@tableid');">Email Untuk Sokongan Kepada GM</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary btn-lg" style="font-size:10px;" id="emailgm" onclick="EmailToGM('@tableid');">Email Untuk Sokongan Kepada GM</button>
                    }*@
            </td>
            <td bgcolor="#085480" style="color:white; text-align: right; vertical-align:middle !important;border:1px solid black;" border="1"></td>
            <td bgcolor="#085480" style="color:white; text-align: right; vertical-align:middle !important;border:1px solid black;" border="1"></td>
            @*end by kamalia 24/11/21*@
        </tr>
    </tfoot>
</table>

@*Added by kamalia 24/11/21*@
@* style for worker salary & payemnt mode *@
<style>
    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        padding: 15px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<script>
    function DisplayProgressMessage(ctl) {
        //$("body").addClass("submit-progress-bg");
        //$(".submit-progress").removeClass("hidden");
        $("#UpdateProgress1").css("display", "");
        return true;
    }
</script>
@*end by kamalia 24/11/21*@