@model IEnumerable<MVC_SYSTEM.ModelsCorporate.vw_PermohonanKewangan>
@using MVC_SYSTEM.Class
@{
    int bill = 1;
    GetTriager GetTriager = new GetTriager();
    GetLadang GetLadang = new GetLadang();
    int? wlyhid = Model.Select(s => s.fld_WilayahID).Take(1).FirstOrDefault();
    int? tableid = Model.Select(s => s.fld_LadangID).Take(1).FirstOrDefault();
    long id;
    decimal? totalprmhnnwng = 0;
    decimal? totalpaymentmode = 0;
    string btnskg = "btnskg" + tableid;
    string btntlk = "btntlk" + tableid;
    string textcolor = "green";
    int? month = Model.Select(s => s.fld_Month).Take(1).FirstOrDefault();
    int? year = Model.Select(s => s.fld_Year).Take(1).FirstOrDefault();
    int? gmstatustolak = Model.Select(s => s.fld_TolakWilGM_Status).Take(1).FirstOrDefault();
    int? gmstatussokong = Model.Select(s => s.fld_SokongWilGM_Status).Take(1).FirstOrDefault();
    int? gm2statustolak = Model.Select(s => s.fld_TolakHQ_Status).Take(1).FirstOrDefault();
    int? gm2statussokong = Model.Select(s => s.fld_TerimaHQ_Status).Take(1).FirstOrDefault();
    string NoAcc, NoGL, NoCIT;
}
<table class="table table-bordered table-hover" style="font-size: 11px;" border="0">
    <thead>
        <tr>
            <th colspan="8" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;font-size:small;" border="1">
                @*Modified by Shazana 20/4/2023*@
                Kelulusan Permohonan Wang Oleh Perladangan
            </th>
        </tr>
        <tr>
            <th colspan="8" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">
                @*Modified by Shazana 30/3/2023*@
                @*Modified by Shazana 20/4/2023*@
                WILAYAH @Model.Select(s => s.fld_WlyhName).Take(1).FirstOrDefault() BULAN @ViewBag.Month / @ViewBag.Year
            </th>
        </tr>
        <tr>
            <th width="5%" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResWorkerTransacSalary.hdrNo</th>
            <th width="5%" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResWorkerTransacSalary.hdrKodLdg</th>
            <th width="10%" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResWorkerTransacSalary.hdrNamaLdg</th>
            <th width="18%" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResWorkerTransacSalary.hdrGajiBuruh</th>
            <th width="16%" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">Mode Pembayaran (RM)</th>
            <th width="22%" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">Sejarah Tindakan</th>
            <th width="10%" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">Tindakan</th>
            <th width="8%" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">Rujukan</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            id = item.fld_ID;
            //GetLadang.GetLadangAcc(out NoAcc, out NoGL, out NoCIT, item.fld_LadangID, item.fld_WilayahID);
            NoAcc = item.fld_NoAcc;
            NoGL = item.fld_NoGL;
            NoCIT = item.fld_NoCIT;
            <tr>
                <td width="5%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                    @bill
                </td>
                <td width="5%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                    @item.fld_LdgCode
                </td>
                <td width="10%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                    @item.fld_LdgName
                </td>
                <td width="18%" align="left" style="vertical-align:middle !important;border:1px solid black;" border="1">
                    <div class="row">
                        <div class="column" width: 20%;>
                            <p>GAJI BERSIH</p>
                            <p>KWSP</p>
                            <p>SOCSO</p>
                            <p>SBKP</p>
                            <p>SIP</p>
                        </div>
                        <div class="column" width: 10%;>
                            <p>:</p>
                            <p>:</p>
                            <p>:</p>
                            <p>:</p>
                            <p>:</p>

                        </div>
                        <div class="column" width: 70%;>
                            <p>@GetTriager.GetTotalForMoney(item.fld_JumlahWorkerNet)</p>
                            <p>@GetTriager.GetTotalForMoney(item.fld_JumlahKwsp)</p>
                            <p>@GetTriager.GetTotalForMoney(item.fld_JumlahSocso)</p>
                            <p>@GetTriager.GetTotalForMoney(item.fld_JumlahSbkp)</p>
                            <p>@GetTriager.GetTotalForMoney(item.fld_JumlahSip)</p>
                        </div>
                    </div>

                    @*code utk ada link*@
                    @*<a href="#" onclick="UpdateStatus2(this,@item.fld_ID,'SemakWil','@id','@tableid','@item.fld_JumlahPermohonan','@NoAcc', '@NoGL', '@NoCIT', '@item.fld_JumlahPDP', '@item.fld_JumlahCIT', '@item.fld_JumlahManual', '@item.fld_LdgName','@item.fld_SkbNo');">@GetTriager.GetTotalForMoney(item.fld_JumlahPermohonan)</a>*@
                </td>
                <td width="16%" align="left" style="vertical-align:middle !important;border:1px solid black;" border="1">
                    <div class="row">
                        <div class="column" width: 40%;>
                            <p>CASH</p>
                            <p>CHEQUE</p>
                            <p>CDMAS</p>
                            <p>EWALLET</p>
                            <p>M2U</p>
                            <p>M2E</p>
                        </div>
                        <div class="column" width: 20%;>
                            <p>:</p>
                            <p>:</p>
                            <p>:</p>
                            <p>:</p>
                            <p>:</p>
                            <p>:</p>
                        </div>
                        <div class="column" width: 40%;>
                            <p>@GetTriager.GetTotalForMoney(item.fld_JumlahCash)</p>
                            <p>@GetTriager.GetTotalForMoney(item.fld_JumlahCheque)</p>
                            <p>@GetTriager.GetTotalForMoney(item.fld_JumlahCdmas)</p>
                            <p>@GetTriager.GetTotalForMoney(item.fld_JumlahEwallet)</p>
                            <p>@GetTriager.GetTotalForMoney(item.fld_JumlahM2U)</p>
                            <p>@GetTriager.GetTotalForMoney(item.fld_JumlahM2E)</p> @*Added by Shazana 25/7/2023*@
                        </div>
                    </div>
                </td>
                <td width="22%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                    @if (item.fld_TolakWil_Status == 1 || item.fld_TolakWilGM_Status == 1 || item.fld_TolakHQ_Status == 1)
                    {
                        textcolor = "red";
                    }
                    else
                    {
                        textcolor = "green";
                    }
                    <p>
                        <font color="@textcolor">
                            @{
                                Html.RenderAction("ApplicationSupportHistoryDetail", "ApplicationSupport", new { SPWID = id });

                            }
                        </font>
                    </p>
                </td>


                @*Added by Shazana 6/3/2023*@
                <td width="10%" valign="middle" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">

                    @if (item.fld_TolakWilGM_Status == 1 && item.fld_SokongWilGM_Status == 0 && item.fld_TolakHQ_Status == 0 && item.fld_TerimaHQ_Status == 0)
                    {
                        <button type="button" class="btn btn-primary btn-lg" disabled style="font-size:10px;" id="@btnskg" onclick="UpdateStatus(this,'@item.fld_LadangID','SokongGMWil', '@month','@year', '@item.fld_WlyhID');">Approve</button>
                        <button type="button" class="btn btn-danger btn-lg" disabled style="font-size:10px;" id="@btntlk" onclick="UpdateStatus(this,'@item.fld_LadangID', 'TolakGMWil', '@month','@year', '@item.fld_WlyhID');">Reject</button>
                    }
                    else if (item.fld_TolakWilGM_Status == 0 && item.fld_SokongWilGM_Status == 1 && item.fld_TolakHQ_Status == 0 && item.fld_TerimaHQ_Status == 0)
                    {
                        <button type="button" class="btn btn-primary btn-lg" style="font-size:10px;" id="@btnskg" onclick="UpdateStatus(this,'@item.fld_LadangID','SokongGMWil', '@month','@year', '@item.fld_WlyhID');">Approve</button>
                        <button type="button" class="btn btn-danger btn-lg" style="font-size:10px;" id="@btntlk" onclick="UpdateStatus(this,'@item.fld_LadangID', 'TolakGMWil', '@month','@year', '@item.fld_WlyhID');">Reject</button>
                    }
                    else if (item.fld_TolakWilGM_Status == 0 && item.fld_SokongWilGM_Status == 1 && item.fld_TolakHQ_Status == 1 && item.fld_TerimaHQ_Status == 0)
                    {
                        <button type="button" class="btn btn-primary btn-lg" style="font-size:10px;" id="@btnskg" onclick="UpdateStatus(this,'@item.fld_LadangID','SokongGMWil', '@month','@year', '@item.fld_WlyhID');">Approve</button>
                        <button type="button" class="btn btn-danger btn-lg" disabled style="font-size:10px;" id="@btntlk" onclick="UpdateStatus(this,'@item.fld_LadangID', 'TolakGMWil', '@month','@year', '@item.fld_WlyhID');">Reject</button>
                    }
                    else if (item.fld_TolakWilGM_Status == 0 && item.fld_SokongWilGM_Status == 1 && item.fld_TolakHQ_Status == 0 && item.fld_TerimaHQ_Status == 1)
                    {
                        <button type="button" class="btn btn-primary btn-lg" disabled style="font-size:10px;" id="@btnskg" onclick="UpdateStatus(this,'@item.fld_LadangID','SokongGMWil', '@month','@year', '@item.fld_WlyhID');">Approve</button>
                        <button type="button" class="btn btn-danger btn-lg" style="font-size:10px;" id="@btntlk" onclick="UpdateStatus(this,'@item.fld_LadangID', 'TolakGMWil', '@month','@year', '@item.fld_WlyhID');">Reject</button>
                    }
                    else
                    {
                        <p><font color="red"><b>Semakan Belum Selesai</b></font></p>
                    }

                </td>

                <td width="8%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                    <a href="#" onclick="ScTran('@item.fld_LadangID', '@item.fld_WlyhID', @item.fld_ID);">Transaction Listing</a><br />
                    <a href="#" onclick="Paysheet('@item.fld_LadangID',  '@item.fld_WlyhID', @item.fld_ID);">Paysheet</a>
                </td>
            </tr>
                                if (item.fld_JumlahM2U == null)
                                { item.fld_JumlahM2U = 0; }

                                //Added by Shazana 25/7/2023
                                if (item.fld_JumlahM2E == null)
                                { item.fld_JumlahM2E = 0; }

                                totalprmhnnwng = totalprmhnnwng + item.fld_JumlahPermohonan;
            @*Modified by Shazana 3/4/2023*@
            totalpaymentmode = totalpaymentmode + item.fld_JumlahCash + item.fld_JumlahCheque + item.fld_JumlahCdmas + item.fld_JumlahEwallet + item.fld_JumlahM2U + item.fld_JumlahM2E;
            bill++;
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" bgcolor="#085480" style="color:white; text-align: right; vertical-align:middle !important;border:1px solid black;" border="1">
                Total
            </td>
            <td bgcolor="#085480" style="color:white; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">
                @GetTriager.GetTotalForMoney(totalprmhnnwng)
            </td>
            <td bgcolor="#085480" style="color:white; text-align: center; vertical-align:middle !important;border:1px solid black;" border="1">
                @GetTriager.GetTotalForMoney(totalpaymentmode)
            </td>
            <td bgcolor="#085480" style="color:white; text-align: left; vertical-align:middle !important;border:1px solid black;" border="1"></td>
            <td bgcolor="#085480" style="color:white; text-align: left; vertical-align:middle !important;border:1px solid black;" border="1"></td>
            <td bgcolor="#085480" style="color:white; text-align: left; vertical-align:middle !important;border:1px solid black;" border="1"></td>
        </tr>

        @*Added by Shazana 3/4/2023*@
        @{
            totalprmhnnwng = 0;
            totalpaymentmode = 0;
        }

    </tfoot>
</table>
<br />
@*Commented by Shazana 6/3/2023*@
<!--<table class="table table-bordered table-hover" id="@tableid" style="font-size: 11px;" border="0">
    <thead>
        <tr>
            <th colspan="4" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">
                Tindakan Wilayah-->
@*@Model.Select(s => s.fld_WlyhName).Take(1).FirstOrDefault()*@
<!--</th>
        </tr>
        <tr>
            <th width="15%" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResWorkerTransacSalary.hdrNamaLdg</th>
            <th width="20%" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResWorkerTransacSalary.hdrGajiBuruh</th>
            <th width="20%" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">Sejarah Tindakan</th>
            <th width="10%" bgcolor="#073e5f" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">Tindakan</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td width="15%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                @Model.Select(s => s.fld_LdgName).Take(1).FirstOrDefault()
            </td>
            <td width="20%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                @GetTriager.GetTotalForMoney(totalprmhnnwng)
            </td>
            <td width="20%" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                @if (gm2statustolak == 0 && gm2statussokong == 1)
                {
                    <p><font color="green">Telah Diluluskan oleh Wilayah</font></p>
                }
                else if (gm2statustolak == 1 && gm2statussokong == 0)
                {
                    <p><font color="red">Telah Ditolak oleh Wilayah</font></p>
                }
            </td>
            <td width="10%" valign="middle" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">

                    @*if (hqstatustolak == 0 && hqstatussokong == 0)
            {
                <button type="button" class="btn btn-primary btn-lg" style="font-size:10px;" id="@btnskg" onclick="UpdateStatus(this,'@tableid','SokongGMWil', '@month','@year');">Approve</button>
                <button type="button" class="btn btn-danger btn-lg" style="font-size:10px;" id="@btntlk" onclick="UpdateStatus(this,'@tableid', 'TolakGMWil', '@month','@year');">Reject</button>
            }*@
                    <!--if (gmstatustolak == 1 && gmstatussokong == 0 && gm2statustolak == 0 && gm2statussokong == 0)
                    {
                        <button type="button" class="btn btn-primary btn-lg" disabled style="font-size:10px;" id="@btnskg" onclick="UpdateStatus(this,'@tableid','SokongGMWil', '@month','@year');">Approve</button>
                        <button type="button" class="btn btn-danger btn-lg" disabled style="font-size:10px;" id="@btntlk" onclick="UpdateStatus(this,'@tableid', 'TolakGMWil', '@month','@year');">Reject</button>
                    }
                    else if (gmstatustolak == 0 && gmstatussokong == 1 && gm2statustolak == 0 && gm2statussokong == 0)
                    {
                        <button type="button" class="btn btn-primary btn-lg" style="font-size:10px;" id="@btnskg" onclick="UpdateStatus(this,'@tableid','SokongGMWil', '@month','@year');">Approve</button>
                        <button type="button" class="btn btn-danger btn-lg" style="font-size:10px;" id="@btntlk" onclick="UpdateStatus(this,'@tableid', 'TolakGMWil', '@month','@year');">Reject</button>
                    }
                    else if (gmstatustolak == 0 && gmstatussokong == 1 && gm2statustolak == 1 && gm2statussokong == 0)
                    {
                        <button type="button" class="btn btn-primary btn-lg" style="font-size:10px;" id="@btnskg" onclick="UpdateStatus(this,'@tableid','SokongGMWil', '@month','@year');">Approve</button>
                        <button type="button" class="btn btn-danger btn-lg" disabled style="font-size:10px;" id="@btntlk" onclick="UpdateStatus(this,'@tableid', 'TolakGMWil', '@month','@year');">Reject</button>
                    }
                    else if (gmstatustolak == 0 && gmstatussokong == 1 && gm2statustolak == 0 && gm2statussokong == 1)
                    {
                        <button type="button" class="btn btn-primary btn-lg"disabled  style="font-size:10px;" id="@btnskg" onclick="UpdateStatus(this,'@tableid','SokongGMWil', '@month','@year');">Approve</button>
                        <button type="button" class="btn btn-danger btn-lg"  style="font-size:10px;" id="@btntlk" onclick="UpdateStatus(this,'@tableid', 'TolakGMWil', '@month','@year');">Reject</button>
                    }

                }
                else
                {
                    <p><font color="red"><b>Semakan Belum Selesai</b></font></p>
                }
            </td>

        </tr>
    </tbody>
</table>-->
@* style for worker salary & payemnt mode *@
<style>
    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        padding: 15px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>